{__NOLAYOUT__}
{include file="./_layout/header" /}
{js href="__JS__/echarts.js" /}
<script src="http://echarts.baidu.com/asset/map/js/china.js"></script>
{js href="__JS__/dark.js" /}

<body style="background: #1A1823;width:100%;height:100%">
<div id="table" style="width:100%;height:100%;">
    <table class="table table-bordered" data-striped="true" data-toolbar="#toolbar" data-show-columns="true" data-page-size="10" data-page-list="" data-unique-id="id" data-pagination="true" data-side-pagination="server" data-click-to-select="false" style="height:100%;width:100%;">
        <tr>
            <td style="width: 33%;height:33%;">
                <div id="chart1">
                    <span id="month_recharge" style="font-size:30px;color:white;"></span>
                    <span id="month_setup"  style="font-size:30px;color:white;"></span>
                </div>
            </td>
            <td style="width: auto;height:auto;" rowspan="2" colspan="3">
                <div style="width:100%;height:10%;background:#304053;text-align:center;font-size: 30px;color:white;">全国热力图</div>
                <div id="chart4" style="width:100%;height:90%;"></div>
            </td>

        </tr>
        <tr>
            <td style="width: auto;height:auto;">
                <div id="chart2" style="width:100%;height:100%;" ></div>
            </td>
        </tr>
        <tr>
            <td style="width: 33%;height:33%;">
                <div id="chart3" style="width:100%;height:100%;" ></div>
            </td>
            <td style="width: 22%;height:33%;" >
                <div id="chart5" style="width:100%;height:100%;"></div>
            </td>
            <td style="width: 22%;height:33%;">
                <div id="chart6" style="width:100%;height:100%;"></div>
            </td>
            <td style="width: 23%;height:33%;">
                <div id="chart7" style="width:100%;height:100%;"></div>
            </td>
        </tr>
    </table>
</div>
</body>
<script>
    function monthRecharge(){
        $.ajax({
            url:"{:url('manage/monitor/monthRecharge')}",
            method:'post',
            async:false,
            dataType:'json',
            data: {},
            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
            success: function(res){
                $('#month_recharge').html("本月充值："+res+"元")
            },
            error:function(){
                $('#month_recharge').html("")
            }
        })
    }
    monthRecharge()
    setInterval(function(){
        monthRecharge()
    },10000)
</script>
<script>
    function getRecharge(){
        var shuju="";
        $.ajax({
            url:"{:url('manage/monitor/recharge')}",
            method:'post',
            async:false,
            dataType:'json',
            data: {},
            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
            success: function(res){
                shuju = res;
            },
            error:function(){
                shuju = "";
            }
        })
        return shuju;
    }

    function echarts2(){
        var myChart2 = echarts.init(document.getElementById('chart2'));
        var data= getRecharge();
        data=getRecharge();
        option2 = {
            backgroundColor: '#29333E',
            title: {
                text: '最近七日充值',
                left: '3%',
                textStyle: {
                    color: '#ccc',
                    fontSize:22
                },

            },
            tooltip : {
                trigger: 'axis'
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : data.date,
                    axisLabel: {
                        show: true,
                        textStyle: {
                            color: '#dddddd'
                        }
                    },
                    axisLine:{
                        lineStyle:{
                            color:'#dddddd'
                        }
                    }
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value}',
                        textStyle: {
                            color: '#dddddd'
                        }
                    },
                    axisLine:{
                        lineStyle:{
                            color:'#dddddd'
                        }
                    }
                }
            ],
            series : [
                {
                    name:'本日收入',
                    type:'line',
                    stack: '总量',
                    itemStyle: {normal: {areaStyle: {type: 'default'}}},
                    data:data.money_number,
                    backgroundColor:'red'
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart2.setOption(option2);
    }
    echarts2()
    monthRecharge()
    setInterval(function(){
        echarts2()
        monthRecharge()
    },12000)
</script>
<script>
    function getCompanyRecharge(){
        var shuju="";
        $.ajax({
            url:"{:url('manage/monitor/getCompanyRecharge')}",
            method:'post',
            async:false,
            dataType:'json',
            data: {},
            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
            success: function(res){
                shuju = res;
            },
            error:function(){
                shuju = "";
            }
        })
        return shuju;
    }

    function echarts3(){
        // 基于准备好的dom，初始化echarts实例
        var myChart3 = echarts.init(document.getElementById('chart3'));
        var data=getCompanyRecharge();
        // 指定图表的配置项和数据
        option3 = {
            backgroundColor: '#29333E',
            color: ['#3398DB'],
            title: {
                text: '运营商本月充值排行榜(前五)',
                left: '3%',
                textStyle: {
                    color: '#ccc',
                    fontSize:22
                }

            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'value',
                boundaryGap: [0, 0.01],
                axisLabel: {
                    show: true,
                    textStyle: {
                        color: '#dddddd'
                    }
                },
                axisLine:{
                    lineStyle:{
                        color:'#dddddd'
                    }
                }
            },
            yAxis: {
                type: 'category',
                data: data.company,
                axisLabel: {
                    show: true,
                    textStyle: {
                        color: '#dddddd'
                    }
                },
                axisLine:{
                    lineStyle:{
                        color:'#dddddd'
                    }
                }
            },
            series: [
                {
                    type: 'bar',
                    data: data.sum
                }
            ]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart3.setOption(option3);
    }
    echarts3()
    setInterval(function(){
        echarts3()
    },14000)
</script>
<script>
    function getM_numberForProvince(){
        var shuju="";
        $.ajax({
            url:"{:url('manage/monitor/getM_numberForProvince')}",
            method:'post',
            async:false,
            dataType:'json',
            data: {},
            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
            success: function(res){
                shuju = res;
            },
            error:function(){
                shuju = "";
            }
        })
        return shuju;
    }
    function echarts4(){
        // 基于准备好的dom，初始化echarts实例
        var myChart4 = echarts.init(document.getElementById('chart4'),'dark');
        var data = getM_numberForProvince();
        // 指定图表的配置项和数据
        option4 = {
            backgroundColor: '#29333E',
            color: ['#30e0e0'],
            tooltip : {
                trigger: 'item'
            },
            dataRange: {
                min: 0,
                max: 2500,
                x: 'left',
                y: 'bottom',
                text:['高','低'],           // 文本，默认为数值文本
                calculable : true,
                color: ['#E0022B', '#E09107', 'green']
            },
            roamController: {
                show: true,
                x: 'right',
                mapTypeControl: {
                    'china': true
                }
            },
            series : [
                {
                    name: '表具报装数量',
                    zoom:1.2,
                    type: 'map',
                    mapType: 'china',
                    roam: false,
                    itemStyle:{
                        normal:{label:{show:true}},
                        emphasis:{label:{show:true}}
                    },
                    data:[
                        {name: '北京',value: data.北京市.number},
                        {name: '天津',value: data.天津市.number},
                        {name: '上海',value: data.天津市.number},
                        {name: '重庆',value: data.天津市.number},
                        {name: '河北',value: data.河北省.number},
                        {name: '河南',value: data.河南省.number},
                        {name: '云南',value: data.云南省.number},
                        {name: '辽宁',value: data.辽宁省.number},
                        {name: '黑龙江',value: data.黑龙江省.number},
                        {name: '湖南',value: data.湖南省.number},
                        {name: '安徽',value: data.安徽省.number},
                        {name: '山东',value: data.山东省.number},
                        {name: '新疆',value: data.新疆维吾尔自治区.number},
                        {name: '江苏',value: data.江苏省.number},
                        {name: '浙江',value: data.浙江省.number},
                        {name: '江西',value: data.江西省.number},
                        {name: '湖北',value: data.湖北省.number},
                        {name: '广西',value: data.广西壮族自治区.number},
                        {name: '甘肃',value: data.甘肃省.number},
                        {name: '山西',value: data.山西省.number},
                        {name: '内蒙古',value: data.内蒙古自治区.number},
                        {name: '陕西',value: data.陕西省.number},
                        {name: '吉林',value: data.吉林省.number},
                        {name: '福建',value: data.福建省.number},
                        {name: '贵州',value: data.贵州省.number},
                        {name: '广东',value: data.广东省.number},
                        {name: '青海',value: data.青海省.number},
                        {name: '西藏',value: data.西藏自治区.number},
                        {name: '四川',value: data.四川省.number},
                        {name: '宁夏',value: data.宁夏回族自治区.number},
                        {name: '海南',value: data.海南省.number},
                        {name: '台湾',value: data.台湾省.number},
                        {name: '香港',value: data.香港特别行政区.number},
                        {name: '澳门',value: data.澳门特别行政区.number}
                    ]
                }


            ]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart4.setOption(option4);
    }
    echarts4()
    monthRecharge()
    setInterval(function(){
        echarts4()
        monthRecharge()
    },16000)
</script>
<script>
    function getSetupNumber(){
        var shuju="";
        $.ajax({
            url:"{:url('manage/monitor/getSetupNumber')}",
            method:'post',
            async:false,
            dataType:'json',
            data: {},
            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
            success: function(res){
                shuju = res;
            },
            error:function(){
                shuju = "";
            }
        })
        return shuju;
    }

    function echarts5(){
        // 基于准备好的dom，初始化echarts实例
        var myChart5 = echarts.init(document.getElementById('chart5'));
        var data = getSetupNumber();
        // 指定图表的配置项和数据
        option5 = {
            backgroundColor: '#29333E',
            color: ['#3398DB'],
            title: {
                text: '最近七日报装数量',
                left: '3%',
                textStyle: {
                    color: '#ccc',
                    fontSize:22
                },

            },
            tooltip : {
                trigger: 'axis',
                axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                    type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis : [
                {
                    type : 'category',
                    data : data.date,
                    axisTick: {
                        alignWithLabel: true
                    },
                    axisLabel: {
                        show: true,
                        textStyle: {
                            color: '#dddddd'
                        }
                    },
                    axisLine:{
                        lineStyle:{
                            color:'#dddddd'
                        }
                    }
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel: {
                        show: true,
                        textStyle: {
                            color: '#dddddd'
                        }
                    },
                    axisLine:{
                        lineStyle:{
                            color:'#dddddd'
                        }
                    }
                }
            ],
            series : [
                {
                    name:'报装数量',
                    type:'bar',
                    barWidth: '60%',
                    data:data.number
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart5.setOption(option5);
    }
    echarts5()
    setInterval(function(){
        echarts5()
    },18000)
</script>
<script>
    function getSetupNumberByM_Type(){
        var shuju="";
        $.ajax({
            url:"{:url('manage/monitor/getSetupNumberByM_Type')}",
            method:'post',
            async:false,
            dataType:'json',
            data: {},
            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
            success: function(res){
                $('#month_setup').html("本月报装："+(res[0]+res[1]+res[2])+"户")
                shuju = res;
            },
            error:function(){
                shuju = "";
            }
        })
        return shuju;
    }
    function echarats6(){
        // 基于准备好的dom，初始化echarts实例
        var myChart6 = echarts.init(document.getElementById('chart6'));
        var data = getSetupNumberByM_Type();
        // 指定图表的配置项和数据
        option6 = {
            backgroundColor: '#29333E',
            title: {
                text: '本月水电气报装比例',
                left: '3%',
                textStyle: {
                    color: '#ccc',
                    fontSize:22
                }

            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            visualMap: {
                show: false,
                min: 1,
                max: 600,
                inRange: {
                    color: ['blue', 'orange', 'red']
                }
            },
            series : [
                {
                    name:'水电气',
                    type:'pie',
                    radius : '55%',
                    center: ['50%', '50%'],
                    data:[
                        {value:data[0], name:'自来水公司'},
                        {value:data[1], name:'电力公司'},
                        {value:data[2], name:'煤气公司'}
                    ].sort(function (a, b) { return a.value - b.value; }),
                    roseType: 'radius',
                    label: {
                        normal: {
                            textStyle: {
                                color: 'rgba(255, 255, 255, 0.3)'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            lineStyle: {
                                color: 'rgba(255, 255, 255, 0.3)'
                            },
                            smooth: 0.2,
                            length: 10,
                            length2: 20
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: '#c23531',
                            shadowBlur: 200,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    },

                    animationType: 'scale',
                    animationEasing: 'elasticOut',
                    animationDelay: function (idx) {
                        return Math.random() * 200;
                    }
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart6.setOption(option6);
    }
    echarats6()
    setInterval(function(){
        echarats6()
    },20000)
</script>
<script>
    function getM_numberForTop_five(){
        var shuju="";
        $.ajax({
            url:"{:url('manage/monitor/getM_numberForTop_five')}",
            method:'post',
            async:false,
            dataType:'json',
            data: {},
            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
            success: function(res){
                shuju = res;
            },
            error:function(){
                shuju = "";
            }
        })
        return shuju;
    }

    function echarts7(){
        // 基于准备好的dom，初始化echarts实例
        var myChart7 = echarts.init(document.getElementById('chart7'));
        var data = getM_numberForTop_five();
        // 指定图表的配置项和数据
        option7 = {
            backgroundColor: '#29333E',
            title: {
                text: '全国表具报装排行',
                left: '3%',
                textStyle: {
                    color: '#ccc',
                    fontSize:22
                },

            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'value',
                boundaryGap: [0, 0.01],
                axisLabel: {
                    show: true,
                    textStyle: {
                        color: '#dddddd'
                    }
                },
                axisLine:{
                    lineStyle:{
                        color:'#dddddd'
                    }
                }
            },
            yAxis: {
                type: 'category',
                data: data.province,
                axisLabel: {
                    show: true,
                    textStyle: {
                        color: '#dddddd'
                    }
                },
                axisLine:{
                    lineStyle:{
                        color:'#dddddd'
                    }
                }
            },
            series: [
                {
                    name: '2011年',
                    type: 'bar',
                    data: data.number
                }
            ]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart7.setOption(option7);
    }
    echarts7()
    setInterval(function(){
        echarts7()
    },22000)
</script>



