{js href="__JS__/bootstrap-datetimepicker.min.js" /}
{js href="__JS__/bootstrap-datetimepicker.zh-CN.js" /}
{js href="__JS__/layer/layer.js" /}
{css href="__CSS__/bootstrap-datetimepicker.min.css" /}
<div id="content" style="opacity: 1; background-color: #e6e6e6; border: 1px #cccccc solid; margin-bottom: 40px;">
    <section id="widget-grid">
        <div class="row">
            <div class="col-lg-12 table-responsive">
                <div class="ibox float-e-margins" style="background: white; float: left; width: 100%;">
                    <!-- 表单内容 -->
                    <div class="ibox-title" style="background-color: #2377AF; color: #ffffff;">
                        <h5>{:lang('Manage Production')}</h5>
                    </div>
                    <div class="ibox-content">
                        <button class="btn btn-primary" onclick="production_add()">{:lang('Add')}</button>
                        <hr style="height:1px;border:none;border-top:1px solid #555555;" />
                        <!--原表信息-->
                        <div>
                            <table class="table table-bordered" data-striped="true" data-toolbar="#toolbar" data-show-columns="true" data-page-size="10" data-page-list="" data-unique-id="id" data-pagination="true" data-side-pagination="server" data-click-to-select="false">
                            <thead>
                            <tr>
                                <th>{:lang('Production Name')}</th>
                                <th>{:lang('RMB Price')}</th>
                                <th>{:lang('Production Status')}</th>
                                <th>{:lang('Create Time')}</th>
                                <th>{:lang('Operate')}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name='productions' id='vo'}
                            <tr>
                                <td>{$vo.name??''}</td>
                                <td>{$vo.rmbprice ?? ''}</td>
                                <td>{switch name="vo.status"}
                                    {case $Think.PRODUCTION_SHELVES}{:lang('put on sale')}{/case}
                                    {default /}{:lang('pull off shelves')}
                                    {/switch}
                                </td>
                                <td>
                                    {$vo.create_time}
                                </td>
                                <td><button class="btn btn-primary" onclick="production_eidt('{$vo.id}')">{:lang('Edit')}</button></td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table></div>
                        <div>
                            {$productions->render()}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{:lang('Save Production')}</h4>
            </div>
            <div class="modal-body form-horizontal">
                <input style="display: none" name="id" value="" id="id" />
                <div class="form-group">
                    <label for="name" class="col-md-2 control-label">{:lang('Production Name')}</label>
                    <div class="col-md-10">
                        <input class="form-control" name="name" id="name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="preview" class="col-md-2 control-label">{:lang('Shop Preview')}</label>
                    <div id="preview" class="col-md-10">
                    </div>
                </div>
                <div class="form-group">
                    <label for="img" class="col-md-2 control-label">{:lang('Production Img')}</label>
                    <div class="col-md-10">
                        <input class="form-control" type="file"  accept=".png,.jpg" name="img" id="img" />
                        <span style="color:red">(支持格式：jpg、png，图片大小：10M)</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="rmbprice" class="col-md-2 control-label">{:lang('RMB Price')}</label>
                    <div class="col-md-10">
                        <input class="form-control" type="number" name="rmbprice" id="rmbprice">
                    </div>
                </div>
                <div class="form-group">
                    <label for="status" class="col-md-2 control-label">{:lang('Production Status')}</label>
                    <div class="col-md-10">
                        <select name="status" id="status" class="form-control">
                            <option value="{$Think.PRODUCTION_OFF_SHELVES}">{:lang('pull off shelves')}</option>
                            <option value="{$Think.PRODUCTION_SHELVES}">{:lang('put on sale')}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="desc" class="col-md-2 control-label">商品描述</label>
                    <div class="col-md-10">
                        <textarea name="desc" id="desc" cols="63" rows="5"></textarea>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{:lang('Cancel')}</button>
                <button type="button" id="sub" class="btn btn-primary" onclick="sub();">{:lang('Save')}</button>
            </div>
        </div>
    </div>
</div>
<script>

    function production_add(){
        clearModal()
        $('#myModal').modal('show')
    }

    function clearModal(){
        $('#id').val('');
        $('#edit_productionname').val('');
        $('#rmbprice').val('');
        $('#desc').val('');
        $('#img').val('');
        $('#preview').empty();
        $('#edit_status').find('option').each(function(){
            $(this).prop("selected",false);
        });
    }

    function production_eidt(production_id){
        $.ajax({
            url:"{:url('qyshop/production/getProductionInfoById')}",
            method:'post',
            dataType:'json',
            data: {id: production_id},
            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
            success: function(res){
                if(res.code != 200){
                    alertMsg(res.msg);
                }else{
                    clearModal();
                    fillModal(res.data);
                    $('#myModal').modal('show')
                }
            },
            error:function(){
                alertMsg("{:lang('Operation fail')}");
            }
        })
    }

    function fillModal(data){
        $('#id').val(data.id);
        $('#rmbprice').val(data.rmbprice);
        $('#name').val(data.name);
        $('#desc').val(data.desc);
        $('#preview').empty();
        var preview = $('<img style="width: 200px;height: 200px"/>');
        preview.attr('src',data.img);
        $('#preview').append(preview)
        $('#status').find('option[value="'+data.status+'"]').prop("selected",true);
    }

    window.onload = function(){
        var img = $('#img');
        if ( typeof(FileReader) === 'undefined' ){
            alert("抱歉，你的浏览器不支持 FileReader，请使用现代浏览器操作！");
            img.setAttribute( 'disabled','disabled' );
        }
    }

    $('#img').change(function(){
        var file = this.files[0];
        //这里我们判断下类型如果不是图片就返回 去掉就可以上传任意文件
        if(!/image\/\w+/.test(file.type)){
            alert("请确保文件为图像类型");
            return false;
        }
        $('#preview').empty();
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function(e){
            createCanvas(this.result);
        }
    })

    function createCanvas(src){
        var canvas = document.createElement('CANVAS');
        var cxt = canvas.getContext('2d');
        var img = new Image();
        img.src = src;
        img.onload = function() {
            var maxHeight = 200;
            var maxWidth=  200;
            if(img.height > img.width){
                if(img.height > maxHeight){
                    img.width *= maxHeight/img.height;
                    img.height = maxHeight;
                }
            }else{
                if(img.width > maxWidth){
                    img.height *= maxWidth/img.width;
                    img.width = maxWidth;
                }
            }
            canvas.width = img.width;
            canvas.height = img.height;
            cxt.drawImage(img,0,0,img.width,img.height);
            var base64 = canvas.toDataURL("image/jpeg");
            var preview = $('<img />');
            preview.attr('src',base64);
            $('#preview').append(preview);
        }
    }

    function sub(){
        $('#sub').prop('disabled',true);
        var id = $('#id').val();
        var rmbprice = $('#rmbprice').val();
        var name = $('#name').val();
        var status = $('#status').val();
        var desc = $('#desc').val();
        var img = document.getElementById("img").files[0];
        if($('#img').val()=="" && id==""){
            alertMsg('{:lang("Shop Img Require")}');
            $('#sub').prop('disabled',false);
            return false;
        }
        if( name == '' || name == 'undefined' || name == null ){
            alertMsg("{:lang('Production Name Require')}");
            $('#sub').prop('disabled',false);
            return false;
        }
        if( desc == '' || desc == 'undefined' || desc == null ){
            alertMsg("{:lang('Production Desc Require')}");
            $('#sub').prop('disabled',false);
            return false;
        }
        if(rmbprice == '' || rmbprice == 'undefined' || rmbprice == null ){
            alertMsg("人民币价格不能为空！");
            $('#sub').prop('disabled',false);
            return false;
        }
        var formData = new FormData();
        if(id != '' && id != null){
            formData.append('id',id);
        }
        formData.append('name',name);
        formData.append('rmbprice',rmbprice);
        formData.append('status',status);
        formData.append('desc',desc);
        formData.append('img',img);
        $.ajax({
            url: "{:url('qyshop/production/saveProduction')}",
            type: "POST",
            dataType:"json",
            data: formData,
            contentType: false,
            processData: false,
            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
            success:function (res) {
                if(res.code==200){
                    alertMsg(res.msg,3);
                    $('#sub').prop('disabled',false);
                    setTimeout(function(){ window.location.href = ''},2000);
                }else{
                    alertMsg(res.msg,3);
                    $('#sub').prop('disabled',false);
                }
            },
            error: function () {
                alertMsg("{:lang('Operation fail')}");
                $('#sub').prop('disabled',false);
            }
        });
    }
</script>

                   
