
<div id="content" style="opacity: 1; background-color: #e6e6e6; border: 1px #cccccc solid; margin-bottom: 40px;">
    <section id="widget-grid">
        <div class="row">
            <div class=" table-responsive">
                <div class="ibox float-e-margins" style="padding: 10px">
                    <!-- 表单内容 -->
                    <div class="ibox-title" style="background-color: #2377AF; color: #ffffff;">
                        <h5>{$name}的待下发币列表</h5>
                    </div>
                    <div class="ibox-content form-horizontal">
                        <div class="form-group">
                            <div  class="col-sm-2">
                                <button style="float: left;" onclick="currency_add()" class="btn btn-primary" type="button"  >{:lang('Add')}</button>
                            </div>
                        </div>
                        <div>
                            <table class="table table-bordered" data-striped="true" data-toolbar="#toolbar" data-show-columns="true" data-page-size="10" data-page-list="" data-unique-id="id" data-pagination="true" data-side-pagination="server" data-click-to-select="false">
                            <thead>
                            <tr>
                                <th>币种</th>
                                <th>数量</th>
                                <th>剩余的数量</th>
                                <th>已发送的数量</th>
                                <th>状态</th>
                                <th>开始时间</th>
                                <th>{:lang('Operate')}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name='currencylist' id='vo'}
                            <tr>
                                <td>{$vo.coin.name ?? '-'}</td>
                                <td>{$vo.number ?? '-'}</td>
                                <td>{$vo.rest_number ?? '-'}</td>
                                <td>{$vo.send_number ?? '-'}</td>
                                <td>{$vo.send ?? '0'}</td>
                                <td>{$vo.start_send_time ?? ''}</td>
                                <td>
                                    <button class="btn btn-primary" onclick="customer_edit('{$vo.id}')">开始/取消发币</button>
                                    <button class="btn btn-danger" onclick="deleteCustomer('{$vo.id}')">{:lang('Delete')}</button>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table></div>
                        <div >
                            <button style="float:right;margin-right:1vw;" class="btn btn-primary" onclick="javascript:history.back(-1)">返回</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加待发币</h4>
            </div>

            <div class="modal-body form-horizontal">
                <input type="hidden" id="cid" name="cid" value="{$cid}" />
                <div class="form-group">
                    <label for="coin_id" class="col-md-2 control-label">币种</label>
                    <div class="col-md-10">
                        <select name="coin_id" id="coin_id" class="form-control" >
                            {volist name="coinlist" id="vo"}
                            <option value="{$vo.id}">{$vo.name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="number" class="col-md-2 control-label">数量</label>
                    <div class="col-md-10">
                        <input id="number" name="number" class="form-control" type="number"/>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{:lang('Cancel')}</button>
                <button type="button" id="sub" class="btn btn-primary" onclick="sub();">{:lang('Save')}</button>
            </div>
        </div>
    </div>
</div>
<script>

    function currency_add(){
        $('#myModal').modal('show');
    }

    function sub(){
        $('#sub').prop('disabled',true);
        var cid = $('#cid').val();
        var coin_id = $('#coin_id').val();
        var number = $('#number').val();
        var formData = new FormData();
        if(Number(number) <= 0){
            alertMsg("添加的数量不能小于等于0");
            $('#sub').prop('disabled',false);
            return;
        }
        formData.append('cid',cid);
        formData.append('coin_id',coin_id);
        formData.append('number',number);
        $.ajax({
            url: "{:url('admin/customer/saveCurrency')}",
            type: "POST",
            dataType:"json",
            data: formData,
            contentType: false,
            processData: false,
            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
            success:function (res) {
                if(res.code != 200){
                    alertMsg(res.msg);
                }else{
                    alertMsg(res.msg);
                    setTimeout(function(){window.location.href=''},2000)
                }
                $('#sub').prop('disabled',false);

            },
            error: function () {
                alertMsg("操作失败");
                $('#submitBtn').prop('disabled',false);
            }
        });
    }

    function deleteCustomer(id){
        alertConfirm('确定要这一项吗？',function(){
            $.ajax({
                url:"{:url('admin/customer/deleteCustomerByid')}",
                method:'post',
                dataType:'json',
                data: {id: id},
                beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
                success: function(res){
                    if(res.code != 200){
                        alertMsg(res.msg,2);
                    }else{
                        alertMsg(res.msg,2);
                        setTimeout(function(){window.location.href=''},3000)
                    }
                },
                error:function(){
                    alertMsg("{:lang('Operation fail')}");
                }
            })
        })
    }
</script>



                   
