<div id="content" style="opacity: 1; background-color: #e6e6e6; border: 1px #cccccc solid; margin-bottom: 40px;">
    <section id="widget-grid">
        <div class="row">
            <div class="col-lg-12 table-responsive">
                <div class="ibox float-e-margins" style="background: white; float: left; width: 100%;">
                    <!-- 表单内容 -->
                    <div class="ibox-title" style="background-color: #2377AF; color: #ffffff;">
                        <h5>{:lang('Manage Shop')}</h5>
                    </div>
                    <div class="ibox-content">
                        <hr style="height:1px;border:none;border-top:1px solid #555555;" />
                        <!--店铺信息-->
                        <div>
                            <table class="table table-bordered" data-striped="true" data-toolbar="#toolbar" data-show-columns="true" data-page-size="10" data-page-list="" data-unique-id="id" data-pagination="true" data-side-pagination="server" data-click-to-select="false">
                            <thead>
                            <tr>
                                <th>{:lang('Shop Name')}</th>
                                <th>{:lang('Production Dict')}</th>
                                <th>{:lang('Shop Status')}</th>
                                <th>{:lang('Create time')}</th>
                                <th>{:lang('Operate')}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{$shop.name}</td>
                                <td>{$shop.dict.desc}</td>
                                <td>{if condition="$shop.status"}
                                    {:lang('Start')}
                                    {else /}
                                    {:lang('Off')}
                                    {/if}
                                </td>
                                <td>{$shop.create_time}</td>
                                <td><button class="btn btn-danger" onclick="edit('{$shop.id}')">{:lang('Edit')}</button></td>
                            </tr>
                            </tbody>
                        </table></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{:lang('Edit')}</h4>
            </div>
            <div class="modal-body form-horizontal">
                <input name="id" id="id" style="display: none">
                <div class="form-group">
                    <label for="name" class="col-md-2 control-label">{:lang('Shop Name')}</label>
                    <div class="col-md-10">
                        <input class="form-control" name="name" id="name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="desc" class="col-md-2 control-label">{:lang('Shop Desc')}</label>
                    <div class="col-md-10">
                        <input class="form-control" name="desc" id="desc">
                    </div>
                </div>
                <div class="form-group">
                    <label for="notify" class="col-md-2 control-label">{:lang('Shop Notify')}</label>
                    <div class="col-md-10">
                        <input class="form-control" name="notify" id="notify">
                    </div>
                </div>
                <div class="form-group">
                    <label for="category" class="col-md-2 control-label">{:lang('Production Dict')}</label>
                    <div class="col-md-10">
                        <select class="form-control" name="category" id="category">
                            {foreach $dictlist as $dict}
                                <option value="{$dict.id}">{$dict.desc}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="preview" class="col-md-2 control-label">{:lang('Shop Preview')}</label>
                    <div id="preview" class="col-md-10"><img id="pre" src="" style="width: 200px;height: 200px" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="img" class="col-md-2 control-label">{:lang('Shop Img')}</label>
                    <div class="col-md-10">
                        <input class="form-control" type="file"  accept=".png,.jpg" name="img" id="img" />
                        <span style="color:red">(支持格式：jpg、png，图片大小：10M)</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="personName" class="col-md-2 control-label">{:lang('Shop personName')}</label>
                    <div class="col-md-10">
                        <input class="form-control" name="personName" id="personName">
                    </div>
                </div>
                <div class="form-group">
                    <label for="bank" class="col-md-2 control-label">{:lang('Shop Bank')}</label>
                    <div class="col-md-10">
                        <input class="form-control" name="bank" id="bank">
                    </div>
                </div>
                <div class="form-group">
                    <label for="cardNumber" class="col-md-2 control-label">{:lang('Shop cardNumber')}</label>
                    <div class="col-md-10">
                        <input class="form-control" name="cardNumber" id="cardNumber">
                    </div>
                </div>
                <div class="form-group">
                    <label for="status" class="col-md-2 control-label">{:lang('Shop Status')}</label>
                    <div class="col-md-10">
                        <select name="status" id="status" class="form-control">
                            <option value={$Think.const.SHOP_STATUS_OPEN}>{:lang('Open')}</option>
                            <option value={$Think.const.SHOP_STATUS_CLOSE}>{:lang('Close')}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{:lang('Cancel')}</button>
                <button id='sub' type="button" class="btn btn-primary" onclick="sub();">{:lang('Save')}</button>
            </div>
        </div>
    </div>
</div>

<script>
    function edit(id){
        $.ajax({
            url:"{:url('qyshop/shop/getQYShopById')}",
            method:'post',
            dataType:'json',
            data: {id:id},
            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
            success: function(res){
                if(res.code == 200){
                    fillModal(res.data);
                    $('#myModal').modal('show');
                }else{
                    alertMsg(res.msg);
                }
            },
            error:function(){
                alertMsg("{:lang('Operation fail')}");
            }
        })
    }

    function fillModal(data){
        $('#id').val(data.id);
        $('#name').val(data.name);
        $('#desc').val(data.desc);
        $('#notify').val(data.notify);
        $('#category').val(data.category.id);
        $('#pre').attr('src',data.img);
        $('#personName').val(data.personName);
        $('#bank').val(data.bank);
        $('#cardNumber').val(data.cardNumber);
        $('#status').val(data.status);
    }

    window.onload = function(){
        var img = $('#img');
        if ( typeof(FileReader) === 'undefined' ){
            alert("抱歉，你的浏览器不支持 FileReader，请使用现代浏览器操作！");
            img.setAttribute( 'disabled','disabled' );
        }
    }

    $('#img').change(function(){
        var file = this.files[0];
        //这里我们判断下类型如果不是图片就返回 去掉就可以上传任意文件
        if(!/image\/\w+/.test(file.type)){
            alert("请确保文件为图像类型");
            return false;
        }
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function(e){
            createCanvas(this.result);
        }
    })

    function createCanvas(src){
        var canvas = document.createElement('CANVAS');
        var cxt = canvas.getContext('2d');
        var img = new Image();
        img.src = src;
        img.onload = function() {
            var maxHeight = 200;
            var maxWidth=  200;
            if(img.height > img.width){
                if(img.height > maxHeight){
                    img.width *= maxHeight/img.height;
                    img.height = maxHeight;
                }
            }else{
                if(img.width > maxWidth){
                    img.height *= maxWidth/img.width;
                    img.width = maxWidth;
                }
            }
            canvas.width = img.width;
            canvas.height = img.height;
            cxt.drawImage(img,0,0,img.width,img.height);
            var base64 = canvas.toDataURL("image/jpeg");
            $('#pre').attr('src',base64);
        }
    }

    function sub(){
        $('#sub').prop('disabled',true);
        var id = $('#id').val();
        var name = $('#name').val();
        var img = document.getElementById("img").files[0];
        var desc =$('#desc').val();
        var notify =$('#notify').val();
        var category =$('#category').val();
        var personName =$('#personName').val();
        var bank =$('#bank').val();
        var status =$('#status').val();
        var cardNumber =$('#cardNumber').val();
        if(name == ''|| name =='undefined'||name==null){
            alertMsg('{:lang("Shop Name Require")}',2);
            $('#sub').prop('disabled',false);
            return false;
        }
        if(desc == ''|| desc =='undefined'||desc==null){
            alertMsg('{:lang("Shop Desc Require")}',2);
            $('#sub').prop('disabled',false);
            return false;
        }
        if(personName == ''|| personName =='undefined'||personName==null){
            alertMsg('{:lang("Shop PersonName Require")}',2);
            $('#sub').prop('disabled',false);
            return false;
        }
        if(bank == ''|| bank =='undefined'||bank==null){
            alertMsg('{:lang("Shop Bank Require")}',2);
            $('#sub').prop('disabled',false);
            return false;
        }
        if(cardNumber == ''|| cardNumber =='undefined'||cardNumber==null){
            alertMsg('{:lang("Shop cardNumber Require")}',2);
            $('#sub').prop('disabled',false);
            return false;
        }
        var formData = new FormData();
        formData.append('id',id);
        formData.append('name',name);
        formData.append('desc',desc);
        formData.append('notify',notify);
        formData.append('category',category);
        formData.append('personName',personName);
        formData.append('bank',bank);
        formData.append('cardNumber',cardNumber);
        formData.append('status',status);
        if(img != null && img != '' && img !='undefined'){
            formData.append('img',img);
        }
        $.ajax({
            url: "{:url('qyshop/shop/editQYShop')}",
            type: "POST",
            dataType:"json",
            data: formData,
            contentType: false,
            processData: false,
            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
            success:function (res) {
                if(res.code==200){
                    alertMsg(res.msg,3);
                    setTimeout(function(){ window.location.href = ''},2000);
                }else{
                    alertMsg(res.msg,3);
                    $('#sub').prop('disabled',false);
                }
            },
            error: function () {
                alertMsg("{:lang('Operation fail')}");
                $('#sub').prop('disabled',false);
            }
        });
    }
</script>