<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins" style="background: white;padding: 10px">
                <!-- 表单标题概要 -->
                <div class="ibox-title">
                    <h5>{:lang('Meter')}{:lang('Change')}</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <!-- 表单内容 -->
                <div class="ibox-content">
                    <!-- 表格数据 -->
                    <form data-method="post" data-submit="ajax" data-validate="true" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-lg-6" style="float: right">
                                <div class="input-group">
                                    <input id="M_Code" type="text" class="form-control" placeholder="请输入表号...">
                                        <span class="input-group-btn">
                                            <button id="search" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span> </button>
                                        </span>
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-6 -->
                        </div>

                        <hr style="height:1px;border:none;border-top:1px solid #555555;" />

                        <!--原表信息-->
                        <h5>原表信息</h5>
                        <hr style="height:1px;border:none;border-top:1px dashed #0066CC;" />
                        <div id="meterInfo">
                            <label for="M_Code_P" class="col-sm-2 control-label">表号</label>
                            <div class="col-sm-4">
                                <p id="M_Code_P" class="form-control" style="border: none"></p>
                            </div>
                            <label for="M_Type" class="col-sm-2 control-label">表具类型</label>
                            <div class="col-sm-4">
                                <p id="M_Type" class="form-control" style="border: none"></p>
                            </div>
                            <label for="username" class="col-sm-2 control-label">用户姓名</label>
                            <div class="col-sm-4">
                                <p id="username" class="form-control" style="border: none"></p>
                            </div>
                            <label for="left" class="col-sm-2 control-label">剩余金额</label>
                            <div class="col-sm-4">
                                <p id="left" class="form-control" style="border: none"></p>
                            </div>
                            <label for="tel" class="col-sm-2 control-label">联系电话</label>
                            <div class="col-sm-4">
                                <p id="tel" class="form-control" style="border: none"></p>
                            </div>
                            <label for="address" class="col-sm-2 control-label">安装地址</label>
                            <div class="col-sm-4">
                                <p id="address" class="form-control" style="border: none"></p>
                            </div>
                        </div>
                        <!--换表信息-->
                        <h5>换表信息</h5>
                        <hr style="height:1px;border:none;border-top:1px dashed #0066CC;" />
                        <div id="newMeterInfo">
                            <div class="form-group">
                                <label for="new_M_Code" class="col-sm-2 control-label">新表号</label>
                                <div class="col-sm-10">
                                    <input class="form-control"  name="new_M_Code" id="new_M_Code" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="change_reason" class="col-sm-2 control-label">换表原因</label>
                                <div class="col-sm-10">
                                    <input class="form-control"  name="change_reason" id="change_reason" >
                                </div>
                            </div>
                        <div class="form-group" style="color:red">
                            <label  class="col-sm-2 control-label">操作提示:</label>
                            <div class="col-sm-10">
                                <p class="form-control" style="border: none">请先在搜索框输入表号进行查询，返回符合条件的结果,再进行操作</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <button style="float: right" class="btn btn-success" type="button" onclick="changeMeter()" >提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#search').click(function(){
        var M_Code = $('#M_Code').val();
        if( M_Code != 'undefined' && M_Code!= '' && M_Code != null){
            $.ajax({
                url:"{:url('admin/meter/getMeterData')}",
                method:'post',
                dataType:'json',
                data:{M_Code: M_Code},
                beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
                success: function(res){
                    if(res.code != 200){
                        $('#meterInfo P').each(function(){$(this).text('')});
                        alertMsg(res.msg);
                    }else{
                        fillText(res);
                    }
                },
                error:function(){
                    alertMsg("操作失败！");
                }
            })
        }else{
            alertMsg("请先填写表号");
        }

    })

    function fillText(data){
        var meter = data['meter'];
        var consumer = data['consumer'];
        $('#M_Code_P').text(meter.M_Code);
        if( meter.M_Type == "{$Think.const.METER_TYPE_WATER}" ){
            $('#M_Type').text("水表");
        }else if(meter.M_Type == "{$Think.const.METER_TYPE_ELECTRICITY}"){
            $('#M_Type').text("电表");
        }else if(meter.M_Type == "{$Think.const.METER_TYPE_GAS}"){
            $('#M_Type').text("气表");
        }
        if( consumer == "undefined" || consumer == null || consumer == ''){

        }else{
            $('#username').text(consumer.username);
            $('#tel').text(consumer.tel);
            //$('#left').text(consumer.left);
            $('#address').text(meter.area+' '+meter.detail_address);
        }
    }

    function changeMeter(){
        var old_M_Code = $('#M_Code_P').text();
        var new_M_Code = $('#new_M_Code').val();
        var change_reason = $('#change_reason').val();
        var changeinfo = {"old_M_Code": old_M_Code, "new_M_Code": new_M_Code, "change_reason": change_reason};
        if( check(changeinfo) ){
            $.ajax({
                url:"{:url('admin/meter/changeMeter')}",
                method:'post',
                dataType:'json',
                data:{changeinfo: JSON.stringify(changeinfo)},
                beforeSend:function(){}, //覆盖main.js中的方法,否则success回调方法不能正常使用
                success: function(res){
                    alertMsg(res.msg);
                    if( res.code == 200 ){
                        setTimeout(function(){window.location.href = ''},1500);
                    }
                },
                error:function(){
                    alertMsg("操作失败！");
                }
            })
        }
    }

    function check(meter){
        if( meter.old_M_Code == "" || meter.old_M_Code == null || meter.old_M_Code == "undefined"){
            alertMsg("请先搜索表号");
            return false;
        }
        if( meter.new_M_Code == "" || meter.new_M_Code == null || meter.new_M_Code == "undefined"){
            alertMsg("请先填写新表号");
            return false;
        }
        if( meter.change_reason == "" || meter.change_reason == null || meter.change_reason == "undefined"){
            alertMsg("请先填写换表原因");
            return false;
        }
        return true;
    }

</script>