<div id="content" style="opacity: 1; background-color: #e6e6e6; border: 1px #cccccc solid; margin-bottom: 40px;">
    <section id="widget-grid">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins" style="background: white; float:left">
                    <!-- 表单标题概要 -->
                    <div class="ibox-title" style="background-color: #2377AF; color: #ffffff;">
                        <h5>{:lang('Meter')}{:lang('Change')}</h5>
                    </div>
                    <!-- 表单内容 -->
                    <div class="ibox-content">
                        <form id="meterchange" data-method="post" data-submit="ajax" data-validate="true" class="form-horizontal">
                            <div class="form-group" style="margin-bottom: 50px">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <input class="form-control" type="text" placeholder="{:lang('Please enter M_Code')}" name="M_Code" id="M_Code">
                                            <span class="input-group-addon">
                                                <i class="fa fa-search"></i>
                                            </span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button id="search" class="btn btn-primary" type="button" style="width: 100%;" onclick="searchMeters()">{:lang('Search')}</button>
                                </div>
                            </div>
                            <hr style="height:1px;border:none;border-top:1px solid #aaaaaa;" />
                            <fieldset>
                                <legend>{:lang('Old Meter Message')}</legend>
                                <div id="meterInfo" class="form-group">
                                    <label for="M_Code_P" class="col-sm-2 control-label">{:lang('M_Code')}</label>
                                    <div class="col-sm-4">
                                        <p id="M_Code_P" class="form-control" style="border: none"></p>
                                    </div>

                                    <label for="M_Type" class="col-sm-2 control-label">{:lang('Meter Type')}</label>
                                    <div class="col-sm-4">
                                        <p id="M_Type" class="form-control" style="border: none"></p>
                                    </div>

                                    <label for="username" class="col-sm-2 control-label">{:lang('User Name')}</label>
                                    <div class="col-sm-4">
                                        <p id="username" class="form-control" style="border: none"></p>
                                    </div>

                                    <label for="left" class="col-sm-2 control-label">{:lang("Charge Balance")}</label>
                                    <div class="col-sm-4">
                                        <p id="left" class="form-control" style="border: none"></p>
                                    </div>

                                    <label for="tel" class="col-sm-2 control-label">{:lang('Contact Number')}</label>
                                    <div class="col-sm-4">
                                        <p id="tel" class="form-control" style="border: none"></p>
                                    </div>

                                    <label for="address" class="col-sm-2 control-label">{:lang('Installation Address')}</label>
                                    <div class="col-sm-4">
                                        <p id="address" class="form-control" style="border: none"></p>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset id="newMeterInfo">
                                <legend>{:lang('Change Code Information')}</legend>
                                <div id="newMeterInfo">
                                    <div class="form-group">
                                        <label for="new_M_Code" class="col-sm-2 control-label">{:lang('New M_Code')}</label>
                                        <div class="col-sm-10">
                                            <input class="form-control"  name="new_M_Code" id="new_M_Code" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="change_reason" class="col-sm-2 control-label">{:lang('Change')}{:lang('Reason')}</label>
                                        <div class="col-sm-10">
                                            <input class="form-control"  name="change_reason" id="change_reason" >
                                        </div>
                                    </div>
                                    <div class="form-group" style="color:red">
                                        <label  class="col-sm-2 control-label">{:lang('Operation hints')}:</label>
                                        <div class="col-sm-10">
                                            <p class="form-control" style="border: none">{:lang('Please in the search box enter the query query, return the result')}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label  class="col-sm-2 control-label"></label>
                                        <div class="col-sm-10">
                                            <button id="submitBtn" style="float: right" class="btn btn-primary col-sm-1" type="button" onclick="changeMeter()" >{:lang('Button')}</button>
                                        </div>
                                    </div>
                            </fieldset>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    function searchMeters () {
        var M_Code = $('#M_Code').val();
        if( M_Code != 'undefined' && M_Code!= '' && M_Code != null){
            $.ajax({
                url:"{:url('admin/meter/getMeterData')}",
                method:'post',
                dataType:'json',
                data:{M_Code: M_Code},
                beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
                success: function(res){
                    if(res.code != 200){
                        $('#meterInfo P').each(function(){$(this).text('')});
                        alertMsg(res.msg);
                    }else{
                        fillText(res);
                    }
                },
                error:function(){
                    alertMsg("{:lang('Operation fail')}");
                }
            })
        }else{
            alertMsg("{:lang('Please fill in the form M_Code first')}");
        }
    }

    $.validator.setDefaults({
        submitHandler: function() {
            alert("提交事件!");
        },
        success: function(label){
            /*label的默认正确样式为valid，需要通过validClass来重置，否则这里添加的其他样式不能被清除*/
            label.text('').addClass('valid');
            label.parent().parent().removeClass('has-error');
        }
    });

    $("#meterchange").validate({
        errorPlacement: function(error, element) {
            // Append error within linked label
            $(element)
                    .closest( "form" )
                    .find( "label[for='" + element.attr( "id" ) + "']" )
                    .siblings().append( error );
            $(element).closest("form")
                    .find( "label[for='" + element.attr( "id" ) + "']" )
                    .parent().addClass("has-error");
        },

        rules: {
            M_Code: "required",
            new_M_Code: "required",
            change_reason: "required"
        },
        messages: {
            M_Code: "请输入您的表号",
            new_username: "请输入用户姓名",
            change_reason: "请输入换表原因"
        }
    });

    function fillText(data){
        var meter = data['meter'];
        var consumer = data['consumer'];
        $('#M_Code_P').text(meter.M_Code);
        if( meter.M_Type == "{$Think.const.METER_TYPE_WATER}" ){
            $('#M_Type').text("{:lang('Water Code')}");
        }else if(meter.M_Type == "{$Think.const.METER_TYPE_ELECTRICITY}"){
            $('#M_Type').text("{:lang('Electric Code')}");
        }else if(meter.M_Type == "{$Think.const.METER_TYPE_GAS}"){
            $('#M_Type').text("{:lang('Gas Code')}");
        }
        if( consumer == "undefined" || consumer == null || consumer == ''){

        }else{
            $('#username').text(consumer.username);
            $('#tel').text(consumer.tel);
            //$('#left').text(consumer.left);
            $('#address').text(meter.area+' '+meter.detail_address);
        }
    }

    $("input").blur(function(){
        $("#meterchange").find("div.state-error").parent().parent().addClass("has-error");
    });

    function changeMeter(){
        $("#meterchange").valid();

        $("#submitBtn").attr("disabled",true);
        $("#submitBtn").html("提交中");

        var old_M_Code = $('#M_Code_P').text();
        var new_M_Code = $('#new_M_Code').val();
        var change_reason = $('#change_reason').val();
        var changeinfo = {"old_M_Code": old_M_Code, "new_M_Code": new_M_Code, "change_reason": change_reason};
        if( check(changeinfo) ){
            $.ajax({
                url:"{:url('admin/meter/changeMeter')}",
                method:'post',
                dataType:'json',
                data:{changeinfo: JSON.stringify(changeinfo)},
                beforeSend:function(){}, //覆盖main.js中的方法,否则success回调方法不能正常使用
                success: function(res){
                    alertMsg(res.msg);
                    if( res.code == 200 ){
                        setTimeout(function(){removedInput();},1500);
                        $("#submitBtn").removeAttrs("disabled");
                        $("#submitBtn").html("提交");
                    }
                },
                error:function(){
                    alertMsg("{:lang('Operation fail')}");
                    $("#submitBtn").removeAttrs("disabled");
                    $("#submitBtn").html("提交");
                }
            });
        }
        $("#submitBtn").removeAttrs("disabled");
        $("#submitBtn").html("提交");
    }

    function check(meter){
        if( meter.old_M_Code == "" || meter.old_M_Code == null || meter.old_M_Code == "undefined"){
            alertMsg("{:lang('Please search table No.')}");
            return false;
        }
        if( meter.new_M_Code == "" || meter.new_M_Code == null || meter.new_M_Code == "undefined"){
            alertMsg("{:lang('Please fill in the new code number first')}");
            return false;
        }
        if( meter.change_reason == "" || meter.change_reason == null || meter.change_reason == "undefined"){
            alertMsg("{:lang('Please fill in change meter for reasons')}");
            return false;
        }
        return true;
    }

</script>