<div id="content" style="opacity: 1; background-color: #e6e6e6; border: 1px #cccccc solid; margin-bottom: 40px;">
    <section id="widget-grid">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins" style="background: white; float: left;">
                    <!-- 表单标题概要 -->
                    <div class="ibox-title" style="background-color: #2377AF; color: #ffffff;">
                        <h5>{:lang('Meter Charge')}</h5>
                    </div>
                    <!-- 表单内容 -->
                    <div class="ibox-content">
                        <!-- 查询 -->
                        <form id="meterpass" data-method="post" data-submit="ajax" data-validate="true" class="form-horizontal">
                            <div class="form-group" style="margin-bottom: 50px">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <input class="form-control inputOption" type="text" placeholder="{:lang('Please enter M_Code')}" name="M_Code"
                                               id="M_Code">
                                            <span class="input-group-addon">
                                                <i class="fa fa-search"></i>
                                            </span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button id="search" class="btn btn-primary" type="button" style="width: 100%;" onclick="searchMeters()">查询
                                    </button>
                                </div>
                            </div>
                        </form>
                            <hr style="height:1px;border:none;border-top:1px solid #aaaaaa;"/>
                            <!--表具信息-->
                            <fieldset>
                                <legend>{:lang('Meter Message')}</legend>
                                <div id="meterInfo" class="form-group">
                                    <label for="M_Code_P" class="col-sm-2 control-label">{:lang('M_Code')}</label>

                                    <div class="col-sm-4">
                                        <p id="M_Code_P" class="form-control InfoOption" style="border: none"></p>
                                    </div>

                                    <label for="M_Type" class="col-sm-2 control-label">{:lang('Meter Type')}</label>

                                    <div class="col-sm-4">
                                        <p id="M_Type" class="form-control InfoOption" style="border: none"></p>
                                    </div>

                                    <label for="username" class="col-sm-2 control-label">{:lang('User Name')}</label>

                                    <div class="col-sm-4">
                                        <p id="username" class="form-control InfoOption" style="border: none"></p>
                                    </div>

                                    <label for="tel" class="col-sm-2 control-label">{:lang('Contact Number')}</label>

                                    <div class="col-sm-4">
                                        <p id="tel" class="form-control InfoOption" style="border: none"></p>
                                    </div>

                                    <label for="address" class="col-sm-2 control-label">{:lang('Installation Address')}</label>

                                    <div class="col-sm-4">
                                        <p id="address" class="form-control InfoOption" style="border: none"></p>
                                     </div>
                                </div>
                            </fieldset>
                        <!--原表信息-->

                            <legend>{:lang('Charge Money')}</legend>
                            <div class="form-group">
                                <label for="choosecharge" class="col-sm-2 control-label">{:lang('Charge')}</label>

                                <div class="col-sm-4"  id="list">
                                    <select id="choosecharge" name="choosecharge" class="form-control">
                                        <option value="">{:lang('Please Choose Charge Type')}</option>
                                        {foreach $chargeList as $item}
                                            <option value={$item}>{$item}</option>
                                        {/foreach}
                                    </select>
                                </div>
                                <div class="col-sm-4" id="self" style="display: none">
                                    <input class="form-control" name="other_money" id="other_money" type="number" />
                                </div>
                            </div>
                            <div class="form-group" >
                                <label for="sub" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <button id="sub" class="btn btn-info" style="float: right">{:lang('Sure')}</button>
                                    <button id="chooseType" class="btn btn-success" style="float: right;margin-right: 1vw">{:lang('Input Money')}</button>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    var id = '';
    function searchMeters () {
        $('.InfoOption').html('');
        var M_Code = $('#M_Code').val();
        if (M_Code != 'undefined' && M_Code != '' && M_Code != null) {
            $.ajax({
                url: "{:url('admin/meter/getMeterData')}",
                method: 'post',
                dataType: 'json',
                data: {M_Code: M_Code},
                beforeSend: function () {
                }, //覆盖main.js中的方法,否则不能正常使用
                success: function (res) {
                    if (res.code != 200) {
                        $('#meterInfo P').each(function () {$(this).text('')});
                        alertMsg(res.msg);
                    } else {
                        fillText(res);
                    }
                },
                error: function () {
                    alertMsg("{:lang('Operation fail')}");
                }
            })
        } else {
            alertMsg("{:lang('Please fill in the form M_Code first')}");
        }
    }

    function fillText(data) {
        var meter = data['meter'];
        var consumer = data['consumer'];
        id  = meter.id;
        $('#M_Code_P').text(meter.M_Code);

        if (meter.meter_status == {$Think.const.METER_STATUS_NEW}) {
            $('#username').text('');
            $('#tel').text('');
            $('#address').text('');
            $('#M_Type').text("");
        } else {
            $('#username').text(consumer.username);
            $('#tel').text(consumer.tel);
            $('#address').text(meter.area + ' ' + meter.detail_address);
            if (meter.M_Type == "{$Think.const.METER_TYPE_WATER}") {
                $('#M_Type').text("{:lang('Water Code')}");
            } else if (meter.M_Type == "{$Think.const.METER_TYPE_ELECTRICITY}") {
                $('#M_Type').text("{:lang('Electric Code')}");
            } else if (meter.M_Type == "{$Think.const.METER_TYPE_GAS}") {
                $('#M_Type').text("{:lang('Gas Code')}");
            }
        }
    }

    $('#chooseType').click(function(){
        var flag = $('#list').css('display');
        if(flag == 'block'){
            $('#list').hide()
            $('#self').show()
            $('#chooseType').html("{:lang('Choose List')}")
        }else{
            $('#list').show()
            $('#self').hide()
            $('#chooseType').html("{:lang('Input Money')}")
        }
    })

    $('#sub').click(function(){
        $('#sub').prop('disabled',true);
        var flag = $('#list').css('display');
        if(flag == 'block'){
            var money = $('#choosecharge').val()
        }else{
            var money = $('#other_money').val()
        }
        if(id == '' || id =='undefined'||id == null){
            $('#sub').prop('disabled',false);
            alertMsg("{:lang('Please Search First')}");
            return false;
        }
        if(money == ''||money == 'undefined' || money ==null){
            $('#sub').prop('disabled',false);
            alertMsg("{:lang('Please Choose Charge Type')}");
            return false;
        }
        money = Number(money);
        if(money < 0){
            $('#sub').prop('disabled',false);
            alertMsg("{:lang('Money Should Gt 0')}");
            return false;
        }
        $.ajax({
            url:"{:url('admin/meter/docharge')}",
            method:'post',
            dataType:'json',
            data:{data: JSON.stringify({id: id,money: money})},
            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
            success: function(res){
                alertMsg(res.msg,5);
                if( res.code == 200 ){
                    id = '';
                    $('#M_Code').val('');
                    $('#other_money').val('');
                    $('#choosecharge').val('');
                    $('#meterInfo P').each(function () {$(this).text('')});
                }
                $('#sub').prop('disabled',false);
            },
            error:function(){
                alertMsg("操作失败！",5);
                $('#sub').prop('disabled',false);
            }
        });
    })

</script>