<div id="content" style="opacity: 1; background-color: #e6e6e6; border: 1px #cccccc solid; margin-bottom: 40px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins" style="background: white;float: left;">
                <!-- 表单标题概要 -->
                <div class="ibox-title" style="background-color: #2377AF; color: #ffffff;">
                    <h5>{:lang('Meter')}{:lang('Edit')}</h5>
                </div>
                <!-- 表单内容 -->
                <div class="ibox-content">
                    <!-- 表格数据 -->
                    <form id="save"  action="{:url('admin/meter/saveData')}" method="post" class="form-horizontal" role="form">
                        <div class="form-group" style="margin-bottom: 50px">
                            <div class="col-md-10">
                                <div class="input-group">
                                    <input class="form-control" type="text" placeholder="{:lang('Please enter M_Code')}" name="M_Code" id="M_Code_S">
                                            <span class="input-group-addon">
                                                <i class="fa fa-search"></i>
                                            </span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button id="search" class="btn btn-primary" type="button" style="width: 100%;" onclick="searchMeters()">{:lang('Search')}</button>
                            </div>
                        </div>

                        <hr style="height:1px;border:none;border-top:1px solid #555555;" />

                        <div id="meterInfo">
                            <div class="form-group" style="display: none">
                                <label for="M_Code" class="col-sm-2 control-label">{:lang('M_Code')}</label>
                                <div class="col-sm-10">
                                    <input class="form-control"  name="M_Code" id="M_Code" disabled="disabled" >
                                </div>
                            </div>
                            <legend>{:lang('Personal Profile')}</legend>
                            <div class="form-group">
                                <label for="username" class="col-md-2 control-label">{:lang('Name')}</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <input class="form-control" type="text" placeholder="{:lang('Please enter username')}" name="username" value="{$consumer.username ?? ''}" id="username">
                                        <span class="input-group-addon">
                                            <i class="fa fa-user fa-fw"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tel" class="col-md-2 control-label">{:lang('Contact Number')}</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <input class="form-control" type="text" placeholder="{:lang('Please enter mobile')}" maxlength="11" name="tel" value="{$consumer.tel ?? ''}" id="tel">
                                        <span class="input-group-addon">
                                            <i class="fa fa-phone fa-fw"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col col-md-6">
                                <label for="M_Address" class="col-md-4 control-label">{:lang('Installation Address')}</label>
                                <!--<label for="detail_address" class="display:none"></label>-->
                                <div class="col-md-8" style="padding-right: 0">
                                    <div class="input-group" style="width: 100%;">
                                        <select class="form-control" style="width: 100%;" name="M_Address" id="M_Address" required>
                                            <option value="0" selected disabled>{:lang('Please Search')}{:lang('Area')}</option>
                                            {foreach $areas as $area }
                                            <option value="{$area.id}" {if condition="(isset($meter.M_Address)) and ($area.id eq $meter.M_Address)"}selected{/if}>{$area.name}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col col-md-6">
                                <label for="detail_address" style="display: none"></label>
                                <div class="col-md-12" style="padding-left: 0">
                                    <div class="input-group">
                                        <input class="form-control" style="float: right" type="text" placeholder="{:lang('Please enter')}{:lang('detail address')}" value="{$meter.detail_address ?? ''}" name="detail_address" id="detail_address" >
                                            <span class="input-group-addon">
                                                <i class="fa fa-map-marker fa-fw"></i>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            </div>
                        <div style="clear: both;"></div>
                            <legend>{:lang('Additional Resources')}</legend>
                            <div id="addtion">
                                <div class="form-group">
                                    <label for="family_num" class="col-sm-2 control-label">{:lang('Family Size')}</label>
                                    <div class="col-sm-10">
                                        <input class="form-control"  name="family_num" id="family_num" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="building_area" class="col-sm-2 control-label">{:lang('Residential Buildings')}</label>
                                    <div class="col-sm-10">
                                        <input class="form-control"  name="building_area" id="building_area" placeholder="{:lang('Unit:m²')}" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="income_peryear" class="col-sm-2 control-label">{:lang('Annual Income')}</label>
                                    <div class="col-sm-10">
                                        <input class="form-control"  name="income_peryear" id="income_peryear" placeholder="{:lang('Unit:yuan')}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="color:red">
                                <label  class="col-sm-2 control-label">{:lang('Operation hints')}:</label>
                                <div class="col-sm-10">
                                    <p class="form-control" style="border: none">{:lang('Please in the search box enter the query query, return the result')}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <button style="float: right" class="btn btn-primary col-sm-1" type="button" onclick="editMeter()" >{:lang('Edit')}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function searchMeters () {
        var M_Code = $('#M_Code_S').val();
        if( M_Code != 'undefined' && M_Code!= '' && M_Code != null){
            $.ajax({
                url:"{:url('admin/meter/getMeterData')}",
                method:'post',
                dataType:'json',
                data:{M_Code: M_Code},
                beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
                success: function(res){
                    if(res.code != 200){
                        $('#meterInfo input').each(function(){$(this).val('')});
                        alertMsg(res.msg);
                    }else{
                        fillInput(res);
                    }
                },
                error:function(){
                    alertMsg("{:lang('Operation fail')}");
                }
            })
        }else{
            alertMsg("{:lang('Please fill in the form M_Code first')}");
        }
    }

    $.validator.setDefaults({
        submitHandler: function() {
            alert("提交事件!");
        },
        success: function(label){
            /*label的默认正确样式为valid，需要通过validClass来重置，否则这里添加的其他样式不能被清除*/
            label.text('').addClass('valid');
            label.parent().parent().removeClass('has-error');
        }
    });

    // 手机号码验证
    jQuery.validator.addMethod("isMobile", function(value, element) {
        var length = value.length;
        var mobile = /^(13[0-9]{9})|(18[0-9]{9})|(14[0-9]{9})|(17[0-9]{9})|(15[0-9]{9})$/;
        return this.optional(element) || (length == 11 && mobile.test(value));
    }, "请正确填写您的手机号码");

    // 身份证号码验证
//    jQuery.validator.addMethod("isIdCardNo", function(value, element) {
//        return this.optional(element) || checkCard(value);
//    }, "请正确输入您的身份证号码");

    $("#save").validate({
        errorPlacement: function(error, element) {

            // Append error within linked label
            $(element)
                    .closest( "form" )
                    .find( "label[for='" + element.attr( "id" ) + "']" )
                    .siblings().append( error );
            $(element).closest("form")
                    .find( "label[for='" + element.attr( "id" ) + "']" )
                    .parent().addClass("has-error");
        },

        rules: {
            tel:{
                required:true,
                minlength:11,
                isMobile:true
            },
//            M_Type: "required",
            M_Code: "required",
            //P_ID: "required",
            username: "required",
            M_Address : "required",
            detail_address : "required"
        },
        messages: {
            tel:{
                required:'请输入手机号',
                minlength:'请输入11位手机号',
                isMobile:'输入一个正确的手机号码'
            },
//            identity:{
//                required:'身份证号不能为空',
//                isIdCardNo:'请输入一个正确的身份证号'
//            },
            //M_Type: "请选择表具类型",
            M_Code: "请输入您的表号",
            //P_ID: "请选择价格类型",
            username: "请输入用户姓名",
            M_Address: "请选择区域",
            detail_address: "请输入详细地址"
        }
    });

    function fillInput(data){
        var meter = data['meter'];
        var consumer = data['consumer'];
        $('#M_Code').val(meter.M_Code);
        if( meter.meter_status != "" && meter.meter_status != 'undefined' && meter.meter_status != null){
//            $('#P_ID').find('option[value="'+meter.P_ID+'"]').prop("selected",true);
            $('#M_Address').find('option[value="'+meter.M_Address+'"]').prop("selected",true);
            $('#detail_address').val(meter.detail_address);
            $('#username').val(consumer.username);
            $('#tel').val(consumer.tel);
            $('#family_num').val(consumer.family_num);
            $('#building_area').val(consumer.building_area);
            $('#income_peryear').val(consumer.income_peryear);
        }else{
//            $('#P_ID option:selected').prop("selected",false)
            $('#M_Address option:selected').prop("selected",false)
            $('#detail_address').val('');
            $('#username').val('');
            $('#tel').val('');
            $('#family_num').val('');
            $('#building_area').val('');
            $('#income_peryear').val('');
        }
    }

    $("input").blur(function(){
        $("#save").find("div.state-error").parent().parent().addClass("has-error");
    });

    function editMeter(){
        $("#save").valid();

        $("#submitBtn").attr("disabled",true);
        $("#submitBtn").html("提交中");

        var M_Code = $('#M_Code').val();
//        var P_ID = $('#P_ID').val();
        var username = $('#username').val();
        var tel = $('#tel').val();
        var M_Address = $('#M_Address').val();
        var detail_address = $('#detail_address').val();
        var family_num = $('#family_num').val();
        var building_area = $('#building_area').val();
        var income_peryear = $('#income_peryear').val();
        var meter = { M_Code: M_Code, M_Address: M_Address, detail_address: detail_address};
        var consumer = {username: username, tel: tel, family_num: family_num, building_area: building_area, income_peryear: income_peryear};
        if( !check(meter,consumer) ){
            return false;
        }
        $.ajax({
            url:"{:url('admin/meter/editMeter')}",
            method:'post',
            dataType:'json',
            data:{data: JSON.stringify({meter: meter,consumer: consumer})},
            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
            success: function(res){
                alertMsg(res.msg);
                if( res.code == 200 ){
                    setTimeout(function(){window.location.href = ''},1500);
                    $("#submitBtn").removeAttrs("disabled");
                    $("#submitBtn").html("提交");
                }
            },
            error:function(){
                alertMsg("{:lang('Operation fail')}");
                $("#submitBtn").removeAttrs("disabled");
                $("#submitBtn").html("提交");
            }
        });
        $("#submitBtn").removeAttrs("disabled");
        $("#submitBtn").html("提交");
    }

    function check(meter,consumer){
        if( meter.M_Code == "" || meter.M_Code == null || meter.M_Code == "undefined"){
            alertMsg("{:lang('Please fill in the form M_Code first')}");
            return false;
        }
//        if( meter.P_ID == "" || meter.P_ID == null || meter.P_ID == "undefined"){
//            alertMsg("请先选择价格类型");
//            return false;
//        }
        if( meter.M_Address == "" || meter.M_Address == null || meter.M_Address == "undefined"){
            alertMsg("{:lang('Please select the installation address first')}");
            return false;
        }
        if( meter.detail_address == "" || meter.detail_address == null || meter.detail_address == "undefined"){
            alertMsg("{:lang('Please fill in detail address')}");
            return false;
        }
        if( consumer.username == "" || consumer.username == null || consumer.username == "undefined"){
            alertMsg("{:lang('Please fill in name')}");
            return false;
        }
        if( consumer.tel == "" || consumer.tel == null || consumer.tel == "undefined"){
            alertMsg("{:lang('Please fill in mobile')}");
            return false;
        }
        if(!checkTelephone(consumer.tel)){
            return false;
        }
        return true;
    }
</script>