<div id="content" style="opacity: 1;">
    <section id="widget-grid">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins" style="background: white;padding: 10px">
                    <!-- 表单标题概要 -->
                    <div class="ibox-title">
                        <h5>{:lang('Meter')}{:lang('Pass')}</h5>

                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <!-- 表单内容 -->
                    <div class="ibox-content">
                        <!-- 表格数据 -->
                        <form data-method="post" data-submit="ajax" data-validate="true" class="form-horizontal">
                            <div class="form-group" style="margin-bottom: 50px">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <input class="form-control" type="text" placeholder="{:lang('Please enter M_Code')}" name="M_Code"
                                               id="M_Code">
                                            <span class="input-group-addon">
                                                <i class="fa fa-search"></i>
                                            </span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button id="search" class="btn btn-primary" type="button" style="width: 100%;">查询
                                    </button>
                                </div>
                            </div>

                            <!--<div class="form-group">-->
                            <!--<div class="col-lg-6" style="float: right">-->
                            <!--<div class="input-group">-->
                            <!--<input id="M_Code" type="text" class="form-control" placeholder="请输入表号...">-->
                            <!--<span class="input-group-btn">-->
                            <!--<button id="search" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span> </button>-->
                            <!--</span>-->
                            <!--</div>&lt;!&ndash; /input-group &ndash;&gt;-->
                            <!--</div>&lt;!&ndash; /.col-lg-6 &ndash;&gt;-->
                            <!--</div>-->

                            <hr style="height:1px;border:none;border-top:1px solid #aaaaaa;"/>

                            <!--原表信息-->
                            <fieldset>
                                <legend>{:lang('Old Meter Message')}</legend>
                                <div id="meterInfo" class="form-group">
                                    <label for="M_Code_P" class="col-sm-2 control-label">{:lang('M_Code')}</label>

                                    <div class="col-sm-4">
                                        <p id="M_Code_P" class="form-control" style="border: none"></p>
                                    </div>

                                    <label for="M_Type" class="col-sm-2 control-label">{:lang('Meter Type')}</label>

                                    <div class="col-sm-4">
                                        <p id="M_Type" class="form-control" style="border: none"></p>
                                    </div>

                                    <label for="username" class="col-sm-2 control-label">{:lang('User Name')}</label>

                                    <div class="col-sm-4">
                                        <p id="username" class="form-control" style="border: none"></p>
                                    </div>

                                    <label for="left" class="col-sm-2 control-label">{:lang("Charge Balance")}</label>

                                    <div class="col-sm-4">
                                        <p id="left" class="form-control" style="border: none"></p>
                                    </div>

                                    <label for="tel" class="col-sm-2 control-label">{:lang('Contact Number')}</label>

                                    <div class="col-sm-4">
                                        <p id="tel" class="form-control" style="border: none"></p>
                                    </div>

                                    <label for="address" class="col-sm-2 control-label">{:lang('Installation Address')}</label>

                                    <div class="col-sm-4">
                                        <p id="address" class="form-control" style="border: none"></p>
                                    </div>

                                    <label for="family_num_P" class="col-sm-2 control-label">{:lang('Family Size')}</label>

                                    <div class="col-sm-4">
                                        <p id="family_num_P" class="form-control" style="border: none"></p>
                                    </div>

                                    <label for="building_area_P" class="col-sm-2 control-label">{:lang('Residential Buildings')}(㎡)</label>

                                    <div class="col-sm-4">
                                        <p id="building_area_P" class="form-control" style="border: none"></p>
                                    </div>

                                    <label for="income_peryear_P" class="col-sm-2 control-label">{:lang('Annual Income')}(元)</label>

                                    <div class="col-sm-4">
                                        <p id="income_peryear_P" class="form-control" style="border: none"></p>
                                    </div>
                                </div>
                            </fieldset>

                            <div style="clear: both"></div>
                            <!--过户信息-->
                            <fieldset id="newConsumerInfo">
                                <legend>{:lang('Transfer Of Information')}</legend>
                                <div class="form-group">
                                    <label for="new_username" class="col-md-2 control-label">{:lang('New User Name')}</label>

                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <input class="form-control" type="text" placeholder="{:lang('Please enter username')}"
                                                   name="new_username" id="new_username">
                                        <span class="input-group-addon">
                                            <i class="fa fa-user fa-fw"></i>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="new_telephone" class="col-md-2 control-label">{:lang('New')}{:lang('Contact Number')}</label>

                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <input class="form-control" type="text" placeholder="{:lang('Please enter mobile')}"
                                                   name="new_telephone" id="new_telephone">
                                        <span class="input-group-addon">
                                            <i class="fa fa-phone fa-fw"></i>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="new_identity" class="col-md-2 control-label">{:lang('New')}{:lang('PIN-codes')}</label>

                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <input class="form-control" type="text" placeholder="{:lang('Please enter')}{:lang('PIN-codes')}"
                                                   name="new_identity" id="new_identity">
                                        <span class="input-group-addon">
                                            <i class="fa fa-credit-card fa-fw"></i>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="family_num" class="col-md-2 control-label">{:lang('Family Size')}</label>

                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <input class="form-control" type="text" placeholder="{:lang('Please enter')}{:lang('Family Size')}"
                                                   name="family_num" id="family_num">
                                        <span class="input-group-addon">
                                            <i class="fa fa-users fa-fw"></i>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="building_area" class="col-md-2 control-label">{:lang('Residential Buildings')}</label>

                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <input class="form-control" type="text" placeholder="{:lang('Please enter')}{:lang('Residential Buildings')}({:lang('Unit:m²')})"
                                                   name="building_area" id="building_area">
                                        <span class="input-group-addon">
                                            <i class="fa fa-home fa-fw"></i>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="income_peryear" class="col-md-2 control-label">{:lang('Annual Income')}</label>

                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <input class="form-control" type="text" placeholder="{:lang('Please enter')}{:lang('Annual Income')}({:lang('Unit:yuan')})"
                                                   name="income_peryear" id="income_peryear">
                                        <span class="input-group-addon">
                                            <i class="fa fa-money fa-fw"></i>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="color:red">
                                    <label class="col-sm-2 control-label">{:lang('Operation hints')}:</label>

                                    <div class="col-sm-10">
                                        <p class="form-control" style="border: none">{:lang('Please in the search box enter the query query, return the result')}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"></label>

                                    <div class="col-sm-10">
                                        <button style="float: right" class="btn btn-success" type="button"
                                                onclick="passMeter()">{:lang('Button')}
                                        </button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    $('#search').click(function () {
        var M_Code = $('#M_Code').val();
        if (M_Code != 'undefined' && M_Code != '' && M_Code != null) {
            $.ajax({
                url: "{:url('admin/meter/getMeterData')}",
                method: 'post',
                dataType: 'json',
                data: {M_Code: M_Code},
                beforeSend: function () {
                }, //覆盖main.js中的方法,否则不能正常使用
                success: function (res) {
                    if (res.code != 200) {
                        $('#meterInfo P').each(function () {
                            $(this).text('')
                        });
                        alertMsg(res.msg);
                    } else {
                        fillText(res);
                    }
                },
                error: function () {
                    alertMsg("{:lang('Operation fail')}");
                }
            })
        } else {
            alertMsg("{:lang('Please fill in the form M_Code first')}");
        }

    })

    function fillText(data) {
        var meter = data['meter'];
        var consumer = data['consumer'];
        $('#M_Code_P').text(meter.M_Code);

        if (meter.meter_status == "undefined" || meter.meter_status == null || meter.meter_status == '') {
            $('#username').text('');
            $('#tel').text('');
            $('#family_num_P').text('');
            $('#building_area_P').text('');
            $('#income_peryear_P').text('');
            $('#address').text('');
            $('#M_Type').text("");
        } else {
            $('#username').text(consumer.username);
            $('#tel').text(consumer.tel);
            $('#family_num_P').text(consumer.family_num);
            $('#building_area_P').text(consumer.building_area);
            $('#income_peryear_P').text(consumer.income_peryear);
            //$('#left').text(consumer.left);
            $('#address').text(meter.area + ' ' + meter.detail_address);
            if (meter.M_Type == "{$Think.const.METER_TYPE_WATER}") {
                $('#M_Type').text("{:lang('Water Code')}");
            } else if (meter.M_Type == "{$Think.const.METER_TYPE_ELECTRICITY}") {
                $('#M_Type').text("{:lang('Electric Code')}");
            } else if (meter.M_Type == "{$Think.const.METER_TYPE_GAS}") {
                $('#M_Type').text("{:lang('Gas Code')}");
            }
        }
    }

    function passMeter() {
        var M_Code = $('#M_Code_P').text();
        var username = $('#new_username').val();
        var tel = $('#new_telephone').val();
        var identity = $('#new_identity').val();
        var family_num = $('#family_num').val();
        var building_area = $('#building_area').val();
        var income_peryear = $('#income_peryear').val();
        var new_consumer = {
            "username": username,
            "tel": tel,
            "identity": identity,
            "family_num": family_num,
            "building_area": building_area,
            "income_peryear": income_peryear
        };
        if (M_Code != 'undefined' && M_Code != '' && M_Code != null && check(new_consumer)) {
            $.ajax({
                url: "{:url('admin/meter/passMeter')}",
                method: 'post',
                dataType: 'json',
                data: {M_Code: M_Code, consumer: JSON.stringify(new_consumer)},
                beforeSend: function () {
                }, //覆盖main.js中的方法,否则success回调方法不能正常使用
                success: function (res) {
                    alertMsg(res.msg);
                    if (res.code == 200) {
                        setTimeout(function () {
                            window.location.href = ''
                        }, 1500);
                    }
                },
                error: function () {
                    alertMsg("{:lang('Operation fail')}");
                }
            })
        }
    }

    function check(consumer) {
        if (consumer.username == "" || consumer.username == null || consumer.username == "undefined") {
            alertMsg("{:lang('Please fill in name')}");
            return false;
        }
        if (consumer.tel == "" || consumer.tel == null || consumer.tel == "undefined") {
            alertMsg("{:lang('Please fill in mobile')}");
            return false;
        }
        if (!checkTelephone(consumer.tel)) {
            return false;
        }
        if (consumer.identity == "" || consumer.identity == null || consumer.identity == "undefined") {
            alertMsg("{:lang('Please enter')}{:lang('PIN-codes')}");
            return false;
        }
        if (!checkCard(consumer.identity)) {
            alertMsg("{:lang('Please enter')}{:lang('true')}{:lang('PIN-codes')}");
            return false;
        }
        return true;
    }

</script>