<!--<div class="wrapper wrapper-content animated fadeInRight">-->
{js href="__JS__/jquery.jqprint-0.3.js" /}

<style>
    #contentPrint .col-md-10-P {
        text-align: left;
    }
</style>
<div id="content" style="opacity: 1; background-color: #e6e6e6; border: 1px #cccccc solid; margin-bottom: 40px;">
    <section id="widget-grid">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins" style="background: white; float: left;">
                    <!-- 表单标题概要 -->
                    <div class="ibox-title" style="background-color: #2377AF; color: #ffffff;">
                        <h5>{:lang('Meter')}{:lang('Setup')}</h5>
                        <div class="ibox-tools">
                            <!--<a class="collapse-link">-->
                            <!--<i class="fa fa-chevron-up"></i>-->
                            <!--</a>-->
                            <!--<a class="close-link">-->
                            <!--<i class="fa fa-times"></i>-->
                            <!--</a>-->
                        </div>
                    </div>
                    <!-- 表单内容 -->
                    <div class="ibox-content">
                        <!-- 表格数据 -->

                        <form id="save" action="{:url('admin/meter/saveData')}" method="post" class="form-horizontal" role="form" novalidate="novalidate">
                            <fieldset>
                                <legend>{:lang('M_Code Resources')}</legend>
                                <div class="form-group">
                                    <label for="M_Type" class="col-md-2 control-label">{:lang('Meter Type')}</label>
                                    <div class="col-md-10">
                                        {volist name="company_type" id="type"}
                                        <label class="radio radio-inline">
                                            <input type="radio" class="radiobox" id="M_Type" name="M_Type" value="{$type}" required >
                                        <span>
                                        {switch name="type"}
                                        {case value="$Think.const.METER_TYPE_WATER"}水{/case}
                                        {case value="$Think.const.METER_TYPE_ELECTRICITY"}电{/case}
                                        {case value="$Think.const.METER_TYPE_GAS"}气{/case}
                                        {default /}
                                        {/switch}
                                        </span>
                                        </label>
                                        {/volist}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="M_Code" class="col-md-2 control-label">{:lang('M_Code')}</label>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <input class="form-control inputOption" type="text" placeholder="{:lang('Please enter M_Code')}" name="M_Code" id="M_Code" required>
                                        <span class="input-group-addon">
                                            <i class="fa fa-warning"></i>
                                        </span>
                                        </div>
                                        <div id="warning" style="color: red;"></div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label for="P_ID" class="col-md-2 control-label">{:lang('Price')}{:lang('Price Type')}</label>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <select class="form-control selectOption" name="P_ID" id="P_ID" >
                                                <option value="0" selected disabled>{:lang('Please Search')}{:lang('Price')}{:lang('Price Type')}</option>
                                                {foreach $prices as $price }
                                                <option value="{$price.id}" >{$price.name}</option>
                                                {/foreach}
                                            </select>
                                        <span class="input-group-addon">
                                            <i class="fa fa-warning"></i>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset id="consumerinfo">
                                <legend>{:lang('Personal Profile')}</legend>
                                <div class="form-group">
                                    <label for="username" class="col-md-2 control-label">{:lang('Name')}</label>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <input class="form-control inputOption" type="text" placeholder="{:lang('Please enter username')}" name="username"  id="username">
                                        <span class="input-group-addon">
                                            <i class="fa fa-user fa-fw"></i>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="tel" class="col-md-2 control-label">{:lang('Mobile Number')}</label>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <input class="form-control inputOption" type="text" placeholder="{:lang('Please enter mobile')}" maxlength="11" name="tel" id="tel">
                                        <span class="input-group-addon">
                                            <i class="fa fa-phone fa-fw"></i>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="identity" class="col-md-2 control-label">{:lang('PIN-codes')}</label>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <input class="form-control inputOption" type="text" placeholder="{:lang('Please enter')}{:lang('PIN-codes')}" name="identity" id="identity">
                                        <span class="input-group-addon">
                                            <i class="fa fa-credit-card fa-fw"></i>
                                        </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col col-md-6">
                                    <label for="M_Address" class="col-md-4 control-label">{:lang('Installation Address')}</label>
                                    <!--<label for="detail_address" class="display:none"></label>-->
                                    <div class="col-md-8" style="padding-right: 0">
                                        <div class="input-group" style="width: 100%;">
                                            <select class="form-control selectOption" style="width: 100%;" name="M_Address" id="M_Address" required>
                                                <option value="0" selected disabled>{:lang('Please Search')}{:lang('Area')}</option>
                                                {foreach $areas as $area }
                                                <option value="{$area.id}">{$area.name}</option>
                                                {/foreach}
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group col col-md-6">
                                    <label for="detail_address" style="display: none"></label>
                                    <div class="col-md-12" style="padding-left: 0">
                                        <div class="input-group">
                                            <input class="form-control inputOption" style="float: right" type="text" placeholder="{:lang('Please enter')}{:lang('detail address')}" name="detail_address" id="detail_address" >
                                            <span class="input-group-addon">
                                                <i class="fa fa-map-marker fa-fw"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset id="addtion">
                                <legend>{:lang('Additional Resources')}</legend>
                                <div class="form-group">
                                    <label for="family_num" class="col-md-2 control-label">{:lang('Family Size')}</label>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <input class="form-control inputOption" type="text" placeholder="{:lang('Please enter')}{:lang('Family Size')}" name="family_num" id="family_num">
                                        <span class="input-group-addon">
                                            <i class="fa">人</i>
                                        </span>
                                        </div>
                                    </div>
                                    <label for="building_area" class="col-md-2 control-label">{:lang('Residential Buildings')}</label>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <input class="form-control inputOption" type="text" placeholder="请输入住宅面积" name="building_area" id="building_area">
                                        <span class="input-group-addon">
                                            <i class="fa">平米</i>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="income_peryear" class="col-md-2 control-label">{:lang('Annual Income')}</label>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <input class="form-control inputOption" type="text" placeholder="请输入年均收入" name="income_peryear" id="income_peryear">
                                        <span class="input-group-addon">
                                            <i class="fa">元</i>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                        </form>
                    </div>
                    <div class="form-group" style="float: left; width: 100%;">
                        <label  class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <button style="float: right" class="btn btn-primary col-sm-1" onclick="saveData()" type="submit" id="submitBtn" >{:lang('Button')}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div id="contentPrint"  style="opacity: 1; background-color: #e6e6e6; border: 1px #cccccc solid; margin-bottom: 40px; padding: 10px 14px; position: relative; display: none">
    <section id="widget-grid">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins" style="background: white; float: left; width: 100%;">
                    <div class="ibox-title" style="background-color: #2377AF; color: #ffffff;">
                        <h5>{:lang('Meter')}{:lang('Setup')} - 打印</h5>
                    </div>
                    <div class="ibox-content">
                        <!-- 表格数据 -->
                        <table id="table" class="table">
                            <tr>
                                <td style="text-align:center;">{:lang('Meter Type')}:</td>
                                <td style="text-align:left;" id="M_Type_P" ></td>
                                <td style="text-align:center;">{:lang('M_Code')}:</td>
                                <td style="text-align:left;" id="M_Code_P"></td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">{:lang('Price')}{:lang('Price Type')}:</td>
                                <td style="text-align:left;" id="P_ID_P" ></td>
                                <td style="text-align:center;">{:lang('Name')}:</td>
                                <td style="text-align:left;" id="username_P"></td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">{:lang('Mobile Number')}:</td>
                                <td style="text-align:left;" id="tel_P" ></td>
                                <td style="text-align:center;">{:lang('PIN-codes')}:</td>
                                <td style="text-align:left;" id="identity_P"></td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">{:lang('Installation Address')}:</td>
                                <td style="text-align:left;" ><span id="M_Address_P"></span><span id="detail_address_P"></span></td>
                                <td style="text-align:center;">{:lang('Family Size')}:</td>
                                <td style="text-align:left;" id="family_num_P"></td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">{:lang('Additional Resources')}:</td>
                                <td style="text-align:left;" id="building_area_P" ></td>
                                <td style="text-align:center;">{:lang('Annual Income')}:</td>
                                <td style="text-align:left;" id="income_peryear_P"></td>
                            </tr>
                        </table>

                        <form id="save" method="post" class="form-horizontal" role="form" novalidate="novalidate">

                            <div class="form-group" style="float: left; width: 100%;">
                                <label  class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <button style="margin-right: 20px; float: right" class="btn btn-primary col-sm-1" onclick="finished()" id="compeleteBtn" >完成</button>
                                    <button style="margin-right: 20px; float: right; display: block !important;" class="btn btn-primary col-sm-1" id="jqprint" type="button" onclick="printInfo()">{:lang('Print')}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!--</div>-->

<script>
    $('#M_Code').change(function(){

        //$('#jqprint').hide();

        $('#warning').html('');
        var M_Code = $('#M_Code').val().trim('');
        if( M_Code != 'undefined' && M_Code!= '' && M_Code != null){
            $.ajax({
                url:"{:url('admin/meter/getMeterData')}",
                method:'post',
                dataType:'json',
                data:{M_Code: M_Code},
                beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
                success: function(res){
                    fillInput(res);
                    if(res.code != 200){
                        alertMsg(res.msg,5);
                        $('#warning').html(res.msg);
                    }
                },
                error:function(){
                    alertMsg("操作失败！",5);
                }
            })
        }else{
            alertMsg("请先填写表号",5);
        }
    });

    $.validator.setDefaults({
        submitHandler: function() {
            alert("提交事件!");
        },
        success: function(label){
            /*label的默认正确样式为valid，需要通过validClass来重置，否则这里添加的其他样式不能被清除*/
            label.text('').addClass('valid');
            label.parent().parent().removeClass('has-error');
        }
    });

    // 手机号码验证
    jQuery.validator.addMethod("isMobile", function(value, element) {
        var length = value.length;
        var mobile = /^(13[0-9]{9})|(18[0-9]{9})|(14[0-9]{9})|(17[0-9]{9})|(15[0-9]{9})$/;
        return this.optional(element) || (length == 11 && mobile.test(value));
    }, "请正确填写您的手机号码");

    // 身份证号码验证
    jQuery.validator.addMethod("isIdCardNo", function(value, element) {
        return this.optional(element) || checkCard(value);
    }, "请正确输入您的身份证号码");

    $("#save").validate({
        errorPlacement: function(error, element) {

            // Append error within linked label
            $(element)
                    .closest( "form" )
                    .find( "label[for='" + element.attr( "id" ) + "']" )
                    .siblings().append( error );
            $(element).closest("form")
                    .find( "label[for='" + element.attr( "id" ) + "']" )
                    .parent().addClass("has-error");
        },

        rules: {
            tel:{
                required:true,
                minlength:11,
                isMobile:true
            },
            identity:{
                required:true,
                isIdCardNo:true
            },
            M_Type: "required",
            M_Code: "required",
            P_ID: "required",
            username: "required",
            M_Address : "required",
            detail_address : "required"
        },
        messages: {
            tel:{
                required:'请输入手机号',
                minlength:'请输入11位手机号',
                isMobile:'输入一个正确的手机号码'
            },
            identity:{
                required:'身份证号不能为空',
                isIdCardNo:'请输入一个正确的身份证号'
            },
            M_Type: "请选择表具类型",
            M_Code: "请输入您的表号",
            P_ID: "请选择价格类型",
            username: "请输入用户姓名",
            M_Address: "请选择区域",
            detail_address: "请输入详细地址"
        }
    });

    function fillInput(data){
        var meter = data['meter'];
        var consumer = data['consumer'];
        if( consumer == "undefined" || consumer == null || consumer == ''){
            $('#P_ID option:selected').prop("selected",false);
            $('#M_Address option:selected').prop("selected",false);
            $('#detail_address').val('');
            $('#username').val('');
            $('#tel').val('');
            $('#identity').val('');
            $('#family_num').val('');
            $('#building_area').val('');
            $('#income_peryear').val('');
        }else{
            $('input:radio[name="M_Type"][value="'+String(data['meter']['M_Type'])+'"]').prop("checked",true);
            $('#P_ID').find('option[value="'+meter.P_ID+'"]').prop("selected",true);
            $('#M_Address').find('option[value="'+meter.M_Address+'"]').prop("selected",true);
            $('#detail_address').val(meter.detail_address);

            $('#username').val(consumer.username);
            $('#tel').val(consumer.tel);
            $('#identity').val(consumer.identity);
            $('#family_num').val(consumer.family_num);
            $('#building_area').val(consumer.building_area);
            $('#income_peryear').val(consumer.income_peryear);
        }
    }

    $("input").blur(function(){
        $("#save").find("div.state-error").parent().parent().addClass("has-error");
    });

    function printInfo () {
        $("#table").jqprint();
    }


    function finished () {
        removedInput();
        $("#contentPrint").hide();
        $("#content").show();
    }

    function getPrintInfo (M_Type,M_Code,P_ID,username,tel,identity,M_Address,detail_address,family_num,building_area,income_peryear) {
        switch (M_Type) {
            case "1":
                $("#M_Type_P").html("水表");
                break;
            case "2":
                $("#M_Type_P").html("电表");
                break;
            case "3":
                $("#M_Type_P").html("气表");
                break;
        }
        $("#M_Code_P").html(M_Code);
        $("#P_ID_P").html(P_ID);
        $("#username_P").html(username);
        $("#tel_P").html(tel);
        $("#identity_P").html(identity);
        $("#M_Address_P").html(M_Address);
        $("#detail_address_P").html(detail_address);
        $("#family_num_P").html(family_num);
        $("#building_area_P").html(building_area);
        $("#income_peryear_P").html(income_peryear);
    }

    function saveData(){

        $("#save").valid();

        $("#submitBtn").attr("disabled",true);
        $("#submitBtn").html("提交中");

        var M_Type = $('input:radio[name="M_Type"]:checked').val();
        var M_Code = $('#M_Code').val();
        var P_ID = $('#P_ID').val();
        var P_ID_printInfo = $('#P_ID option:selected').text();
        var username = $('#username').val();
        var tel = $('#tel').val();
        var identity  =  $('#identity').val();
        var M_Address = $('#M_Address').val();
        var M_address_printInfo = $('#M_Address option:selected').text();
        var detail_address = $('#detail_address').val();
        var family_num = $('#family_num').val();
        var building_area = $('#building_area').val();
        var income_peryear = $('#income_peryear').val();
        var meter = {M_Type: M_Type, M_Code: M_Code, P_ID: P_ID, M_Address: M_Address, detail_address: detail_address};
        var consumer = {username: username, tel: tel, identity: identity, family_num: family_num, building_area: building_area, income_peryear: income_peryear};
        getPrintInfo(M_Type,M_Code,P_ID_printInfo,username,tel,identity,M_address_printInfo,detail_address,family_num,building_area,income_peryear);

        $.ajax({
            url:"{:url('admin/meter/binding')}",
            method:'post',
            dataType:'json',
            data:{data: JSON.stringify({meter: meter,consumer: consumer})},
            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
            success: function(res){
                alertMsg(res.msg,5);
                if( res.code == 200 ){

                    $("#submitBtn").removeAttrs("disabled");
                    $("#submitBtn").html("提交");

                    //隐藏提交界面,显示打印界面
                    $("#content").hide();
                    $("#contentPrint").show();
                }
            },
            error:function(){
                alertMsg("操作失败！",5);
                $("#submitBtn").removeAttrs("disabled");
                $("#submitBtn").html("提交");
            }
        });
        $("#submitBtn").removeAttrs("disabled");
        $("#submitBtn").html("提交");
    }

</script>
