<!--<div class="wrapper wrapper-content animated fadeInRight">-->
{js href="__JS__/jquery.jqprint-0.3.js" /}
<div id="content" style="opacity: 1; background-color: #e6e6e6; border: 1px #cccccc solid;">
    <section id="widget-grid">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins" style="background: white">
                    <!-- 表单标题概要 -->
                    <div class="ibox-title" style="background-color: #2377AF; color: #ffffff;">
                        <h5>{:lang('Meter')}{:lang('Setup')}</h5>
                        <div class="ibox-tools">
                            <!--<a class="collapse-link">-->
                                <!--<i class="fa fa-chevron-up"></i>-->
                            <!--</a>-->
                            <!--<a class="close-link">-->
                                <!--<i class="fa fa-times"></i>-->
                            <!--</a>-->
                        </div>
                    </div>
                    <!-- 表单内容 -->
                    <div class="ibox-content">
                        <!-- 表格数据 -->

                        <form id="save" action="{:url('admin/meter/saveData')}" method="post" class="form-horizontal" role="form" novalidate="novalidate">

                            <fieldset>
                                <legend>{:lang('M_Code Resources')}</legend>
                                <div class="form-group">
                                    <label for="M_Type" class="col-md-2 control-label">{:lang('Meter Type')}</label>
                                    <div class="col-md-10">
                                        {foreach $company_type as $type}
                                        <label class="radio radio-inline">
                                            <input type="radio" class="radiobox" id="M_Type" name="M_Type" value="{$type}" required {if condition="(count($company_type) == 1) or ((isset($meter.M_Type)) and ($type eq $meter.M_Type))"}checked{/if}>
                                        <span>
                                        {switch name="type"}
                                        {case value="$Think.const.METER_TYPE_WATER"}水{/case}
                                        {case value="$Think.const.METER_TYPE_ELECTRICITY"}电{/case}
                                        {case value="$Think.const.METER_TYPE_GAS"}气{/case}
                                        {default /}
                                        {/switch}
                                        </span>
                                        </label>
                                        {/foreach}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="M_Code" class="col-md-2 control-label">{:lang('M_Code')}</label>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <input class="form-control" type="text" placeholder="{:lang('Please enter M_Code')}" name="M_Code" id="M_Code" value="{$meter.M_Code ?? ''}" required>
                                        <span class="input-group-addon">
                                            <i class="fa fa-warning"></i>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="P_ID" class="col-md-2 control-label">{:lang('Price')}{:lang('Price Type')}</label>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <select class="form-control" name="P_ID" id="P_ID" >
                                                <option value="0" selected disabled>{:lang('Please Search')}{:lang('Price')}{:lang('Price Type')}</option>
                                                {foreach $prices as $price }
                                                <option value="{$price.id}" {if condition="(isset($meter.P_ID)) and ($price.id eq $meter.P_ID)"}selected{/if} >{$price.name}</option>
                                                {/foreach}
                                            </select>
                                        <span class="input-group-addon">
                                            <i class="fa fa-warning"></i>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset id="consumerinfo">
                                <legend>{:lang('Personal Profile')}</legend>
                                <div class="form-group">
                                    <label for="username" class="col-md-2 control-label">{:lang('Name')}</label>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <input class="form-control" type="text" placeholder="{:lang('Please enter username')}" name="username" value="{$consumer.username ?? ''}" id="username">
                                        <span class="input-group-addon">
                                            <i class="fa fa-user fa-fw"></i>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="tel" class="col-md-2 control-label">{:lang('Contact Number')}</label>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <input class="form-control" type="text" placeholder="{:lang('Please enter mobile')}" name="tel" value="{$consumer.tel ?? ''}" id="tel">
                                        <span class="input-group-addon">
                                            <i class="fa fa-phone fa-fw"></i>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="identity" class="col-md-2 control-label">{:lang('PIN-codes')}</label>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <input class="form-control" type="text" placeholder="{:lang('Please enter')}{:lang('PIN-codes')}" name="identity" value="{$consumer.identity ?? ''}" id="identity">
                                        <span class="input-group-addon">
                                            <i class="fa fa-credit-card fa-fw"></i>
                                        </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col col-md-6">
                                    <label for="M_Address" class="col-md-4 control-label">{:lang('Installation Address')}</label>
                                    <!--<label for="detail_address" class="display:none"></label>-->
                                    <div class="col-md-8" style="padding-right: 0">
                                        <div class="input-group" style="width: 100%;">
                                            <select class="form-control" style="width: 100%;" name="M_Address" id="M_Address" required>
                                                <option value="0" selected disabled>{:lang('Please Search')}{:lang('Area')}</option>
                                                {foreach $areas as $area }
                                                <option value="{$area.id}" {if condition="(isset($meter.M_Address)) and ($area.id eq $meter.M_Address)"}selected{/if}>{$area.name}</option>
                                                {/foreach}
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group col col-md-6">
                                    <label for="detail_address" style="display: none"></label>
                                    <div class="col-md-12" style="padding-left: 0">
                                        <div class="input-group">
                                            <input class="form-control" style="float: right" type="text" placeholder="{:lang('Please enter')}{:lang('detail address')}" value="{$meter.detail_address ?? ''}" name="detail_address" id="detail_address" required>
                                            <span class="input-group-addon">
                                                <i class="fa fa-map-marker fa-fw"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset id="addtion">
                                <legend>{:lang('Additional Resources')}</legend>
                                <div class="form-group">
                                    <label for="family_num" class="col-md-2 control-label">{:lang('Family Size')}</label>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <input class="form-control" type="text" placeholder="{:lang('Please enter')}{:lang('Family Size')}" name="family_num" value="{$consumer.family_num ?? ''}" id="family_num">
                                        <span class="input-group-addon">
                                            <i class="fa">人</i>
                                        </span>
                                        </div>
                                    </div>
                                    <label for="building_area" class="col-md-2 control-label">{:lang('Residential Buildings')}</label>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <input class="form-control" type="text" placeholder="请输入住宅面积" name="building_area" value="{$consumer.building_area ?? ''}" id="building_area">
                                        <span class="input-group-addon">
                                            <i class="fa">平米</i>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="income_peryear" class="col-md-2 control-label">{:lang('Annual Income')}</label>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <input class="form-control" type="text" placeholder="请输入年均收入" name="income_peryear" value="{$consumer.income_peryear ?? ''}" id="income_peryear">
                                        <span class="input-group-addon">
                                            <i class="fa">元</i>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <button class="btn btn-primary col-sm-1" id="jqprint" type="button" >{:lang('Print')}</button>
                                    <button style="float: right" class="btn btn-primary col-sm-1" onclick="saveData()" type="submit" id="submitBtn" >{:lang('Button')}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!--</div>-->

<script>

    $('#M_Code').change(function(){
        var M_Code = $('#M_Code').val();
        if( M_Code != 'undefined' && M_Code!= '' && M_Code != null){
            $.ajax({
                url:"{:url('admin/meter/getMeterData')}",
                method:'post',
                dataType:'json',
                data:{M_Code: M_Code},
                beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
                success: function(res){
                    fillInput(res);
                    if(res.code != 200){
                        alertMsg(res.msg);
                    }
                },
                error:function(){
                    alertMsg("操作失败！");
                }
            })
        }else{
            alertMsg("请先填写表号");
        }
    });

    $.validator.setDefaults({
        submitHandler: function() {
            alert("提交事件!");
        },
        success: function(label){
            /*label的默认正确样式为valid，需要通过validClass来重置，否则这里添加的其他样式不能被清除*/
            label.text('').addClass('valid');
            label.parent().parent().removeClass('has-error');
        }
    });

    $("#save").validate({
        errorPlacement: function(error, element) {

            // Append error within linked label

            $(element)
                    .closest( "form" )
                    .find( "label[for='" + element.attr( "id" ) + "']" )
                    .siblings().append( error );
            $(element).closest("form")
                    .find( "label[for='" + element.attr( "id" ) + "']" )
                    .parent().addClass("has-error");
        },

        rules: {
            M_Type: "required",
            M_Code: "required",
            P_ID: "required",
            M_Address : "required",
            detail_address : "required"
        },
        messages: {
            M_Type: "请选择表具类型",
            M_Code: "请输入您的表号",
            P_ID: "请选择价格类型",
            M_Address: "请选择区域",
            detail_address: "请输入详细地址"
        }
    });

    function fillInput(data){
        var meter = data['meter'];
        var consumer = data['consumer'];
        if( consumer == "undefined" || consumer == null || consumer == ''){
            $('#P_ID option:selected').prop("selected",false)
            $('#M_Address option:selected').prop("selected",false)
            $('#detail_address').val('');
            $('#username').val('');
            $('#tel').val('');
            $('#identity').val('');
            $('#family_num').val('');
            $('#building_area').val('');
            $('#income_peryear').val('');
        }else{
            $('input:radio[name="M_Type"][value="'+String(data['meter']['M_Type'])+'"]').prop("checked",true);
            $('#P_ID').find('option[value="'+meter.P_ID+'"]').prop("selected",true);
            $('#M_Address').find('option[value="'+meter.M_Address+'"]').prop("selected",true);
            $('#detail_address').val(meter.detail_address);

            $('#username').val(consumer.username);
            $('#tel').val(consumer.tel);
            $('#identity').val(consumer.identity);
            $('#family_num').val(consumer.family_num);
            $('#building_area').val(consumer.building_area);
            $('#income_peryear').val(consumer.income_peryear);
        }
    }

    $("input").blur(function(){
        $("#save").find("div.state-error").parent().parent().addClass("has-error");
    });

    function saveData(){

        $("#save").valid();

        $("#submitBtn").attr("disabled",true);
        $("#submitBtn").html("提交中");

        var M_Type = $('input:radio[name="M_Type"]:checked').val();
        var M_Code = $('#M_Code').val();
        var P_ID = $('#P_ID').val();
        var username = $('#username').val();
        var tel = $('#tel').val();
        var identity  =  $('#identity').val();
        var M_Address = $('#M_Address').val();
        var detail_address = $('#detail_address').val();
        var family_num = $('#family_num').val();
        var building_area = $('#building_area').val();
        var income_peryear = $('#income_peryear').val();
        var meter = {M_Type: M_Type, M_Code: M_Code, P_ID: P_ID, M_Address: M_Address, detail_address: detail_address};
        var consumer = {username: username, tel: tel, identity: identity, family_num: family_num, building_area: building_area, income_peryear: income_peryear};
//        if( !check(meter,consumer) ){
//            return false;
//        }
        $.ajax({
            url:"{:url('admin/meter/binding')}",
            method:'post',
            dataType:'json',
            data:{data: JSON.stringify({meter: meter,consumer: consumer})},
            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
            success: function(res){
                alertMsg(res.msg);
                if( res.code == 200 ){
//                    setTimeout(function(){window.location.href = ''},1500);
                    window.location.href="{:url('admin/meter/setup')}?M_Code="+res.meter;
                }

                $("#submitBtn").removeAttrs("disabled");
            },
            error:function(){
                alertMsg("操作失败！");
                $("#submitBtn").removeAttrs("disabled");
            }
        })
    }
    $('#jqprint').click(function(){
        $(".ibox-content").jqprint();
    })
//    function check(meter,consumer){
//        if( meter.M_Type == "" || meter.M_Type == null || meter.M_Type == "undefined"){
//            alertMsg("请先选择表具类型");
//            return false;
//        }
//        if( meter.M_Code == "" || meter.M_Code == null || meter.M_Code == "undefined"){
//            alertMsg("请先填写表号");
//            return false;
//        }
//        if( meter.P_ID == "" || meter.P_ID == null || meter.P_ID == "undefined"){
//            alertMsg("请先选择价格类型");
//            return false;
//        }
//        if( meter.M_Address == "" || meter.M_Address == null || meter.M_Address == "undefined"){
//            alertMsg("请先选择安装地址");
//            return false;
//        }
//        if( meter.detail_address == "" || meter.detail_address == null || meter.detail_address == "undefined"){
//            alertMsg("请先填写详细地址");
//            return false;
//        }
//        if( consumer.username == "" || consumer.username == null || consumer.username == "undefined"){
//            alertMsg("请先填写姓名");
//            return false;
//        }
//        if( consumer.telephone == "" || consumer.telephone == null || consumer.telephone == "undefined"){
//            alertMsg("请先填写电话");
//            return false;
//        }
//        if(!checkTelephone(consumer.telephone)){
//            return false;
//        }
//        if( consumer.identity == "" || consumer.identity == null || consumer.identity == "undefined"){
//            alertMsg("请先填写身份证号");
//            return false;
//        }
//        if (!checkCard(consumer.identity)) {
//            alertMsg("请输入正确的身份证号码");
//            return false;
//        }
//        return true;
//    }

</script>
