
<div id="content" style="opacity: 1; background-color: #e6e6e6; border: 1px #cccccc solid; margin-bottom: 40px;">
<section id="widget-grid">
<div class="row">
<div class="col-lg-12">
<div class="ibox float-e-margins" style="background: white;">
<!-- 表单标题概要 -->
<div class="ibox-title" style="background-color: #2377AF; color: #ffffff;">
    <h5>实名认证</h5>
    <div class="ibox-tools">

    </div>
</div>

<!-- 表单内容 -->
<div class="ibox-content">
<!-- 表格数据 -->

<form id="save" action="" data-validate="true" method="post" class="form-horizontal" role="form" novalidate="novalidate">
    <div>用户信息</div>
    <hr/>
    <input type="hidden" name="certification_id" id="certification_id" value="{$certification.id ?? ''}" >
    <input type="hidden" name="name" id="name" value="{$certification.name ?? ''}" >
    <input type="hidden" name="identity" id="identity" value="{$certification.identity ?? ''}" >
    <input type="hidden" name="customer_id" id="customer_id" value="{$customer.id ?? ''}" >
    <div class="form-group" style="margin-top:40px;">
        <label  class="col-md-2 control-label">用户名:</label>
        <div class="col-md-4"style="margin-top: 7px;">{$customer.name??''}</div>
        <label  class="col-md-2 control-label">手机号:</label>
        <div class="col-md-4"style="margin-top: 7px;">{$customer.tel??''}</div>
    </div>
    <div class="form-group" style="margin-top:40px;">
        <label  class="col-md-2 control-label">身份证号:</label>
        <div class="col-md-4"style="margin-top: 7px;">{$customer.identity??''}</div>
        <label  class="col-md-2 control-label">创建时间</label>
        <div class="col-md-4"style="margin-top: 7px;">{$customer.create_time}</div>
    </div>
    <div style="margin-top:30px;">实名信息</div>
    <hr/>
    <div class="form-group" style="margin-top:40px;">
        <label  class="col-md-2 control-label">用户名:</label>
        <div class="col-md-4"style="margin-top: 7px;">{$certification.name??''}</div>
        <label  class="col-md-2 control-label">身份证号:</label>
        <div class="col-md-4"style="margin-top: 7px;">{$certification.identity??''}</div>
    </div>
    <div class="form-group">
        <label  class="col-md-2 control-label">身份证正面</label>

        <div class="col-md-4" style="margin-top:12px;">
            <div id="preview">
                <img  border="0" src="{$certification.positive_img}" width="200"  >
            </div>
        </div>
        <label  class="col-md-2 control-label">身份证背面</label>
        <div class="col-md-4" style="margin-top:12px;">
            <div id="preview1">
                <img  border="0" src="{$certification.negative_img}" width="200"  >
            </div>
        </div>
    </div>
    <hr/>
    <div class="form-group">
        <label  class="col-md-2 control-label">实名认证</label>

        <div class="col-md-4">
            <select name="type" id="type" class="form-control">
                <option value="1">通过</option>
                <option value="2">不通过</option>
            </select>
        </div>
    </div>
    <div class="form-group" style="float: left; width: 100%;margin-top:50px;">
        <label  class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            {if condition="$certification.state eq 1"}
            <button style="float: right" class="btn btn-primary col-sm-1" onclick="sub()" type="button"  >提交</button>
            {/if}
            <button style="float: right;margin-right:1vw;" onclick="history.back(-1);" class="btn btn-success col-sm-1"  type="button" >返回</button>
        </div>
    </div>

</form>
</div>

</div>
</div>
</div>
</section>
</div>
<script type="text/javascript">
    var ue = UE.getEditor('container');
</script>
<script>
    function sub(){
        $('#sub').prop('disabled',true);
        var customer_id = $('#customer_id').val();
        var certification_id = $('#certification_id').val();
        var name = $('#name').val();
        var identity = $('#identity').val();
        var type = $('#type').val();
        var data = {cus_id:customer_id,cer_id:certification_id,type:type,name:name,identity:identity}
        $.ajax({
            url:"{:url('admin/certification/submitCertify')}",
            method:'post',
            dataType:'json',
            data: data,
            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
            success: function(res){
                if(res.code != 200){
                    console.log(res.msg);
                    alertMsg(res.msg,2000);
                }else{
                    alertMsg(res.msg,2000);
                    setTimeout(function(){window.location.href='{:url("admin/certification/index")}'},2000)
                }
            },
            error:function(){
                alertMsg("{:lang('Operation fail')}");
            }
        })
    }
</script>

