{__NOLAYOUT__}
<form data-method="post" data-action="{:url('admin/Param/saveData')}" data-submit="ajax" data-validate="true" class="form-horizontal">
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">{$data['id']?lang('Edit'):lang('Add')}黑名单属性</h3>
                </div>
                <input type="hidden" name="id" value="{$data.id ?? ''}">
                <div class="modal-body">
                    <div class="modal-body-content">
                        <div class="form-group must">
                            <label class="col-sm-3 control-label">标识ID</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="param_id" required value="{$data.param_id ?? ''}">
                            </div>
                        </div>
                    </div>
                    <div class="modal-body-content">
                        <div class="form-group must">
                            <label class="col-sm-3 control-label">参数代号</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="param_name"  required value="{$data.param_name ?? ''}">
                            </div>
                        </div>

                    </div>
                    <div class="modal-body-content">
                        <div class="form-group must">
                            <label class="col-sm-3 control-label">参数描述</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="rem" required value="{$data.rem ?? ''}">
                            </div>
                        </div>

                    </div>
                    <div class="modal-body-content">
                        <div class="form-group must">
                            <label class="col-sm-3 control-label">参数类型</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="param_type" required value="{$data.param_type ?? ''}">
                            </div>
                        </div>

                    </div>
                      <div class="modal-body-content">
                        <div class="form-group must">
                            <label class="col-sm-3 control-label">参数</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="opt_id" required value="{$data.opt_id ?? ''}">
                            </div>
                        </div>

                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{:lang('Cancel')}</button>
                    <button type="submit" class="btn btn-primary">{:lang('Save')}</button>
                </div>
            </div>
        </div>
    </div>
</form>