<!-- Data Tables -->
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins" style="background: white;padding: 10px">
                <!-- 表单标题概要 -->
                <div class="ibox-title">
                    <h5>{:lang('Account List')}</h5>
                </div>
                <!-- 表单内容 -->
                <div class="ibox-content">
                    <!-- 表格数据 -->
                    <button class="btn btn-success" onclick="add()">{:lang('Add')}</button>
                    <table id="table" class="table" >
                        <thead>
                        <tr>
                            <!--<th >{:lang('User Name')}</th>-->
                            <!--<th >{:lang('Status')}</th>-->
                            <!--<th >{:lang('Admin')}</th>-->
                            <!--<th >{:lang('Mobile')}</th>-->
                            <!--<th >{:lang('Operate')}</th>-->
                            <th>{:lang('Designation')}</th>
                            <th>{:lang('Login Name')}</th>
                            <th>{:lang('Status')}</th>
                            <th>{:lang('Administrator')}</th>
                            <th>{:lang('Role Name')}</th>
                            <th>{:lang('Mobile')}</th>
                            <th>{:lang('Operate')}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach $users as $user}
                        <tr>
                            <td>{$user.username}</td>
                            <td>{$user.login_name}</td>
                            <td>{if condition="$user.status"}
                                {:lang('Start')}
                                {else /}
                                {:lang('Off')}
                                {/if}</td>
                            <td>{if condition="isset($user.administrator) && $user.administrator"}
                                {:lang('Yes')}
                                {else /}
                                {:lang('No')}
                                {/if}
                            </td>
                            <td>{if condition='!isset($user["administrator"]) || !$user["administrator"]'}{$user.role.name}{else /}-{/if}</td>
                            <td>{$user.tel}</td>
                            <td><button class="btn btn-success" onclick="edit('{$user.id}')">{:lang('Edit')}</button><button class="btn btn-danger" onclick="del('{$user.id}','{$user.username}')">{:lang('Delete')}</button></td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                    <div>{$users->render()}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{:lang('Save User')}</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body-content">
                    <input name="id" id="id" style="display: none"/>
                    <div class="form-group">
                        <label for="username" class="col-md-2 control-label">{:lang('Name')}</label>
                        <div class="col-md-10">
                            <input class="form-control" name="username" id="username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="login_name" class="col-md-2 control-label">{:lang('Login Name')}</label>
                        <div class="col-md-10">
                            <input class="form-control" name="login_name" id="login_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-md-2 control-label">{:lang('Password')}</label>
                        <div class="col-md-10">
                            <input class="form-control" type="password" name="password" id="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirm_password" class="col-md-2 control-label">{:lang('Confirm Password')}</label>
                        <div class="col-md-10">
                            <input class="form-control"  type="password"  name="confirm_password" id="confirm_password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tel" class="col-md-2 control-label">{:lang('Contacts Tel')}</label>
                        <div class="col-md-10">
                            <input class="form-control" name="tel" id="tel">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">{:lang('Role')}</label>
                        <div class="col-sm-7">
                            <select name="role_id" id="role_id" class="form-control" required>
                                {foreach $roleData as $role}
                                <option value="{$role.id}" >{$role.name}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">{:lang('Status')}</label>
                        <div class="col-sm-7">
                            <select name="status" id="status" class="form-control" required>
                                <option value="1" >{:lang('Start')}</option>
                                <option value="0">{:lang('Off')}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{:lang('Cancel')}</button>
                <button type="button" class="btn btn-primary" onclick="sub();">{:lang('Save')}</button>
            </div>
        </div>
    </div>
</div>

<script>
    function add(){
        emptyModal();
        $('#myModal').modal('show');
    }

    function sub(){
        var id = $('#id').val();
        var username = $('#username').val();
        var login_name = $('#login_name').val();
        var password = $('#password').val();
        var confirm_password = $('#confirm_password').val();
        var status = $('#status').val();
        var role_id = $('#role_id').val();
        var tel = $('#tel').val();

        if( username == '' || username == 'undefined' || username == null ){
            alertMsg("{:lang('User Name Require')}");
            return false;
        }
        if( login_name == '' || login_name == 'undefined' || login_name == null ){
            alertMsg("{:lang('Login Name Require')}");
            return false;
        }
        if( password != '' && (password.length > 16 || password.length < 6)){
            alertMsg("{:lang('The Password Length Is 6-16 Bits')}");
            return false;
        }
        if( password != confirm_password ){
            alertMsg("{:lang('Password and Confirm Password inconsistent')}");
            return false;
        }
        if( tel == '' || tel == 'undefined' || tel == null ){
            alertMsg("{:lang('Contacts Tel Require')}");
            return false;
        }
        if( status == '' || status == 'undefined' || status == null ){
            alertMsg("{:lang('Status Require')}");
            return false;
        }
        if( role_id == '' || role_id == 'undefined' || role_id == null ){
            alertMsg("{:lang('Role Require')}");
            return false;
        }
        if(!checkTelephone(tel))  {
            return false;
        }

        var data = {id: id,username: username,login_name: login_name, password: password, status: status, role_id: role_id,tel: tel};
        $.ajax({
            url:"{:url('manage/system/saveUser')}",
            method:'post',
            dataType:'json',
            data: {data: JSON.stringify(data)},
            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
            success: function(res){
                if(res.code != 200){
                    alertMsg(res.msg);
                }else{
                    alertMsg(res.msg);
                    setTimeout(function(){window.location.href = '';},3000);
                }
            },
            error:function(){
                alertMsg("{:lang('Operation fail')}");
            }
        })
    }

    function edit(id){
        $.ajax({
            url:"{:url('manage/system/getUser')}",
            method:'post',
            dataType:'json',
            data: {id: id},
            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
            success: function(res){
                if(res.code != 200){
                    alertMsg(res.msg);
                }else{
                    fillModal(res.data);
                    $('#login_name').prop('disabled',true);
                    $('#myModal').modal('show');
                }
            },
            error:function(){
                alertMsg("{:lang('Operation fail')}");
            }
        })
    }

    function del(id,name){
        alertConfirm('确定删除用户'+name+'?',function(){
            $.ajax({
                url:"{:url('manage/system/delUser')}",
                method:'post',
                dataType:'json',
                data: {id: id},
                beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
                success: function(res){
                    if(res.code != 200){
                        alertMsg(res.msg);
                    }else{
                        alertMsg(res.msg);
                        setTimeout(function(){window.location.href = '';},3000);
                    }
                },
                error:function(){
                    alertMsg("{:lang('Operation fail')}");
                }
            })
        })
    }

    function fillModal(data){
        $('#id').val(data.id);
        $('#username').val(data.username);
        $('#login_name').val(data.login_name);
        $('#tel').val(data.tel);
        $('#status').val(data.status);
        $('#role_id').val(data.role_id);
    }

    function emptyModal(){
        $('#login_name').prop('disabled',false);
        $('#status option:selected').prop("selected",false);
        $('#role_id option:selected').prop("selected",false);
        $('.modal-body input').each(function(){
            $(this).val('');
        })
    }
</script>