{js href="__JS__/bootstrap-datetimepicker.min.js" /}
{js href="__JS__/bootstrap-typeahead.js" /}
{js href="__JS__/jquery.jqprint-0.3.js" /}
{js href="__JS__/bootstrap-datetimepicker.zh-CN.js" /}
{css href="__CSS__/bootstrap-datetimepicker.min.css" /}
<div id="content" style="opacity: 1; background-color: #e6e6e6; border: 1px #cccccc solid; margin-bottom: 40px;">
    <section id="widget-grid">
        <div class="row">
            <div class="col-lg-12 table-responsive">
                <div class="ibox float-e-margins" style="background: white; float: left; width: 100%;">
                    <!-- 表单内容 -->
                    <div class="ibox-title" style="background-color: #2377AF; color: #ffffff;">
                        <h5>{:lang('Charge Type')}</h5>
                    </div>
                    <div class="ibox-content">
                        <!-- 搜索条件 -->
                        <form action="" method="get" class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label for="source" class="col-sm-4 control-label">{:lang('Choose System')}</label>
                                    <label class="checkbox-inline">
                                        <input type="radio" id="source" name="source" value="new" {if condition="$source eq 'new'"}checked{/if}> {:lang('New System')}
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="radio" name="source" value="old" {if condition="$source eq 'old'"}checked{/if}> {:lang('Old System')}
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label for="company_name" class="col-sm-4 control-label">{:lang('Company')}</label>
                                    <div class="col-sm-8">
                                        <input id="company_name" name="company_name" value="{$company_name ?? ''}" type="text" placeholder="{:lang('Please Input The Company Name')}" autocomplete="off" data-provide="typeahead"  class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label for="startDate" class="col-sm-4 control-label">{:lang('Start Time')}</label>
                                    <div class="col-sm-6">
                                        <input id="startDate" name="startDate" value="{$startDate ?? ''}" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="endDate" class="col-sm-4 control-label">{:lang('End Time')}</label>
                                    <div class="col-sm-6">
                                        <input id="endDate" name="endDate" value="{$endDate ?? ''}" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <button style="float: right" class="btn btn-success" type="submit" >{:lang('Search')}</button>
                                </div>
                            </div>
                        </form>
                        <hr style="height:1px;border:none;border-top:1px solid #555555;" />
                        <!--报表-->
                        <div id="table">
                            <p style="font-size: 13px">{:lang('Charge Type Report',[$source])}<span style="float: right">{:lang('Start Time')}{$startDate}{:lang('End Time')}{$endDate}</span></p>
                            <table class="table table-bordered" data-striped="true" data-toolbar="#toolbar" data-show-columns="true" data-page-size="10" data-page-list="" data-unique-id="id" data-pagination="true" data-side-pagination="server" data-click-to-select="false">
                                <thead>
                                <tr>
                                    <th>{:lang('Charge Type')}</th>
                                    <th>{:lang('Charge Times')}</th>
                                    <th>{:lang('Charge Money')}</th>
                                </tr>
                                </thead>
                                {foreach $reports as $report }
                                <tr>
                                    <td>{$report.typeName}</td>
                                    <td>{$report.times}</td>
                                    <td>{$report.money}</td>
                                </tr>
                                {/foreach}
                                <tr>
                                    <td>{:lang('total')}</td>
                                    <td>{$reports|array_column=###,'times'|array_sum}</td>
                                    <td>{$reports|array_column=###,'money'|array_sum}</td>
                                </tr>
                            </table>
                        </div>
                        <button id="print" style="float: right;margin-left: 1vw" class="btn btn-info" type="button" >{:lang('Print')}</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    $("#startDate").datetimepicker({
        language:"zh-CN",
        format: "yyyy-mm-dd",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left",
        startView: 4,
        bootcssVer:3,
        minView: 2,
    });

    $("#endDate").datetimepicker({
        language:"zh-CN",
        format: "yyyy-mm-dd",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left",
        startView: 4,
        bootcssVer:3,
        minView: 2,
    });
</script>
<script>
    $.fn.typeahead.Constructor.prototype.blur = function() {
        var that = this;
        setTimeout(function () { that.hide() }, 250);
    };
    $('#company_name').typeahead({
        minLength: 0,
        items: 20,
        source: function (query, process) {
            var company_name = $('#company_name').val();
            var parameter = {company_name: company_name};
            $.ajax({
                url:"{:url('manage/report/getCompanyByName')}",
                method:'post',
                dataType:'json',
                data: parameter,
                beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
                success: function(res){
                    var results = res.map(function (product) {
                        return product.company_name;
                    });
                    process(results);
                },
                error:function(){
                    alertMsg("{:lang('Operation fail')}");
                }
            })
        },
    });
    $('#print').click(function(){
        $('#table').jqprint();
    })
</script>