{js href="__JS__/bootstrap-datetimepicker.min.js" /}
{js href="__JS__/bootstrap-datetimepicker.zh-CN.js" /}
{css href="__CSS__/bootstrap-datetimepicker.min.css" /}
<div id="content" style="opacity: 1; background-color: #e6e6e6; border: 1px #cccccc solid; margin-bottom: 40px;">
    <section id="widget-grid">
        <div class="row">
            <div class="col-lg-12 table-responsive">
                <div class="ibox float-e-margins" style="background: white; float: left; width: 100%;">
                    <!-- 表单内容 -->
                    <div class="ibox-title" style="background-color: #2377AF; color: #ffffff;">
                        <h5>{:lang('Day Report')}</h5>
                    </div>
                    <div class="ibox-content">
                        <!-- 搜索条件 -->
                        <form action="" method="post" class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label for="date" class="col-sm-4 control-label">{:lang('Choose System')}</label>
                                        <label class="checkbox-inline">
                                            <input type="radio" name="source" value="new" {if condition="$source eq 'new'"}checked{/if}> {:lang('New System')}
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="radio" name="source" value="old" {if condition="$source eq 'old'"}checked{/if}> {:lang('Old System')}
                                        </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label for="date" class="col-sm-4 control-label">{:lang('Date')}</label>
                                    <div class="col-sm-8">
                                        <input id="date" name="date" value="{$date ?? ''}" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10">
                                        <button style="float: right; margin-left: 10px" class="btn btn-success" type="submit" >{:lang('Search')}</button>
                                        <button style="float: right" class="btn btn-danger" type="button" onclick="download()" >{:lang('Download')}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <hr style="height:1px;border:none;border-top:1px solid #555555;" />
                        <!--报表-->
                        <div id="table">
                            <table class="table table-bordered" data-striped="true" data-toolbar="#toolbar" data-show-columns="true" data-page-size="10" data-page-list="" data-unique-id="id" data-pagination="true" data-side-pagination="server" data-click-to-select="false">
                                <thead>
                                <tr>
                                    <th>{:lang('Company Name')}</th>
                                    <th>{if condition="$source eq 'new'"}{:lang('RMB Charge Times')}{else/}{:lang('Charge Times')}{/if}</th>
                                    <th>{if condition="$source eq 'new'"}{:lang('RMB Charge Money')}{else/}{:lang('Charge Money')}{/if}</th>
                                    <!--<th>{:lang('DELI Charge Times')}</th>-->
                                    <!--<th>{:lang('DELI Charge Money')}</th>-->
                                </tr>
                                </thead>
                                {foreach $companys as $company }
                                <tr>
                                    <td>{$company.company_name}</td>
                                    <td>{$company.chargeTimes_rmb}</td>
                                    <td>{$company.chargeMoney_rmb}</td>
                                    <!--<td>{$company.chargeTimes_deli ?? '0'}</td>-->
                                    <!--<td>{$company.chargeMoney_deli ?? '0'}</td>-->
                                </tr>
                                {/foreach}
                                <tr>
                                    <td>{:lang('total')}</td>
                                    <td>{$all.chargeTimes_rmb}</td>
                                    <td>{$all.chargeMoney_rmb}</td>
                                    <!--<td>{$all.chargeTimes_deli ?? '0'}</td>-->
                                    <!--<td>{$all.chargeMoney_deli ?? '0'}</td>-->
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div>
    {if condition="$source eq 'new'"}}{$companys->render()}{/if}
</div>
<script>
    $("#date").datetimepicker({
        language:"zh-CN",
        format: "yyyy-mm-dd",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left",
        startView: 4,
        bootcssVer:3,
        minView: 2,
    });

    function download(){
        window.location.href="{:url('manage/reconcile/downloaddayreport',['source' => $source,'date' => $date])}"
    }
</script>