{js href="__JS__/bootstrap-datetimepicker.min.js" /}
{js href="__JS__/bootstrap-datetimepicker.zh-CN.js" /}
{css href="__CSS__/bootstrap-datetimepicker.min.css" /}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class=" table-responsive">
            <div class="ibox float-e-margins" style="background: white;padding: 10px">
                <!-- 表单内容 -->
                <div class="ibox-title">
                    <h5>{:lang('Day Report')}</h5>
                </div>
                <div class="ibox-content">
                    <!-- 搜索条件 -->
                    <form action="" method="post" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-lg-6" style="float: left">
                                <div class="form-group">
                                    <label for="date" class="col-sm-2 control-label">{:lang('Date')}</label>
                                    <div class="col-sm-6">
                                        <input id="date" name="date" value="{$date ?? ''}" type="text" class="form-control">
                                    </div>
                                </div>
                            </div><!-- /.col-lg-6 -->
                            <div class="form-group">
                                <label  class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <button style="float: right" class="btn btn-success" type="submit" >{:lang('Search')}</button>
                                    <button style="float: right" class="btn btn-danger" type="button" onclick="download()" >{:lang('Download')}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <hr style="height:1px;border:none;border-top:1px solid #555555;" />
                    <!--报表-->
                    <div id="table">
                        <table  class="table table-hover" style="table-layout:fixed" class="table table-condensed table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th>{:lang('Company Name')}</th>
                                <th>{:lang('RMB Charge Times')}</th>
                                <th>{:lang('RMB Charge Money')}</th>
                                <!--<th>{:lang('DELI Charge Times')}</th>-->
                                <!--<th>{:lang('DELI Charge Money')}</th>-->
                                <th>{:lang('Desc')}</th>
                            </tr>
                            </thead>
                            {foreach $companys as $company }
                            <tr>
                                <td>{$company.company_name}</td>
                                <td>{$company.chargeTimes_rmb}</td>
                                <td>{$company.chargeMoney_rmb}</td>
                                <!--<td>{$company.chargeTimes_deli ?? '0'}</td>-->
                                <!--<td>{$company.chargeMoney_deli ?? '0'}</td>-->
                                <td>{$company.desc}</td>
                            </tr>
                            {/foreach}
                            <tr>
                                <td>{:lang('total')}</td>
                                <td>{$all.chargeTimes_rmb}</td>
                                <td>{$all.chargeMoney_rmb}</td>
                                <!--<td>{$all.chargeTimes_deli ?? '0'}</td>-->
                                <!--<td>{$all.chargeMoney_deli ?? '0'}</td>-->
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    {$companys->render()}
</div>
<script>
    $("#date").datetimepicker({
        language:"zh-CN",
        format: "yyyy-mm-dd",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left",
        startView: 4,
        bootcssVer:3,
        minView: 2,
    });

    function download(){
        window.location.href="{:url('manage/reconcile/downloaddayreport',['date' => $date])}"
    }
</script>