<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>捨得社區</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="alternate icon" type="image/png" href="__front__/assets/i/favicon.png">
  <link rel="stylesheet" href="__front__/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="__front__/assets/css/app.css">
  <!--font-->
	<link rel="stylesheet" type="text/css" href="__front__/font/iconfont.css">
	<script src="__front__/font/iconfont.js"></script>
</head>
<body>
	<!--页头-->
	<header class="am-header" style="background-image:url(__front__/img/header1.jpg);background-size:cover;">
	  <h1 class="am-header-title">行情</h1>
  </header>
	<!--页头结束-->
	<!--页面内容-->
    <input type="hidden" id="nav" value="nav2"/>
	<div class="market_container">
		<div class="market_header">
			<div style="text-align:left;">資產名稱</div>
			<div style="text-align:center;">最新價</div>
			<div style="text-align:right;">漲跌幅</div>
		</div>
		<div class="market_inner">
			<a class="market_link">
				<div class="market_inners" style="text-align:left;padding-left:6%;line-height:70px;color:rgb(47,47,47);">RFT</div>
				<div class="market_inners" style="padding-top:8px;">
					<p class="chinese_market">¥5171.40</p>
					<p class="dollar_market">$782.95</p>
				</div>
				<div class="market_inners" style="text-align:center;line-height:70px;">
					<div class="add_btn">+782.9</div>
				</div>
			</a>
		</div>
		<div class="market_inner">
			<a class="market_link">
				<div class="market_inners" style="text-align:left;padding-left:6%;line-height:70px;color:rgb(47,47,47);">RFT</div>
				<div class="market_inners" style="padding-top:8px;">
					<p class="chinese_market">¥5171.40</p>
					<p class="dollar_market">$782.95</p>
				</div>
				<div class="market_inners" style="text-align:center;line-height:70px;">
					<div class="add_btn">+782.9</div>
				</div>
			</a>
		</div>
		<div class="market_inner">
			<a class="market_link">
				<div class="market_inners" style="text-align:left;padding-left:6%;line-height:70px;color:rgb(47,47,47);">RFT</div>
				<div class="market_inners" style="padding-top:8px;">
					<p class="chinese_market">¥5171.40</p>
					<p class="dollar_market">$782.95</p>
				</div>
				<div class="market_inners" style="text-align:center;line-height:70px;">
					<div class="reduce_btn">+782.9</div>
				</div>
			</a>
		</div>
		<div class="market_inner">
			<a class="market_link">
				<div class="market_inners" style="text-align:left;padding-left:6%;line-height:70px;color:rgb(47,47,47);">RFT</div>
				<div class="market_inners" style="padding-top:8px;">
					<p class="chinese_market">¥5171.40</p>
					<p class="dollar_market">$782.95</p>
				</div>
				<div class="market_inners" style="text-align:center;line-height:70px;">
					<div class="add_btn">+782.9</div>
				</div>
			</a>
		</div>
	</div>
	<!--页面内容-->
</body>
</html>
