{__NOLAYOUT__}
<form data-method="post" data-action="{:url('admin/Blacklistparam/saveData')}" data-submit="ajax" data-validate="true" class="form-horizontal">
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">{$data['id']?lang('Edit'):lang('Add')}{:lang('Blacklist Param' )}</h3>
                </div>
                <input type="hidden" name="id" value="{$data.id ?? ''}">
                <div class="modal-body">
                   
                    <div class="modal-body-content">
                        <div class="form-group must">
                            <label class="col-sm-3 control-label">{:lang('Param Mark')}</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="param_name"  required value="{$data.param_name ?? ''}">
                            </div>
                        </div>
                    </div>
                    <div class="modal-body-content">
                        <div class="form-group must">
                            <label class="col-sm-3 control-label">{:lang('Param Description')}</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="desc" required value="{$data.desc ?? ''}">
                            </div>
                        </div>

                    </div>
                    <div class="modal-body-content">
                        <div class="form-group must">
                            <label class="col-sm-3 control-label">{:lang('Param Type')}</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="param_type" required value="{$data.param_type ?? ''}">
                            </div>
                        </div>

                    </div>
                      <div class="modal-body-content">
                        <div class="form-group must">
                            <label class="col-sm-3 control-label">{:lang('Param')}</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="opt_id" required value="{$data.opt_id ?? ''}">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{:lang('Cancel')}</button>
                        <button type="submit" class="btn btn-primary">{:lang('Save')}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>