<div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
        <!-- 个人信息 -->
        <li class="nav-header">
                <div class="dropdown profile-element">
            <a href="{:url('admin/index/index')}">
                    <span><img alt="image" width="64" height="64" class="img-circle" src="__IMG__/logo.jpg" /></span>
            </a>
                </div>
            <div class="logo-element">
                Red
            </div>
        </li>
        <!-- 菜单列表 -->
        <!-- 一级菜单 -->
        <li>
            <a href="{:url('admin/index/index')}"><i class="fa fa-th-large"></i> <span class="nav-label">{$Think.lang.Dashboards}</span></a>
        </li>
        <!-- 二级菜单 -->
        {foreach $menus as $menu}
        <li>
            {if condition="$menu.display eq 1"}
                <a href="#"><i class="{$menu.glyphicon}"></i> <span class="nav-label">{$menu.title}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    {if condition="isset($menu.children)"}
                        {foreach $menu.children as $children}
                            {if condition="$children.display eq 1"}
                                <li class=""><a href="/{$children['rule_val']}">{$children.title}</a></li>
                            {/if}
                        {/foreach}
                    {/if}
                </ul>
            {/if}
        </li>
        {/foreach}
       
    </ul>
</div>
