{js href="__JS__/bootstrap-datetimepicker.min.js" /}
{js href="__JS__/bootstrap-datetimepicker.zh-CN.js" /}
{css href="__CSS__/bootstrap-datetimepicker.min.css" /}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class=" table-responsive">
            <div class="ibox float-e-margins" style="background: white;padding: 10px">
                <!-- 表单内容 -->
                <div class="ibox-title">
                    <h5>{:lang('Order Account List')}</h5>
                </div>
                <div class="ibox-content">
                    <!-- 表格数据 -->
                    <form  method="" class="form-horizontal">

                        <div class="form-group">
                            <div class="col-lg-6" style="float: left">
                                <div class="form-group">
                                    <label for="settle" class="col-sm-2 control-label">{:lang('Order Settle Status')}:</label>
                                    <div class="col-sm-6">
                                        <select name="settle" id="settle" class="form-control">
                                            <option value="all" selected>{:lang('Search All')}</option>
                                            <option value="{$Think.ORDER_ALREADY_ACCOUNT}" {if condition="$settle_status === strval($Think.ORDER_ALREADY_ACCOUNT) "}selected{/if}>{:lang('Order Settle Status Settled')}</option>
                                            <option value="{$Think.ORDER_NOT_ACCOUNT}" {if condition="$settle_status === strval($Think.ORDER_NOT_ACCOUNT) "}selected{/if}>{:lang('Order Settle Status Unsettle')}</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6" style="float: left">
                                <div class="form-group">
                                    <label for="searchDate" class="col-sm-2 control-label">{:lang('Search By Month')}</label>
                                    <div class="col-sm-6">
                                        <input id="searchDate" name="searchDate" value="{$searchDate ?? ''}" type="text" class="form-control">
                                    </div>
                                </div>
                            </div><!-- /.col-lg-6 -->

                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <button style="float: right" class="btn btn-success" type="submit"  >{:lang('Search')}</button>
                            </div>
                        </div>
                    </form>
                    <hr style="height:1px;border:none;border-top:1px solid #555555;" />
                    <h5>{:lang('Total')}:{$totalCost}{:lang('yuan')}</h5>
                    <div><table class="table table-hover" style="table-layout:fixed" class="table table-condensed table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th style="width:200px;">{:lang('Order Number')}</th>
                            <th>{:lang('Buyer Name')}</th>
                            <th>{:lang('Contact Name')}</th>
                            <th>{:lang('Contact Tel')}</th>
                            <th>{:lang('Contact Address')}</th>
                            <th>{:lang('Total Cost')}</th>
                            <th>{:lang('Pay Time')}</th>
                            <th>{:lang('Order Settle Status')}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name='orders' id='vo'}
                        <tr>
                            <td>{$vo.id}</td>
                            <td>{$vo.consumer.username ?? ''}</td>
                            <td>{$vo.contact_name ?? ''}</td>
                            <td>{$vo.contact_tel ?? ''}</td>
                            <td>{$vo.contact_address ?? ''}</td>
                            <td>{$vo.totalCost ?? ''}</td>
                            <td>{if condition="isset($vo.pay_time)"}{$vo.pay_time|date="Y-m-d H:i:s",###}{/if}</td>
                            <td>{if condition="$vo.deli_settle_status eq 1"}{:lang('Order Settle Status Settled')}{else/}{:lang('Order Settle Status Unsettle')}{/if}</td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                    <div>
                        {$orders->render()}
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#searchDate").datetimepicker({
        language:"zh-CN",
        format: "yyyy-mm",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left",
        startView: 4,
        bootcssVer:3,
        minView: 3,
    })

</script>
