<div id="content" style="opacity: 1; background-color: #e6e6e6; border: 1px #cccccc solid; margin-bottom: 40px;">
    <section id="widget-grid">
        <div class="row">
            <div class="col-lg-12 table-responsive">
                <div class="ibox float-e-margins" style="background: white; float: left; width: 100%;">
                    <!-- 表单内容 -->
                    <div class="ibox-title" style="background-color: #2377AF; color: #ffffff;">
                        <h5>{:lang('Manage Chat')}</h5>
                    </div>
                    <div class="ibox-content">
                        <form  method="get" class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label for="status" class="col-sm-4 control-label">{:lang('Chat Status')}:</label>
                                    <div class="col-sm-8">
                                        <select  name="status" id="status" class="form-control">
                                            <option value="">{:lang('All Chats')}</option>
                                            <option value=1 {if condition="$status eq 1"}selected{/if}>{:lang('Unchecked Chats')}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <button style="float: right" class="btn btn-success" type="submit"  >{:lang('Search')}</button>
                                </div>
                            </div>
                        </form>
                        <hr style="height:1px;border:none;border-top:1px solid #555555;" />
                        <!--消息列表-->
                        <div>
                            <table class="table table-bordered" data-striped="true" data-toolbar="#toolbar" data-show-columns="true" data-page-size="10" data-page-list="" data-unique-id="id" data-pagination="true" data-side-pagination="server" data-click-to-select="false">
                                <thead>
                                <tr>
                                    <th>{:lang('Chat Username')}</th>
                                    <th>{:lang('Chat Number')}</th>
                                    <th>{:lang('Operate')}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {foreach $chats as $chat}
                                <tr>
                                    <td>{$chat->username ?? ''}</td>
                                    <td>{$chat->count}</td>
                                    <td><button class="btn btn-success" style="margin-left: 1vw" onclick="getDetail('{$chat->_id->uid}')">{:lang('Chat Detail')}</button></td>
                                </tr>
                                {/foreach}
                                </tbody>
                            </table>
                        </div>
                        <div>
                            {$page_render}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{:lang('Save Production')}</h4>
            </div>
            <div class="modal-body form-horizontal">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{:lang('Cancel')}</button>
                <button type="button" id="sub" class="btn btn-primary" onclick="sub();">{:lang('Save')}</button>
            </div>
        </div>
    </div>
</div>
<script>
    function getDetail(uid){
        window.location.href = "{:url('qyshop/chat/detail')}"+"?uid="+uid;
    }
</script>

                   
