<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>捨得社區</title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="icon" type="image/png" href="__front__/assets/i/favicon.png">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="__front__/assets/i/app-icon72x72@2x.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="__front__/assets/i/app-icon72x72@2x.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">
  	
  <!--妹子ui样式-->	
  <link rel="stylesheet" href="__front__/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="__front__/assets/css/app.css">
  	
  <!--公告轮播-->
  <link type="text/css" href="__front__/css/jq22.css" rel="stylesheet" />
  <script src="https://cdn.bootcss.com/jquery/3.3.0/jquery.min.js"></script>
  <script type="text/javascript" src="__front__/js/jq22.js"></script>

	<!--刷新樣式-->
	<link rel="stylesheet" href="__front__/css/mescroll.css">
	<link rel="stylesheet" href="__front__/option/mescroll-option.css">
		
	<!--font-->
	<link rel="stylesheet" type="text/css" href="__front__/font/iconfont.css">
	<script src="__front__/font/iconfont.js"></script>
	
	

</head>
<body>
	<!--页头-->
	<header class="am-header index_header" style="background-color:#6275F8;background-size: cover;z-index:9990;">
	  <h1 class="am-header-title">資訊</h1>
  </header>
	<!--页头结束-->
	
	<!--下拉刷新回调的提示-->
	<p id="downloadTip" class="download-tip">1条新内容</p>
	<div  id="mescroll" class="mescroll">
		<!--轮播图开始-->
        <input type="hidden" id="nav" value="nav1"/>
        <input type="hidden" id="first_sort_time" value="" />
		<div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-0">
		  <ul class="am-slides">
              {volist name="slidelist" id="vo"}
		    <li><img src="{$vo.img}" /></li>
              {/volist}
		  </ul>
		</div>
		<!--轮播图结束-->
		<!--公告轮播-->
		<div class="news_box">
			<div class="t_news">
				<span><i class="icon iconfont icon-icon06"></i></span>
				<ul class="news_li">
                    {volist name="gonggao" id="val"}
					<li><a href="#" >{$val.title}</a></li>
                    {/volist}
				</ul>
				<ul class="swap"></ul>
			</div>
		</div>
		<!--公告轮播结束-->
		<!--货币切换-->
		<div id="change">
			<span style="width:23%;text-align:left;">當前價</span>
			<span style="width:50%;text-align:center;"><span id="price" style="font-size:16px;color: rgb(92,102,249);">
				￥{$coinlist['price']?$coinlist['price']:''}
				${$coinlist['usa_price']?$coinlist['usa_price']:''}
			</span>
				<span id="name">{$coinlist['name']?$coinlist['name']:''}</span>
			</span>
			<span id="code" style="width:13%;text-align:right;">{$coinlist['code']?$coinlist['code']:''}</span>
			<button type="button" id="button" data="0" class="am-btn am-btn-primary am-btn-xs">切換</button>
		</div>
		<div id="hangqingTitle">
			<span class="hr" style="float: left;"></span>
			<h2>行情趨勢</h2>
			<span class="hr" style="float: right;"></span>
		</div>
		<!--货币切换结束-->
		<!--资讯列表-->
		<div id="news-header">
			<h2>最新資訊</h2>
		</div>
		<ul id="news-list" class="news-list">
			<!--<li>
				<a href="inform_detail.html">
					<div class="news-img">
						<img src="img/img.png"/>
					</div>
					<div class="artical">
						<p class="news-text ">这是一段话，很长很长很长很长很长</p>
					  <p style="display: inline-block;margin: 0;padding: 0;margin-top: 35px;color:rgb(153,153,153);">4月29日</p>
					</div>	
				</a>
			</li>
			<li>
				<div class="news-img">
					<img src="img/img.png"/>
				</div>
				<div class="artical">
					<p class="news-text ">这是一段话，很长很长很长很长很长</p>
				  <p style="display: inline-block;margin: 0;padding: 0;margin-top: 35px;color:rgb(153,153,153);">4月29日</p>
				</div>		
			</li>
			<li>
				<div class="news-img">
					<img src="img/img.png"/>
				</div>
				<div class="artical">
					<p class="news-text ">这是一段话，很长很长很长很长很长</p>
				  <p style="display: inline-block;margin: 0;padding: 0;margin-top: 35px;color:rgb(153,153,153);">4月29日</p>
				</div>		
			</li>-->
		</ul>
		<!--资讯列表结束-->
	</div>
		
	

	
	<!--底部导航栏结束-->


	<!--[if (gte IE 9)|!(IE)]><!-->
	<!--<script src="assets/js/jquery.min.js"></script>-->
	<!--<![endif]-->
	<!--[if lte IE 8 ]>
	<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
	<script src="__front__/assets/js/amazeui.ie8polyfill.min.js"></script>
	<![endif]-->
	
	<!--刷新js-->
	<script src="__front__/js/mescroll.js" type="text/javascript" charset="utf-8"></script>
	<script src="__front__/option/mescroll-option.js" type="text/javascript" charset="utf-8"></script>
	<!--mescroll本身不依赖jq,这里为了模拟发送ajax请求-->
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<!--妹子js-->
	<script src="__front__/assets/js/amazeui.min.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(function(){
					//创建MeScroll对象
					var mescroll = initMeScroll("mescroll", {
						down:{
							auto:false,//是否在初始化完毕之后自动执行下拉回调callback; 默认true
							callback: downCallback //下拉刷新的回调
						},
						up: {
							auto:true,//初始化完毕,是否自动触发上拉加载的回调
							isBoth: true, //上拉加载时,如果滑动到列表顶部是否可以同时触发下拉刷新;默认false,两者不可同时触发; 这里为了演示改为true,不必等列表加载完毕才可下拉;
							callback: upCallback //上拉加载的回调
						}
					});
					
					/*下拉刷新的回调 */
					function downCallback(){
                        var last_info = $('#first_sort_time').val();
                        $.ajax({
                            url:"{:url('front/index/getNewInfo')}",
                            method:'post',
                            dataType:'json',
                            data: {last_info:last_info},
                            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
                            success: function(data){
                                console.log(data);
                                console.log(8888);
//                              //联网成功的回调,隐藏下拉刷新的状态
                                mescroll.endSuccess();
                                //设置列表数据
                                setListData(data, false);
                                //显示提示
                                var str = "";
                                if(data.length ==0 ){
                                    str = '已经是最新';
                                }else{
                                    str = data.length+'条新内容';
                                }
                                $('#downloadTip').html(str);
                                $("#downloadTip").css("top","30px");
                                setTimeout(function () {
                                    $("#downloadTip").css("top","0px");
                                },2000);;
                            },
                            error:function(){
                                mescroll.endErr();
                            }
                        })
					}
					
					/*上拉加载的回调 page = {num:1, size:10}; num:当前页 从1开始, size:每页数据条数 */
					function upCallback(page){
						//联网加载数据
						console.log(page);
                        $.ajax({
                            url:"{:url('front/index/getInformation')}",
                            method:'post',
                            dataType:'json',
                            data: page,
                            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
                            success: function(data){
                                mescroll.endSuccess(data.length);
                                setListData(data, true);
                                if(page.num == 1){
                                    $('#first_sort_time').val(data[0].sort_time);
                                }
                            },
                            error:function(){
                                mescroll.endErr();
                            }
                        })
					}
					
					/*设置列表数据*/
					function setListData(data, isAppend) {
						var listDom=document.getElementById("news-list");
						console.log(listDom)
						for (var i = 0; i < data.length; i++) {
							var newObj=data[i];
							console.log("++++"+data.length)
						
						
							var str='<a onclick="detail('+newObj.id+')">'+
										 '<div class="news-img">'+
											'<img src="'+newObj.img+'"/>'+
											'</div>'+
											'<div class="artical">'+
												'<p class="news-text ">'+newObj.title+'</p>'+
											  '<p style="display: inline-block;margin: 0;padding: 0;margin-top: 35px;color:rgb(153,153,153);">'+newObj.create_time+'</p>'+
											'</div>'+
							'</a>	';				
							var liDom=document.createElement("li");
							liDom.innerHTML=str;
							console.log("6666"+newObj)
							
							if (isAppend) {
								console.log("777"+liDom)
								console.log(liDom)
								listDom.appendChild(liDom);//加在列表的后面,上拉加载
							} else{
								listDom.insertBefore(liDom, listDom.firstChild);//加在列表的前面,下拉刷新
							}
						}
					}
					
					/*联网加载列表数据*/
//					var downIndex=0;
//					function getListDataFromNet(pageNum,pageSize,successCallback,errorCallback) {
//						//延时一秒,模拟联网
//		                setTimeout(function () {
//		                	try{
//		                		var newArr=[];
//			                	if(pageNum==0){
//			                		//此处模拟下拉刷新返回的数据
//			                		downIndex++;
//			                		var newObj={img:"__front__/img/img.png",text:"【內容"+downIndex+"】 新增內容",time:"新增话题的时间"};
//			                		newArr.push(newObj);
//			                	}else{
//			                		//此处模拟上拉加载返回的数据
//			                		for (var i = 0; i < pageSize; i++) {
//			                			var upIndex=(pageNum-1)*pageSize+i+1;
//			                			var newObj={img:"__front__/img/img.png",text:"【內容"+upIndex+"】 內容",time:"时间时间时间"};
//			                			newArr.push(newObj);
//			                		}
//			                	}
//			                	//联网成功的回调
//			                	successCallback&&successCallback(newArr);
//		                	}catch(e){
//		                		//联网失败的回调
//		                		errorCallback&&errorCallback();
//		                	}
//		                },2000)
//					}
					
					//禁止PC浏览器拖拽图片,避免与下拉刷新冲突;如果仅在移动端使用,可删除此代码
					document.ondragstart=function() {return false;}
				});
		</script>
    <script>
        $('#button').click(function(){
            var coinlist = {$coinlist|json_encode};
            if(coinlist.length == 0){
                return;
            }
            var key = Number($('#button').attr('data'))+1;
            if(key == coinlist.length){
                key = key - coinlist.length;
            }
            $('#name').html(coinlist[key]['name']);
            $('#price').html(coinlist[key]['price']);
            $('#code').html(coinlist[key]['code']);
            $('#button').attr('data',key);
        })

        function detail(id){
            location.href="{:url('front/index/detail')}?id="+id;
        }
    </script>
</body>
</html>
