{js href="__JS__/bootstrap-typeahead.js" /}
<style>
    #addModal .form-group{
        width: 100%;
        float: left;
    }

    #addModal .control-label {
        text-align: right;
        margin-top: 6px;
    }

    .addModal .btn {
        margin: 5px;
    }
</style>
<div id="content" style="opacity: 1; background-color: #e6e6e6; border: 1px #cccccc solid; margin-bottom: 40px;">
    <section id="widget-grid">
        <div class="row">
            <div class="col-lg-12 table-responsive">
                <div class="ibox float-e-margins" style="background: white; float: left; width: 100%;">
                    <!-- 表单标题概要 -->
                    <div class="ibox-title" style="background-color: #2377AF; color: #ffffff;">
                        <h5>{:lang('Operation Management')}</h5>
                    </div>
                    <!-- 表单内容 -->
                    <div class="ibox-content">
                        <form id="companySelect" action="{:url('manage/manage/company')}"  method="post" class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-8" style="float: left">
                                    <div class="form-group">
                                        <label for="company" class="col-sm-2 control-label">{:lang('Company')}:</label>
                                        <div class="col-sm-10">
                                            <input id="company" name="company" value="{$company ?? ''}" type="text" autocomplete="off" data-provide="typeahead"  class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" style="float: left">
                                    <div class="form-group">
                                        <!--<label  class="col-sm-2 control-label"></label>-->
                                        <div class="col-sm-10">
                                            <button style="float: left; margin: 0;" class="btn btn-primary" type="submit" >{:lang('Search')}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="col-md-12" >
                            <div style="float: left">
                                <button style="margin-left: 1vw" class="btn btn-success" onclick="showAddModal()">{:lang('Add')}</button>
                            </div>
                        </div>
                        <div style="clear: both"></div>
                        <hr style="height:1px;border:none;border-top:1px solid #555555;" />
                        <!-- 表格数据 -->
                        <table id="table" class="table table-bordered" data-striped="true" data-toolbar="#toolbar" data-show-columns="true" data-page-size="10" data-page-list="" data-unique-id="id" data-pagination="true" data-side-pagination="server" data-click-to-select="false">
                            <thead>
                            <tr>
                                <th data-width="50" >{:lang('OPT_ID')}</th>
                                <th data-width="50" >{:lang('Company Name')}</th>
                                <th data-width="50" >{:lang('Admin Operate')}</th>
                                <th data-width="50" >{:lang('Operation')}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $companys as $company}
                            <tr>
                                <th>{$company.OPT_ID}</th>
                                <th>{$company.company_name}</th>
                                <th><button class="btn btn-success" onclick="editAdmin('{$company.OPT_ID}')">{:lang('Admin')}</button></th>
                                <th><button class="btn btn-info" onclick="editCompany('{$company.id}')">{:lang('Edit')}</button> <button class="btn btn-danger" onclick="delCompany('{$company.OPT_ID}','{$company.company_name}')">{:lang('Delete')}</button></th>
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {$companys->render()}
</div>

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addModalLabel">{:lang('Add')}</h4>
            </div>
            <div class="modal-body" style="width: 100%; float: left;">
                <input style="display: none" name="id" value="" id="id" />
                <div class="modal-body-content">
                    <div class="form-group must">
                        <label class="col-md-2 control-label">{:lang('Company Type')}<span class="glyphicon glyphicon-asterisk" style="color:red"></span></label>
                        <div class="col-md-10" style="margin-top: 6px">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="company_type" value={$Think.const.METER_TYPE_WATER}> 水
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="company_type" value={$Think.const.METER_TYPE_ELECTRICITY}> 电
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="company_type" value={$Think.const.METER_TYPE_GAS}> 气
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-body-content">
                    <div class="form-group must">
                        <label for="company_name" class="col-md-2 control-label">{:lang('Company Name')}<span class="glyphicon glyphicon-asterisk" style="color:red"></span></label>
                        <div class="col-md-10">
                            <input class="form-control" name="company_name" id="company_name"  required>
                        </div>
                    </div>
                </div>
                <div class="modal-body-content">
                    <div class="form-group must">
                        <label for="OPT_ID" class="col-md-2 control-label">{:lang('OPT_ID')}<span class="glyphicon glyphicon-asterisk" style="color:red"></span></label>
                        <div class="col-md-10">
                            <input class="form-control" name="OPT_ID" id="OPT_ID"  required>
                        </div>
                    </div>
                </div>
                <div class="modal-body-content">
                    <div class="form-group must">
                        <label for="address" class="col-md-2 control-label">{:lang('Address')}<span class="glyphicon glyphicon-asterisk" style="color:red"></span></label>
                        <div class="col-md-10">
                            <input class="form-control" name="address" id="address" required>
                        </div>
                    </div>
                </div>
                <div class="modal-body-content">
                    <div class="form-group must">
                        <label for="quality" class="col-md-2 control-label">{:lang('Quality')}<span class="glyphicon glyphicon-asterisk" style="color:red"></span></label>
                        <div class="col-md-10">
                            <input class="form-control" name="quality" id="quality"  required>
                        </div>
                    </div>
                </div>
                <div class="modal-body-content">
                    <div class="form-group must">
                        <label for="contacts_tel" class="col-md-2 control-label">{:lang('Contacts Tel')}<span class="glyphicon glyphicon-asterisk" style="color:red"></span></label>
                        <div class="col-md-10">
                            <input class="form-control" name="contacts_tel" id="contacts_tel" required>
                        </div>
                    </div>
                </div>
                <div class="modal-body-content">
                    <div class="form-group must">
                        <label for="contacts_name" class="col-md-2 control-label">{:lang('Contacts Name')}<span class="glyphicon glyphicon-asterisk" style="color:red"></span></label>
                        <div class="col-md-10">
                            <input class="form-control" name="contacts_name" id="contacts_name" required>
                        </div>
                    </div>
                </div>
                <div class="modal-body-content">
                    <div class="form-group must">
                        <label for="fax" class="col-md-2 control-label">{:lang('Fax')}<span class="glyphicon glyphicon-asterisk" style="color:red"></span></label>
                        <div class="col-md-10">
                            <input class="form-control" name="fax" id="fax" required>
                        </div>
                    </div>
                </div>
                <div class="modal-body-content">
                    <div class="form-group must">
                        <label for="legal_person" class="col-md-2 control-label">{:lang('Legal Person')}<span class="glyphicon glyphicon-asterisk" style="color:red"></span></label>
                        <div class="col-md-10">
                            <input class="form-control" name="legal_person" id="legal_person" required>
                        </div>
                    </div>
                </div>
                <div class="modal-body-content">
                    <div class="form-group must">
                        <label for="bank_name" class="col-md-2 control-label">{:lang('Bank Name')}<span class="glyphicon glyphicon-asterisk" style="color:red"></span></label>
                        <div class="col-md-10">
                            <input class="form-control" name="bank_name" id="bank_name" required>
                        </div>
                    </div>
                </div>
                <div class="modal-body-content">
                    <div class="form-group must">
                        <label for="bank_card" class="col-md-2 control-label">{:lang('Bank Card')}<span class="glyphicon glyphicon-asterisk" style="color:red"></span></label>
                        <div class="col-md-10">
                            <input class="form-control" name="bank_card" id="bank_card" required>
                        </div>
                    </div>
                </div>
                <div class="modal-body-content">
                    <div class="form-group must">
                        <label for="tax_code" class="col-md-2 control-label">{:lang('Tax Code')}<span class="glyphicon glyphicon-asterisk" style="color:red"></span></label>
                        <div class="col-md-10">
                            <input class="form-control" name="tax_code" id="tax_code" required>
                        </div>
                    </div>
                </div>
                <div class="modal-body-content">
                    <div class="form-group must">
                        <label for="sms_tel" class="col-md-2 control-label">{:lang('SMS Tel')}</label>
                        <div class="col-md-10">
                            <input class="form-control" name="sms_tel" id="sms_tel" required>
                        </div>
                    </div>
                </div>
                <div class="modal-body-content">
                    <div class="form-group must">
                        <label for="secret_key_url" class="col-md-2 control-label">{:lang('Secret Key URL')}<span class="glyphicon glyphicon-asterisk" style="color:red"></span></label>
                        <div class="col-md-10">
                            <input class="form-control" name="secret_key_url" id="secret_key_url" required>
                        </div>
                    </div>
                </div>
                <div class="modal-body-content">
                    <div class="form-group must">
                        <label for="secret_key" class="col-md-2 control-label">{:lang('Secret Key')}</label>
                        <div class="col-md-10">
                            <input class="form-control" name="secret_key" id="secret_key" required>
                        </div>
                    </div>
                </div>
                <div class="modal-body-content">
                    <div class="form-group must">
                        <label for="charge_status" class="col-md-2 control-label">{:lang('Charge Status')}<span class="glyphicon glyphicon-asterisk" style="color:red"></span></label>
                        <div class="col-md-10">
                            <select class="form-control" name="charge_status" id="charge_status">
                                <option value={$Think.const.UNCHARGE} >{:lang('Uncharge')}</option>
                                <option value={$Think.const.CHARGED} >{:lang('Charged')}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-body-content">
                    <div class="form-group must">
                        <label for="charge_date" class="col-md-2 control-label">{:lang('Charge Date')}<span class="glyphicon glyphicon-asterisk" style="color:red"></span></label>
                        <div class="col-md-10">
                            <input class="form-control" name="charge_date" id="charge_date" required>
                        </div>
                    </div>
                </div>
                <div class="modal-body-content">
                    <div class="form-group must">
                        <label for="limit_times" class="col-md-2 control-label">{:lang('Limit Times')}<span class="glyphicon glyphicon-asterisk" style="color:red"></span></label>
                        <div class="col-md-10">
                            <input class="form-control" type="number"  name="limit_times" id="limit_times" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" required>
                        </div>
                    </div>
                </div>
                <div class="modal-body-content">
                    <div class="form-group must">
                        <label for="left_times" class="col-md-2 control-label">{:lang('Left Times')}<span class="glyphicon glyphicon-asterisk" style="color:red"></span></label>
                        <div class="col-md-10">
                            <input class="form-control" type="number" name="left_times" id="left_times" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" required>
                        </div>
                    </div>
                </div>
                <div class="modal-body-content">
                    <div class="form-group must">
                        <label for="desc" class="col-md-2 control-label">{:lang('Desc')}</label>
                        <div class="col-md-10">
                            <input class="form-control" name="desc" id="desc" required>
                        </div>
                    </div>
                </div>
                <div class="modal-body-content">
                    <div class="form-group must">
                        <label for="alarm_tel" class="col-md-2 control-label">{:lang('Alarm Tel')}</label>
                        <div class="col-md-10">
                            <input class="form-control" name="alarm_tel" id="alarm_tel" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{:lang('Cancel')}</button>
                <button type="button" class="btn btn-primary" onclick="sub();">{:lang('Save')}</button>
            </div>
        </div>
    </div>
</div>

<script>
    $.fn.typeahead.Constructor.prototype.blur = function() {
        var that = this;
        setTimeout(function () { that.hide() }, 250);
    };
    $('#company').typeahead({
        minLength: 0,
        source: function (query, process) {
            var company_name = $('#company').val();
            var parameter = {company_name: company_name};
            $.ajax({
                url:"{:url('manage/report/getCompanyByName')}",
                method:'post',
                dataType:'json',
                data: parameter,
                beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
                success: function(res){
                    var results = res.map(function (product) {
                        return product.company_name;
                    });
                    process(results);
                },
                error:function(){
                    alertMsg("{:lang('Operation fail')}");
                }
            })
        }
    });
</script>
<script>

    function sub(){
        var id = $('#id').val();
        var company_name = $('#company_name').val();
        var company_type = new Array();
        $('input:checkbox[name="company_type"]:checked').each(function(){
            company_type.push(Number($(this).val()));
        })
        var OPT_ID = $('#OPT_ID').val();
        var address = $('#address').val();
        var quality = $('#quality').val();
        var contacts_tel = $('#contacts_tel').val();
        var contacts_name = $('#contacts_name').val();
        var fax = $('#fax').val();
        var legal_person = $('#legal_person').val();
        var bank_name = $('#bank_name').val();
        var bank_card = $('#bank_card').val();
        var tax_code = $('#tax_code').val();
        var sms_tel = $('#sms_tel').val();
        var secret_key_url = $('#secret_key_url').val();
        var secret_key = $('#secret_key').val();
        var charge_status = $('#charge_status').val();
        var charge_date = $('#charge_date').val();
        var limit_times = $('#limit_times').val();
        var left_times = $('#left_times').val();
        var desc = $('#desc').val();
        var alarm_tel = $('#alarm_tel').val();
        if(company_type.length == 0 ){
            alertMsg("{:lang('Company Type Require')}");
            return false;
        }
        if( company_name == '' || company_name == null || company_name == 'undefined' ){
            alertMsg("{:lang('Company Name Require')}");
            return false;
        }
        if( id == '' || id == 'undefined' || id ==null ){
            if( OPT_ID == '' || OPT_ID == null || OPT_ID == 'undefined' ){
                alertMsg("{:lang('OPT_ID Require')}");
                return false;
            }
        }
        if( address == '' || address == null || address == 'undefined' ){
            alertMsg("{:lang('Address Require')}");
            return false;
        }
        if( quality == '' || quality == null || quality == 'undefined' ){
            alertMsg("{:lang('Quality Require')}");
            return false;
        }
        if( contacts_tel == '' || contacts_tel == null || contacts_tel == 'undefined' ){
            alertMsg("{:lang('Contacts Tel Require')}");
            return false;
        }
        if( contacts_name == '' || contacts_name == null || contacts_name == 'undefined' ){
            alertMsg("{:lang('Contacts Name Require')}");
            return false;
        }
        if( fax == '' || fax == null || fax == 'undefined' ){
            alertMsg("{:lang('Fax Require')}");
            return false;
        }
        if( legal_person == '' || legal_person == null || legal_person == 'undefined' ){
            alertMsg("{:lang('Legal Person Require')}");
            return false;
        }
        if( bank_name == '' || bank_name == null || bank_name == 'undefined' ){
            alertMsg("{:lang('Bank Name Require')}");
            return false;
        }
        if( bank_card == '' || bank_card == null || bank_card == 'undefined' ){
            alertMsg("{:lang('Bank Card Require')}");
            return false;
        }
        if( tax_code == '' || tax_code == null || tax_code == 'undefined' ){
            alertMsg("{:lang('Tax Code Require')}");
            return false;
        }
//        if( sms_tel == '' || sms_tel == null || sms_tel == 'undefined' ){
//            alertMsg("{:lang('SMS Tel Require')}");
//            return false;
//        }
        if( secret_key_url == '' || secret_key_url == null || secret_key_url == 'undefined' ){
            alertMsg("{:lang('Secret Key URL Require')}");
            return false;
        }
//        if( secret_key == '' || secret_key == null || secret_key == 'undefined' ){
//            alertMsg("{:lang('Secret Key Require')}");
//            return false;
//        }
        if( charge_status == '' || charge_status == null || charge_status == 'undefined' ){
            alertMsg("{:lang('Charge Status Require')}");
            return false;
        }
        if( charge_date == '' || charge_date == null || charge_date == 'undefined' ){
            alertMsg("{:lang('Charge Date Require')}");
            return false;
        }
        if( limit_times == '' || limit_times == null || limit_times == 'undefined' ){
            alertMsg("{:lang('Limit Times Require')}");
            return false;
        }
        if( left_times == '' || left_times == null || left_times == 'undefined' ){
            alertMsg("{:lang('Left Times Require')}");
            return false;
        }
//        if( desc == '' || desc == null || desc == 'undefined' ){
//            alertMsg("{:lang('Desc Require')}");
//            return false;
//        }
//        if( alarm_tel == '' || alarm_tel == null || alarm_tel == 'undefined' ){
//            alertMsg("{:lang('Alarm Tel Require')}");
//            return false;
//        }

        var data = {id: id,company_type: company_type, company_name: company_name, OPT_ID: OPT_ID, address: address, quality: quality, contacts_tel: contacts_tel, contacts_name: contacts_name, fax: fax, legal_person: legal_person, bank_name: bank_name, bank_card: bank_card, tax_code: tax_code, sms_tel: sms_tel, secret_key_url:secret_key_url, secret_key: secret_key, charge_status: charge_status, charge_date: charge_date, limit_times: limit_times, left_times: left_times, desc: desc,alarm_tel: alarm_tel};
        $.ajax({
            url:"{:url('manage/manage/saveCompany')}",
            method:'post',
            dataType:'json',
            data: {data: JSON.stringify(data)},
            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
            success: function(res){
                if(res.code != 200){
                    alertMsg(res.msg);
                }else{
                    alertMsg(res.msg);
                    window.location.href = '';
                }
            },
            error:function(){
                alertMsg("{:lang('Operation fail')}");
            }
        })
    }

    function showAddModal(){
        clearModal();
        $('#addModal').modal('show')
    }

    function editCompany(id){
        $.ajax({
            url:"{:url('manage/manage/getCompanyInfoById')}",
            method:'post',
            dataType:'json',
            data: {id: id},
            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
            success: function(res){
                if(res.code != 200){
                    alertMsg(res.msg);
                }else{
                    clearModal();
                    $('#OPT_ID').prop('disabled',true);
                    fillModal(res.data);
                    $('#addModal').modal('show')
                }
            },
            error:function(){
                alertMsg("{:lang('Operation fail')}");
            }
        })
    }

    function fillModal(data){
        for(key in data){
            if( key != 'company_type' ){
                $('#'+key).val(data[key]);
            }else{
                for(var i=0; i<data[key].length;i++){
                    $('input:checkbox[name="company_type"][value="'+data[key][i]+'"]').prop('checked',true);
                }
            }
        }
    }

    function clearModal(){
        $('#OPT_ID').prop('disabled',false);
        $('.modal-body input').not(':checkbox').each(function(){
            $(this).val('');
        });
        $('input:checkbox[name="company_type"]:checked').each(function(){
            $(this).prop('checked',false);
        })
        $('#limit_times').val('0');
        $('#left_times').val('0');
    }

    function delCompany(OPT_ID,name){
        alertConfirm("{:lang('Confirm Delete Company')}" + ' ' + name + '?',function(){
            $.ajax({
                url:"{:url('manage/manage/delCompany')}",
                method:'post',
                dataType:'json',
                data: {OPT_ID: OPT_ID},
                beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
                success: function(res){
                    if(res.code != 200){
                        alertMsg(res.msg);
                    }else{
                        window.location.href = '';
                    }
                },
                error:function(){
                    alertMsg("{:lang('Operation fail')}");
                }
            })
        })
    }

    function editAdmin(OPT_ID){
        window.location.href = "{:url('manage/manage/manageCompany')}" + '?OPT_ID=' + OPT_ID;
    }
</script>