<div id="content" style="opacity: 1; background-color: #e6e6e6; border: 1px #cccccc solid; margin-bottom: 40px;">
    <section id="widget-grid">
        <div class="row">
            <div class="col-lg-12 table-responsive">
                <div class="ibox float-e-margins" style="background: white; float: left; width: 100%;">
                    <!-- 表单标题概要 -->
                    <div class="ibox-title" style="background-color: #2377AF; color: #ffffff;">
                        <h5>{:lang('Deduct Balance')}</h5>
                    </div>
                    <!-- 表单内容 -->
                    <div class="ibox-content">
                        <form id="companySelect" action=""  method="post" class="form-horizontal">
                            <div class="col-lg-8" >
                                <div class="form-group">
                                    <label for="M_Code" class="col-md-2 control-label">{:lang('M_Code')}:</label>
                                    <div class="col-md-10">
                                        <input id="M_Code" placeholder="表号之间用英文下分号隔开,如:12364577;12364578;12364579" type="text" class="form-control" />
                                    </div>
                                </div><!-- /form-group -->
                            </div><!-- /.col-lg-6 -->
                            <div class="col-lg-8" >
                                <div class="form-group">
                                    <label for="money" class="col-md-2 control-label">{:lang('Deduct Balance')}:</label>
                                    <div class="col-md-10">
                                        <input id="money" placeholder="请输入扣除的金额" type="number" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8" >
                                <div class="form-group">
                                    <label for="message" class="col-md-2 control-label">{:lang('Delete Reson')}:</label>
                                    <div class="col-md-10">
                                        <input id="message" type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="col-lg-4" >
                            <div style="float: right">
                                <button style="margin-right: 1vw" id="tijiao" class="btn btn-success">{:lang('Sure')}</button>
                            </div>
                        </div>
                        <div style="clear: both"></div>
                        <div id="sure" class="form-group" style="display: none;">
                            <label  class="col-sm-2 control-label">{:lang('Operation hints')}:</label>
                            <div id="s_data" class="col-sm-10">

                            </div>
                        </div>
                        <div style="clear: both"></div>
                        <hr style="height:1px;border:none;border-top:1px solid #555555;" />

                    </div>
                    <div style="clear: both;"></div>
                    <div class="ibox-title" style="background-color: #2377AF; color: #ffffff;">
                        <h5>{:lang('Deduct Balance')}(批量扣款)</h5>
                    </div>
                    <div class="ibox-content">
                        <form action=""  method="post" class="form-horizontal">
                            <div class="col-lg-8" >
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label for="uploadexcel">请上传excel,支持格式xls/xlsx,最大10M,模板可通过右侧下载模板获取</label>
                                        <input id="uploadexcel" name="uploadexcel" type="file" class="form-control" />
                                    </div>
                                    <div class="col-md-8">
                                        <button  class="btn btn-success" id="excelupload" type="button" onclick="ajaxFileUploadForType()">{:lang('Button')}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="col-lg-4" >
                            <div style="float: right">
                                <button style="margin-right: 1vw" class="btn btn-primary" id="download">{:lang('Download Template')}</button>
                            </div>
                        </div>
                        <div style="clear: both"></div>
                    </div>
                    <div id="prompt" class="form-group" style="display: none;">
                        <label  class="col-sm-2 control-label">{:lang('Operation hints')}:</label>
                        <div id="p_data" class="col-sm-10">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>


<script>
   $('#tijiao').click(function(){
       $('#excelupload').prop('disabled',true);
       $('#s_data').html('');
       $('#sure').hide();
       var M_Code=$('#M_Code').val();
       var money = $('#money').val();
       var message = $('#message').val();
       data = {M_Code:M_Code,money:money,message:message}
       if( !checks(M_Code,money) ){
           $('#excelupload').prop('disabled',false);
            return false;
       }
       $.post("{:url('manage/manage/uploaddata')}",data,function(res){
                   if(res.status==200){
                       alertMsg(res.msg,3)
                       setTimeout(function(){ window.location.href = ''},2000)
                   }else if(res.status==201||res.status==202){

                       if(res.status==201){
                           alertMsg('下列表号未提交成功，其余已提交完成',3)
                           var strs="<p class='form-control' style='border: none;color:red;'>下列表号未提交成功，其余已提交完成</p>";
                       }else{
                           alertMsg('下列表号不存在或者未报装，请重新提交！',3)
                           var strs="<p class='form-control' style='border: none;color:red;'>下列表号不存在或者未报装，请重新提交！</p>";
                       }


                       $.each(res.msg,function(i,n){
                           strs+="<p class='form-control' style='border: none;color:red;'>出错行数"+(Number(i)+1)+"； 出错表号"+ n.code+"； 出错原因:"+ n.reson+"</p>"
                       })
                       $('#s_data').html(strs);
                       $('#sure').show();
                   }else{
                       alertMsg(res.msg,3)
                   }
                    $('#excelupload').prop('disabled',false);
                 },'json');
       })
   function checks(M_Code,money){
       if(M_Code == "" || M_Code == null || M_Code == "undefined"){
           alertMsg('表具不能为空',2)
           return false
       }

       if(money == "" || money == null || money == "undefined"){
           alertMsg('扣款金额不能为空',2)
           return false
       }
       return true;
   }
</script>
<script>
    //下载模板
    $('#download').click(function(){
        location.href="{:url('manage/manage/exampleExcel')}"
    })
    function ajaxFileUploadForType(){
        $('#excelupload').prop('disabled',true);
        $('#p_data').html('');
        $('#prompt').hide();
        if($('#uploadexcel').val()==""){
            alertMsg("请选excel文件！");
            $('#excelupload').prop('disabled',false);
            return false;
        }
        var extend=$('#uploadexcel').val().substr($('#uploadexcel').val().lastIndexOf(".")+1);
        if("xls|xlsx".indexOf(extend) == -1){
            alertMsg("请输入excel文件!");
            $('#excelupload').prop('disabled',false);
            return false;
        }
        var formData = new FormData();
        formData.append("excel", document.getElementById("uploadexcel").files[0]);
            $.ajax({
            url: "{:url('manage/manage/uploadexcel')}",
            type: "POST",
            dataType:"json",
            data: formData,
            contentType: false,
            processData: false,
            success:function (res) {
                if(res.status==200){
                    alertMsg(res.msg,3)
                    setTimeout(function(){ window.location.href = ''},2000)
                }else if(res.status==201||res.status==202){

                    if(res.status==201){
                        alertMsg('下列表号执行失败',3)
                        var str="<p class='form-control' style='border: none;color:red;'>下列表号未提交成功，其余已提交完成</p>";
                    }else{
                        alertMsg('表号或扣除金额不合法，请修正！',3)
                        var str="<p class='form-control' style='border: none;color:red;'>表号或扣除金额不合法，请修正！</p>";
                    }


                   $.each(res.msg,function(i,n){
                       str+="<p class='form-control' style='border: none;color:red;'>出错行数"+(Number(i)+4)+"； 出错表号"+ n.code+"； 出错原因:"+ n.reson+"</p>"
                   })
                    $('#p_data').html(str);
                    $('#prompt').show();
                }else{
                    alertMsg(res.msg,3)
                }
                $('#excelupload').prop('disabled',false);
            },
            error: function () {
                alert("上传失败！");
                $('#excelupload').prop('disabled',false);
            }
        });
    }
</script>
