{js href="__JS__/bootstrap-typeahead.js" /}
{js href="__JS__/jquery.jqprint-0.3.js" /}
<div id="content" style="opacity: 1; background-color: #e6e6e6; border: 1px #cccccc solid; margin-bottom: 40px;">
    <section id="widget-grid">
        <div class="row">
            <div class="col-lg-12 table-responsive">
                <div class="ibox float-e-margins" style="background: white; float: left; width: 100%;">
                    <!-- 表单内容 -->
                    <div class="ibox-title" style="background-color: #2377AF; color: #ffffff;">
                        <h5>{:lang('Meter Message')}</h5>
                    </div>
                    <div class="ibox-content">
                        <!-- 搜索条件 -->
                        <form action="{:url('manage/manage/meterMessage')}" method="get" class="form-horizontal" onsubmit="return check();">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label for="company_name" class="col-sm-4 control-label">{:lang('Company')}:</label>
                                    <div class="col-sm-8">
                                        <input id="company_name" name="company_name" value="{$company_name ?? ''}" type="text" autocomplete="off" data-provide="typeahead"  class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="detail_address" class="col-sm-4 control-label">{:lang('Installation Address')}:</label>
                                    <div class="col-sm-8">
                                        <input id="detail_address" name="detail_address" value="{$detail_address ?? ''}" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label for="M_Code" class="col-sm-4 control-label">{:lang('M_Code')}:</label>
                                    <div class="col-sm-8">
                                        <input id="M_Code" name="M_Code" value="{$M_Code ?? ''}" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="username" class="col-sm-4 control-label">{:lang('Name')}:</label>
                                    <div class="col-sm-8">
                                        <input id="username" name="username" value="{$name ?? ''}" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <button style="float: right" class="btn btn-success" type="submit" >{:lang('Search')}</button>
                                </div>
                            </div>
                        </form>
                        <hr style="height:1px;border:none;border-top:1px solid #555555;" />
                    </div>

                    <!--报表-->
                    <div id="print" class="form-horizontal">
                        <div style="margin:15px;font-size: 16px;">{:lang('Detail Message')}</div>
                        <table id="table" class="table">
                            <tr>
                                <td style="text-align:center;">{:lang('M_Code')}:</td>
                                <td style="text-align:left;">{$meter.M_Code}</td>
                                <td style="text-align:center;">{:lang('Meter Type')}:</td>
                                <td style="text-align:left;">
                                    {if condition="isset($meter.M_Type)"}
                                    {switch name="meter.M_Type" }
                                    {case $Think.METER_TYPE_WATER}{:lang('Water Code')}{/case}
                                    {case $Think.METER_TYPE_ELECTRICITY}{:lang('Electric Code')}{/case}
                                    {case $Think.METER_TYPE_GAS}{:lang('Gas Code')}{/case}
                                    {default /}{:lang('None')}
                                    {/switch}
                                    {/if}
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">{:lang('User Name')}:</td>
                                <td style="text-align:left;">{$meter.U_ID ?$meter.consumer.username : ''}</td>
                                <td style="text-align:center;">{:lang('Contact Number')}:</td>
                                <td style="text-align:left;">{$meter.U_ID?$meter.consumer.tel : ''}</td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">{:lang('PIN-codes')}:</td>
                                <td style="text-align:left;">{$meter.U_ID?$meter.consumer.identity : ''}</td>
                                <td style="text-align:center;">{:lang('M_Code Number')}:</td>
                                <td style="text-align:left;"></td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">{:lang('Company')}:</td>
                                <td style="text-align:left;">{$meter.company_id?$meter.company.company_name : ''}</td>
                                <td style="text-align:center;">{:lang('Status')}:</td>
                                <td style="text-align:left;">
                                    {switch name="meter.meter_status" }
                                    {case $Think.METER_STATUS_CHANGED}{:lang('Replaced old M_Code')}{/case}
                                    {case $Think.METER_STATUS_BIND}{:lang('Bound')}{/case}
                                    {case $Think.METER_STATUS_DELETE}{:lang('Deleted')}{/case}
                                    {case $Think.METER_STATUS_NEW}{:lang('New Meter')}{/case}
                                    {default /}{:lang('None')}
                                    {/switch}
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">{:lang('Total Cost')}:</td>
                                <td style="text-align:left;">{$meter.totalCost ?? ''}</td>
                                <td style="text-align:center;">{:lang('Cumulative Amount')}:</td>
                                <td style="text-align:left;">{$meter.totalCost}</td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">{:lang('Installation Address')}:</td>
                                <td style="text-align:left;">{$meter.detail_address ?? ''}</td>
                                <td style="text-align:center;">{:lang("Charge Balance")}:</td>
                                <td style="text-align:left;">{$meter.balance}</td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">{:lang('Recharge times')}(㎡):</td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:center;">{:lang('Create Time')}:</td>
                                <td style="text-align:left;">{if condition="isset($meter.create_time)"}{$meter.create_time}{/if}</td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">{:lang('Setup Time')}:</td>
                                <td style="text-align:left;">{if condition="isset($meter.setup_time)"}{$meter.setup_time|date="Y-m-d H:i:s",###}{/if}</td>
                                <td style="text-align:center;">{:lang('Change Time')}:</td>
                                <td style="text-align:left;">{if condition="isset($meter.change_time)"}{$meter.change_time|date="Y-m-d H:i:s",###}{/if}</td>
                            </tr>
                        </table>
                    </div>
                    <div id="chart" style="width: 800px;height:400px;display:none"></div>
                    <button style="float: right;margin-left: 1vw" onclick="javascript:history.back(-1)" class="btn btn-success" type="button" >{:lang('Back')}</button>
                    <button id="jqprint" style="float: right" class="btn btn-success" type="button" >{:lang('Print')}</button>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    $.fn.typeahead.Constructor.prototype.blur = function() {
        var that = this;
        setTimeout(function () { that.hide() }, 250);
    };
    $('#company_name').typeahead({
        minLength: 0,
        source: function (query, process) {
            var company_name = $('#company_name').val();
            var parameter = {company_name: company_name};
            $.ajax({
                url:"{:url('manage/report/getCompanyByName')}",
                method:'post',
                dataType:'json',
                data: parameter,
                beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
                success: function(res){
                    var results = res.map(function (product) {
                        return product.company_name;
                    });
                    process(results);
                },
                error:function(){
                    alertMsg("{:lang('Operation fail')}");
                }
            })
        }
    });
</script>
<script>
    $('#jqprint').click(function(){
        $('#print').jqprint();
    })

</script>