<div id="content" style="opacity: 1; background-color: #e6e6e6; border: 1px #cccccc solid; margin-bottom: 40px;">
    <section id="widget-grid">
        <div class="row">
            <div class="col-lg-12 table-responsive">
                <div class="ibox float-e-margins" style="background: white; float: left; width: 100%;">
                    <!-- 表单内容 -->
                    <div class="ibox-title" style="background-color: #2377AF; color: #ffffff;">
                        <h5>{:lang('Task List')}</h5>
                    </div>
                    <div class="ibox-content">
                        <!-- 搜索条件 -->
                        <form action="" method="get" class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label for="M_Code" class="col-sm-4 control-label">{:lang('M_Code')}:</label>
                                    <div class="col-sm-8">
                                        <input id="M_Code" name="M_Code" value="{$M_Code ?? ''}" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="name" class="col-sm-4 control-label">{:lang('Consumer Name')}:</label>
                                    <div class="col-sm-8">
                                        <input id="name" name="name" value="{$consumer_name ?? ''}" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label for="identity" class="col-sm-4 control-label">{:lang('Consumer Identity')}:</label>
                                    <div class="col-sm-8">
                                        <input id="identity" name="identity" value="{$consumer_identity ?? ''}" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="tel" class="col-sm-4 control-label">{:lang('Consumer Tel')}:</label>
                                    <div class="col-sm-8">
                                        <input id="tel" name="tel" value="{$consumer_tel ?? ''}" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label for="cmd" class="col-sm-4 control-label">{:lang('Task Cmd')}:</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" name="cmd" id="cmd">
                                            <option value="">--{:lang('Choose Task Cmd')}--</option>
                                            {foreach $cmdList as $index => $item}
                                            <option value="{$index}" {if condition="$index eq $cmd"}selected{/if}>{$item}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="taskStatus" class="col-sm-4 control-label">{:lang('Task Status')}:</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" name="taskStatus" id="taskStatus">
                                            <option value="">--{:lang('Choose Task Status')}--</option>
                                            {foreach $statusList as $index => $status}
                                            <option value="{$index}" {if condition="$index eq $taskStatus"}selected{/if}>{$status}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <button style="float: right" class="btn btn-success" type="submit" >{:lang('Search')}</button>
                                </div>
                            </div>
                        </form>
                        <hr style="height:1px;border:none;border-top:1px solid #555555;" />
                        <!--报表-->
                        <div id="table">
                            <table class="table table-bordered" data-striped="true" data-toolbar="#toolbar" data-show-columns="true" data-page-size="10" data-page-list="" data-unique-id="id" data-pagination="true" data-side-pagination="server" data-click-to-select="false">
                                <thead>
                                <tr>
                                    <th>{:lang('M_Code')}</th>
                                    <th>{:lang('Task Cmd')}</th>
                                    <th>{:lang('Task Param')}</th>
                                    <th>{:lang('Task Status')}</th>
                                    <th>{:lang('Task Times')}</th>
                                    <th>{:lang('Create Time')}</th>
                                    <th>{:lang('Update Time')}</th>
                                    <th>{:lang('Operate')}</th>
                                </tr>
                                </thead>
                                {foreach $tasklist as $task}
                                <tr>
                                    <td>{$task.meter.M_Code}</td>
                                    <td>{$task.cmd_name}</td>
                                    <td>{$task.param ?? '-'}</td>
                                    <td>{$task.status_name}</td>
                                    <td>{$task.exec_times}</td>
                                    <td>{$task.create_time}</td>
                                    <td>{$task->toArray()|array_keys|array_search='update_time',### ? $task['update_time']: '-'}</td>
                                    <td>{if condition="$task.status eq $Think.const.TASK_FAIL"}<button class="btn btn-primary" onclick="handleTask('{$task.id}',{$Think.const.TASK_RESENT})">{:lang('Task ReSend')}</button>{else/}<button class="btn btn-primary" disabled="disabled">{:lang('Task ReSend')}</button>{/if}
                                        {if condition="$task.status eq $Think.const.TASK_FAIL"}<button class="btn btn-primary" onclick="ignoreTask('{$task.id}',{$Think.const.TASK_IGNORE})">{:lang('Task Ignore')}</button>{else/}<button class="btn btn-primary" disabled="disabled">{:lang('Task Ignore')}</button>{/if}
                                        {if condition="isset($task.money_log_id)"}<button class="btn btn-primary" onclick="showMoneyLog('{$task.money_log_id}')">{:lang('Task Show')}</button>{else/}<button class="btn btn-primary" disabled="disabled">{:lang('Task Show')}</button>{/if}
                                    </td>
                                </tr>
                                {/foreach}
                            </table>
                        </div>
                        <div>{$tasklist->render()}</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addModalLabel">{:lang('Ignore Reason')}</h4>
            </div>
            <div class="modal-body">
                <input style="display: none;" id="id" />
                <input style="display: none;" id="status" />
                <textarea class="form-control" rows="3" name="ignore_reason" id="ignore_reason" placeholder="{:lang('Please Input Ignore Reason')}">
                </textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{:lang('Cancel')}</button>
                <button type="button" class="btn btn-primary" onclick="sub();">{:lang('Save')}</button>
            </div>
        </div>
    </div>
</div>

<script>
    function showMoneyLog(id){
        window.location.href = "{:url('manage/manage/showOrder')}"+'?id='+id;
    }

    function handleTask(id,status){
        alertConfirm("{:lang('Confirm Resend Task')}",function(){
            $.ajax({
                url:"{:url('manage/manage/handleTask')}",
                method:'post',
                dataType:'json',
                data: {id: id,status:status},
                beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
                success: function(res){
                    alertMsg(res.msg);
                    if(res.code == 200){
                        setTimeout(function(){window.location.href=''},2000);
                    }
                },
                error:function(){
                    alertMsg("{:lang('Operation fail')}");
                }
            })
        })
    }

    function ignoreTask(id,status){
        alertConfirm("{:lang('Confirm Ignore Task')}",function(){
            $('#id').val(id);
            $('#status').val(status);
            $('#myModal').modal('show');
        })
    }

    function sub(){
        var ignore_reason = $('#ignore_reason').val();
        if(ignore_reason == '' || ignore_reason == 'undefined' || ignore_reason == null){
            alertMsg("{:lang('Please Input Ignore Reason')}",2);
            return false;
        }
        var id = $('#id').val();
        var status = $('#status').val();
        $.ajax({
            url:"{:url('manage/manage/handleTask')}",
            method:'post',
            dataType:'json',
            data: {id: id,status:status,ignore_reason:ignore_reason},
            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
            success: function(res){
                alertMsg(res.msg);
                if(res.code == 200){
                    setTimeout(function(){window.location.href=''},2000);
                }
            },
            error:function(){
                alertMsg("{:lang('Operation fail')}");
            }
        })
    }
</script>