
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<!--底部导航栏-->
<div  class="am-navbar am-cf am-navbar-default " id="nav-wrap">
    <ul id="bottom-nav" class="am-navbar-nav am-cf am-avg-sm-4">
        <li >
            <a href="{:url('front/index/index')}" id="nav1" class="" >
                <span class="am-icon"><i class="icon iconfont icon-zixun am-icon"></i></span>
                <span class="am-navbar-label" >資訊</span>
            </a>
        </li>
        <li>
            <a href="{:url('front/market/index')}" id="nav2" class="">
                <span class="am-icon"><i class="icon iconfont icon-trend"></i></span>
                <span class="am-navbar-label">行情</span>
            </a>
        </li>
        <li>
            <a href="{:url('front/pay/index')}" id="nav3" class="">
                <span class="am-icon"><i class="icon iconfont icon-Ankerwebicon- am-icon"></i></span>
                <span class="am-navbar-label">支付</span>
            </a>
        </li>
        <li>
            <a href="{:url('front/user/index')}" id="nav4" class="">
                <span class="am-icon"><i class="icon iconfont icon-wode am-icon"></i></span>
                <span class="am-navbar-label">我的</span>
            </a>
        </li>
    </ul>
</div>
<script>
    $(function(){
        var nav = $('#nav').val();
        $('#'+nav).find('span').css('color','rgb(92,109,249)');
    })
</script>