{js href="__JS__/bootstrap-datetimepicker.min.js" /}
{js href="__JS__/bootstrap-datetimepicker.zh-CN.js" /}
{js href="__JS__/layer/layer.js" /}
{css href="__CSS__/bootstrap-datetimepicker.min.css" /}
<div id="content" style="opacity: 1; background-color: #e6e6e6; border: 1px #cccccc solid; margin-bottom: 40px;">
    <section id="widget-grid">
        <div class="row">
            <div class=" table-responsive">
                <div class="ibox float-e-margins" style="padding: 10px">
                    <!-- 表单内容 -->
                    <div class="ibox-title" style="background-color: #2377AF; color: #ffffff;">
                        <h5>{:lang('Order List')}</h5>
                    </div>
                    <div class="ibox-content">
                        <!-- 表格数据 -->
                        <form  method="" class="form-horizontal" onsubmit="return checkOrderNumber()">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label for="order_number" class="col-sm-4 control-label">{:lang('Order Number')}:</label>
                                    <div class="col-sm-8">
                                        <input name="order_number" id="order_number" type="text" class="form-control" placeholder="{:lang('Please enter')}{:lang('Order Number')}..." value="{$order_number ?? ''}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="mobile" class="col-sm-4 control-label">{:lang('Buyer Tel')}:</label>
                                    <div class="col-sm-8">
                                        <input name="mobile" id="mobile" type="text" class="form-control" placeholder="{:lang('Please enter')}{:lang('Mobile Number')}..." value="{$mobile ?? ''}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label for="freeze" class="col-sm-4 control-label">{:lang('Order Freeze Status')}:</label>
                                    <div class="col-sm-8">
                                        <select name="freeze" id="freeze" class="form-control">
                                            <option value="all">{:lang('Search All')}</option>
                                            <option value="{$Think.ORDER_NORMAL}" {if condition="$freeze === strval($Think.ORDER_NORMAL) "}selected{/if}>{:lang('Normal')}</option>
                                            <option value="{$Think.ORDER_FREEZE}" {if condition="$freeze === strval($Think.ORDER_FREEZE) "}selected{/if}>{:lang('Already Freeze')}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="status" class="col-sm-4 control-label">{:lang('Order Status')}:</label>
                                    <div class="col-sm-8">
                                        <select name="status" id="status" class="form-control">
                                            <option value="" >{:lang('Search All')}</option>
                                            <option value="{$Think.ORDER_UNPAID}" {if condition="(isset($status)) and ($status eq $Think.ORDER_UNPAID)"}selected{/if}>{:lang('Unpaid')}</option>
                                            <option value="{$Think.ORDER_WAITING_SEED}" {if condition="(isset($status)) and ($status eq $Think.ORDER_WAITING_SEED)"}selected{/if}>{:lang('Waiting Seed')}</option>
                                            <option value="{$Think.ORDRE_WAITING_TASK}" {if condition="(isset($status)) and ($status eq $Think.ORDRE_WAITING_TASK)"}selected{/if}>{:lang('Waiting Task')}</option>
                                            <option value="{$Think.ORDER_SEED_WAITING_COMMENT}" {if condition="(isset($status)) and ($status eq $Think.ORDER_SEED_WAITING_COMMENT)"}selected{/if}>{:lang('Received goods to be evaluated ')}</option>
                                            <option value="{$Think.ORDER_OVER}" {if condition="(isset($status)) and ($status eq $Think.ORDER_OVER)"}selected{/if}>{:lang('Order Finish')}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label for="start_datetimepicker" class="col-sm-4 control-label">{:lang('Create Time')}{:lang('From')}</label>
                                    <div class="col-sm-8">
                                        <input id="start_datetimepicker" name="starttime" value="{$starttime ?? ''}" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="end_datetimepicker" class="col-sm-4 control-label">{:lang('To')}:</label>
                                    <div class="col-sm-8">
                                        <input id="end_datetimepicker" name="endtime" value="{$endtime  ?? ''}" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <button style="float: right" class="btn btn-success" type="submit"  >{:lang('Search')}</button>
                                </div>
                            </div>
                        </form>
                        <hr style="height:1px;border:none;border-top:1px solid #555555;" />
                        <!--原表信息-->
                        <div>
                            <table class="table table-bordered" data-striped="true" data-toolbar="#toolbar" data-show-columns="true" data-page-size="10" data-page-list="" data-unique-id="id" data-pagination="true" data-side-pagination="server" data-click-to-select="false">
                            <thead>
                            <tr>
                                <th style="width:200px;">{:lang('Order Number')}</th>
                                <th>{:lang('Shop Name')}</th>
                                <th>{:lang('Buyer Name')}</th>
                                <th>{:lang('Order Status')}</th>
                                <th>{:lang('Contact Name')}</th>
                                <th>{:lang('Contact Tel')}</th>
                                <th>{:lang('Pay Time')}</th>
                                <th>{:lang('Order Freeze Status')}</th>
                                <th>{:lang('Operate')}</th>
                                <th style="width: 200px;">{:lang('Production')}{:lang('Detail Message')}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name='orders' id='vo'}
                            <tr>
                                <td>{$vo.id}</td>
                                <td>
                                    {$vo.shop_name}
                                </td>
                                <td>{$vo.consumer_username}</td>
                                <td>
                                    {switch name="vo.status"}
                                    {case $Think.ORDER_UNPAID}{:lang('Unpaid')}{/case}
                                    {case $Think.ORDER_WAITING_SEED}{:lang('Waiting Seed')}{/case}
                                    {case $Think.ORDRE_WAITING_TASK}{:lang('Waiting Task')}{/case}
                                    {case $Think.ORDER_SEED_WAITING_COMMENT}{:lang('Received goods to be evaluated ')}{/case}
                                    {case $Think.ORDER_OVER}{:lang('Order Finish')}{/case}
                                    {default /}
                                    {/switch}
                                </td>
                                <td>{$vo.contact_name ?? ''}</td>
                                <td>{$vo.contact_tel ?? ''}</td>
                                <td>{if condition="isset($vo.pay_time)"}{$vo.pay_time|date="Y-m-d H:i:s",###}{/if}</td>
                                <td>
                                    {if condition="isset($vo.freeze)"}
                                    {switch name="vo.freeze" }
                                    {case $Think.ORDER_FREEZE}<font style="color: red;">{:lang('Already Freeze')}</font>{/case}
                                    {default /}{:lang('Normal')}
                                    {/switch}
                                    {/if}
                                </td>
                                <td>
                                    {if condition="isset($vo.freeze)"}
                                    <button class="btn btn-primary" onclick="changeFreeze('{$vo.id}')">{:lang('Edit')}</button>
                                    {/if}
                                </td>
                                <td><button class="btn btn-success" onclick='checkProduction({$vo.products|json_encode})'>{:lang('Production Detail')}</button> &nbsp;<button class="btn btn-success" onclick='checkOrder({$vo|json_encode})'>{:lang('Order Detail')}</button></td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table></div>
                        <div>
                            {$orders->render()}
                        </div>
                        <!--换表信息-->
                        <hr style="height:1px;border:none;border-top:1px dashed #0066CC;" />
                        <div class="form-group" style="color:red">
                            <label  class="col-sm-2 control-label">{:lang('Operation hints')}:</label>
                            <div class="col-sm-10">
                                <p class="form-control" style="border: none">{:lang('Please in the search box enter the query query, return the result')}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel1">{:lang('Edit')}{:lang('Order')}</h4>
            </div>
            <div class="modal-body form-horizontal">
                <input style="display: none" name="id" value="" id="id1" />
                <input style="display: none" name="" value="" id="save_freeze" />

                <div class="form-group">
                    <label for="freeze_edit" class="col-md-2 control-label">{:lang('Order Freeze Status')}:</label>
                    <div class="col-md-10">
                        <select name="freeze_edit" id="freeze_edit" class="form-control">
                            <option value="{$Think.ORDER_NORMAL}">{:lang('Normal')}</option>
                            <option value="{$Think.ORDER_FREEZE}">{:lang('Already Freeze')}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="reason" class="col-md-2 control-label">{:lang('Update Reason')}:</label>
                    <div class="col-md-10">
                        <input class="form-control" name="reason" id="reason">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{:lang('Desc')}:</label>
                    <div class="col-md-10" id="message">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{:lang('Cancel')}</button>
                <button type="button" class="btn btn-primary" onclick="sub();">{:lang('Save')}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2">{:lang('Production Detail')}</h4>
            </div>
            <div class="modal-body form-horizontal">

                <div id="production">

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{:lang('Cancel')}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel3">{:lang('Order Detail')}</h4>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group">
                    <label for="check_id" class="col-md-2 control-label">{:lang('Order Number')}:</label>
                    <div class="col-md-10">
                        <p id="check_id" class="form-control" style="border: none;"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="check_shop_name" class="col-md-2 control-label">{:lang('Shop Name')}:</label>
                    <div class="col-md-10">
                        <p id="check_shop_name" class="form-control" style="border: none;"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="check_shopType" class="col-md-2 control-label">{:lang('Shop Type')}:</label>
                    <div class="col-md-10">
                        <p id="check_shopType" class="form-control" style="border: none;"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="check_money_type" class="col-md-2 control-label">{:lang('Paid Type')}:</label>
                    <div class="col-md-10">
                        <p id="check_money_type" class="form-control" style="border: none;"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="check_type" class="col-md-2 control-label">{:lang('Order Type')}:</label>
                    <div class="col-md-10">
                        <p id="check_type" class="form-control" style="border: none;"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="check_status" class="col-md-2 control-label">{:lang('Order Status')}:</label>
                    <div class="col-md-10">
                        <p id="check_status" class="form-control" style="border: none;"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="check_consumer_username" class="col-md-2 control-label">{:lang('Buyer Name')}:</label>
                    <div class="col-md-10">
                        <p id="check_consumer_username" class="form-control" style="border: none;"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="check_contact_name" class="col-md-2 control-label">{:lang('Contact Name')}:</label>
                    <div class="col-md-10">
                        <p id="check_contact_name" class="form-control" style="border: none;"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="check_contact_tel" class="col-md-2 control-label">{:lang('Contact Tel')}:</label>
                    <div class="col-md-10">
                        <p id="check_contact_tel" class="form-control" style="border: none;"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="check_contact_address" class="col-md-2 control-label">{:lang('Contact Address')}:</label>
                    <div class="col-md-10">
                        <p id="check_contact_address" class="form-control" style="border: none;"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="check_express_company" class="col-md-2 control-label">{:lang('Express Company')}:</label>
                    <div class="col-md-10">
                        <p id="check_express_company" class="form-control" style="border: none;"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="check_express_number" class="col-md-2 control-label">{:lang('Express Number')}:</label>
                    <div class="col-md-10">
                        <p id="check_express_number" class="form-control" style="border: none;"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="check_deli_settle_status" class="col-md-2 control-label">{:lang('Account Status')}:</label>
                    <div class="col-md-10">
                        <p id="check_deli_settle_status" class="form-control" style="border: none;"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="check_freeze" class="col-md-2 control-label">{:lang('Order Freeze Status')}:</label>
                    <div class="col-md-10">
                        <p id="check_freeze" class="form-control" style="border: none;"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="check_totalCost" class="col-md-2 control-label">{:lang('Total Cost')}:</label>
                    <div class="col-md-10">
                        <p id="check_totalCost" class="form-control" style="border: none;"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="check_create_time" class="col-md-2 control-label">{:lang('Create Time')}:</label>
                    <div class="col-md-10">
                        <p id="check_create_time" class="form-control" style="border: none;"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{:lang('Cancel')}</button>
            </div>
        </div>
    </div>
</div>
<script>
    $("#start_datetimepicker").datetimepicker({
        language:"zh-CN",
        format: "yyyy-mm-dd",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left",
        minuteStep: 1,
        bootcssVer:3,
        minView: "month"
//        startDate: new Date()
    }).on('hide', function(event) { //防止时间选择完毕后造成modal取消的问题
        event.preventDefault();
        event.stopPropagation();
    });
    $("#end_datetimepicker").datetimepicker({
        language:"zh-CN",
        format: "yyyy-mm-dd",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left",
        minuteStep: 1,
        bootcssVer:3,
        minView: "month"
//        startDate: new Date()
    }).on('hide', function(event) { //防止时间选择完毕后造成modal取消的问题
        event.preventDefault();
        event.stopPropagation();
    });
    function changeFreeze(id){
        $.ajax({
            url:"{:url('manage/shop/getCartInfoById')}",
            method:'post',
            dataType:'json',
            data: {id: id},
            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
            success: function(res){
                if(res.code != 200){
                    alertMsg(res.msg)
                }else{
                    fillModal1(res.data);
                    $('#myModal1').modal('show')
                }
            },
            error:function(){
                alertMsg("{:lang('Operation fail')}");
            }
        })
    }
    function checkProduction(production){
        var str= ''
        $.each(production,function(i,n){
            str+="<p class='form-control' style='border: none;'>("+ (i+1)+")商品名称："+ n.name+"</p><p style='padding-left: 53px;'>单价："+ n.cost+"</p><p style='padding-left: 53px;'>数量："+ n.count+"</p><p>&nbsp;</p>"
        })
        $('#production').html(str);
        $('#myModal2').modal('show');
    }
    function fillModal1(data){
        $('#id1').val(data.id);
        $('#save_freeze').val(data.freeze);
        if(data.freeze == 1){
            $('#freeze_edit').find('option[value="1"]').prop("selected",true);
        }else{
            $('#freeze_edit').find('option[value="0"]').prop("selected",true);
        }
        if( data.freeze_msg != '' && data.freeze_msg != 'undefined' && data.freeze_msg != null){
            var str= '';
            $.each(data.freeze_msg,function(i,n){
                if(n.freeze_num == 1){
                    str+="<p class='form-control' style='border: none;color:red;'>"+ (i+1)+"由正常转成待处理；原因："+ n.reason+"； 时间为："+ n.times+"</p>"
                }else{
                    str+="<p class='form-control' style='border: none;color:red;'>"+ (i+1)+"由待处理转成正常；原因："+ n.reason+"； 时间为："+ n.times+"</p>"
                }
            })
            $('#message').html(str);
        }
    }

    function checkOrder(order){
        var shopType=''
        switch(order.shopType){
            case {$Think.const.COMPANY_ELE_BUSINESS}:shopType="{:lang('Order Company')}";break;
            case {$Think.const.DELI_ELE_BUSINESS_TYPE}:shopType="{:lang('Order Deli')}";break;
            default:shopType="{:lang('Order Person')}";break;
        }
        $('#check_shopType').html(shopType)
        var money_type=''
        switch(order.money_type){
            case {$Think.const.MONEY_TYPE_RMB}:money_type="{:lang('Rmb')}";break;
            case {$Think.const.MONEY_TYPE_DELI}:money_type="{:lang('Deli')}";break;
            default:money_type="{:lang('Not Choose Money_Type')}";break;
        }
        $('#check_money_type').html(money_type)
        var status=0
        switch(order.status){
            case {$Think.const.ORDER_UNPAID}:status="{:lang('Unpaid')}";break;
            case {$Think.const.ORDER_WAITING_SEED}:status="{:lang('Waiting Seed')}";break;
            case {$Think.const.ORDRE_WAITING_TASK}:status="{:lang('Waiting Task')}";break;
            case {$Think.const.ORDER_SEED_WAITING_COMMENT}:status="{:lang('Received goods to be evaluated ')}";break;
            default:status="{:lang('Order Finish')}";break;
        }
        $('#check_status').html(status)
        var type=''
        switch(order.type){
            case {$Think.const.CART_TYPE_RECHARGE_PAYMENT}:type="{:lang('Recharge payment')}";break;
            case {$Think.const.CART_TYPE_BUSINDESS_CONSUME}:type="{:lang('Business Consume')}";break;
            default:'';break;
        }
        $('#check_type').html(type)
        $('#check_id').html(order.id)
        $('#check_shop_name').html(order.shop_name)
        $('#check_consumer_username').html(order.consumer_username)
        $('#check_contact_name').html(order.contact_name)
        $('#check_contact_tel').html(order.contact_tel)
        $('#check_contact_address').html(order.contact_address)
        $('#check_express_company').html(order.express_company)
        $('#check_express_number').html(order.express_number)
        var deli_settle_status=''
        switch(order.deli_settle_status){
            case {$Think.const.ORDER_ALREADY_ACCOUNT}:deli_settle_status="{:lang('Already Account')}";break;
            default:deli_settle_status="{:lang('Not Account')}";break;
        }
        $('#check_deli_settle_status').html(deli_settle_status)
        var freeze=''
        switch(order.freeze){
            case {$Think.const.ORDER_FREEZE}:freeze="{:lang('Already Freeze')}";break;
            default:freeze="{:lang('Normal')}";break;
        }
        $('#check_freeze').html(freeze)
        $('#check_totalCost').html(order.totalCost)
        $('#check_create_time').html(order.create_time)
        $('#myModal3').modal('show');
    }

    function sub(){
        var id = $('#id1').val();
        var reason = $('#reason').val();
        var save_freeze = $('#save_freeze').val();
        var freeze = $('#freeze_edit').val();
        if( reason == '' || reason == 'undefined' || reason == null ){
            alertMsg("请填写修改原因！");
            return false;
        }
        if(freeze == save_freeze){
            alertMsg("没有修改无法保存！");
            return false;
        }
        var data = {id: id, reason: reason, freeze: freeze};
        $.ajax({
            url:"{:url('manage/shop/saveCart')}",
            method:'post',
            dataType:'json',
            data: {data: JSON.stringify(data)},
            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
            success: function(res){
                if(res.code != 200){
                    alertMsg(res.msg);
                }else{
                    alertMsg(res.msg);
                    window.location.href = '';
                }
            },
            error:function(){
                alertMsg("{:lang('Operation fail')}");
            }
        })
    }

    function checkOrderNumber(){
        var order_number = $('#order_number').val();
        if(order_number.length != 24 ){
            alertMsg("{:lang('Order Number Not Illegal')}",3);
            return false;
        }
    }
</script>

                   
