{js href="__JS__/bootstrap-datetimepicker.min.js" /}
{js href="__JS__/bootstrap-datetimepicker.zh-CN.js" /}
{js href="__JS__/layer/layer.js" /}
{css href="__CSS__/bootstrap-datetimepicker.min.css" /}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class=" table-responsive">
            <div class="ibox float-e-margins" style="background: white;padding: 10px">
                <!-- 表单内容 -->
                <div class="ibox-title">
                    <h5>{:lang('Shop List')}</h5>
                </div>
                <div class="ibox-content">
                    <!-- 表格数据 -->
                    <form  method="" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-lg-6" style="float: left">
                                <div class="form-group">
                                    <label for="M_Code" class="col-sm-2 control-label">{:lang('M_Code')}:</label>
                                    <div class="col-sm-6">
                                        <input name="M_Code" id="M_Code" type="text" class="form-control" placeholder="{:lang('Please enter M_Code')}" value="{$M_Code ?? ''}">
                                    </div>
                                </div><!-- /form-group -->
                            </div><!-- /.col-lg-6 -->
                            <div class="col-lg-6" style="float: right">
                                <div class="form-group">
                                    <label for="status" class="col-sm-2 control-label">{:lang('Shop Status')}:</label>
                                    <div class="col-sm-6">
                                        <select name="status" id="status" class="form-control">
                                            <option value="all">{:lang('Search All')}</option>
                                            <option value="{$Think.SHOP_STATUS_CLOSE}" {if condition="$status === strval($Think.SHOP_STATUS_CLOSE) "}selected{/if}>{:lang('Close')}</option>
                                            <option value="{$Think.SHOP_STATUS_OPEN}" {if condition="$status === strval($Think.SHOP_STATUS_OPEN) "}selected{/if}>{:lang('Open')}</option>
                                        </select>
                                    </div>
                                </div><!-- /form-group -->
                            </div><!-- /.col-lg-6 -->
                        </div>
                        <div class="form-group">
                             <div class="col-lg-6" style="float: left">
                                <div class="form-group">
                                    <label for="username" class="col-sm-2 control-label">{:lang('Username')}:</label>
                                    <div class="col-sm-6">
                                        <input name="username" id="username" type="text" class="form-control" placeholder="{:lang('Please enter')}{:lang('Username')}..." value="{$username ?? ''}">
                                    </div>
                                </div>
                             </div>
                             <div class="col-lg-6" style="float: right">
                                <div class="form-group">
                                    <label for="shopname" class="col-sm-2 control-label">{:lang('Shop Name')}:</label>
                                    <div class="col-sm-6">
                                        <input name="shopname" id="shopname" type="text" class="form-control" placeholder="{:lang('Please enter')}{:lang('Shop Name')}..." value="{$shopname ?? ''}">
                                    </div>
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-6 -->
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6" style="float: left">
                                <div class="form-group">
                                    <label for="type" class="col-sm-2 control-label">{:lang('Shop Type')}:</label>
                                    <div class="col-sm-6">
                                        <select name="type" id="type" class="form-control">
                                            <option value="all">{:lang('Search All')}</option>
                                            <option value="{$Think.PERSONAL_ELE_BUSINESS}" {if condition="$type === strval($Think.PERSONAL_ELE_BUSINESS) "}selected{/if}>{:lang('Order Person')}</option>
                                            <option value="{$Think.COMPANY_ELE_BUSINESS}" {if condition="$type === strval($Think.COMPANY_ELE_BUSINESS) "}selected{/if}>{:lang('Order Company')}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6" style="float: left">
                                <div class="form-group">
                                    <label for="start_datetimepicker" class="col-sm-2 control-label">{:lang('Create time')}{:lang('From')}</label>
                                    <div class="col-sm-6">
                                        <input id="start_datetimepicker" name="starttime" value="{$starttime ?? ''}" type="text" class="form-control">
                                    </div>
                                </div>
                            </div><!-- /.col-lg-6 -->
                            <div class="col-lg-6" style="float: left">
                                <div class="form-group">
                                    <label for="end_datetimepicker" class="col-sm-2 control-label">{:lang('To')}:</label>
                                    <div class="col-sm-6">
                                        <input id="end_datetimepicker" name="endtime" value="{$endtime ?? ''}" type="text" class="form-control">
                                    </div>
                                </div>
                            </div><!-- /.col-lg-6 -->
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <button style="float: right" class="btn btn-success" type="submit"  >{:lang('Search')}</button>
                            </div>
                        </div>
                    </form>
                        <hr style="height:1px;border:none;border-top:1px solid #555555;" />
                        <!--原表信息-->
                        <div><table class="table table-hover" style="table-layout:fixed" class="table table-condensed table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                   <th>{:lang('Shop Name')}</th>
                                   <th>{:lang('Shop Type')}</th>
                                   <th>{:lang('Username')}</th>
                                   <th>{:lang('M_Code')}</th>
                                   <th>{:lang('Shop Status')}</th>
                                   <th>{:lang('Create time')}</th>
                                   <th>{:lang('Operate')}</th>
                                   <th>{:lang('Operate')}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {volist name='shops' id='vo'}
                                <tr>
                                   <td>{$vo.name}</td>
                                   <td>
                                   {switch name="vo.type"}
                                       {case $Think.COMPANY_ELE_BUSINESS}{:lang('Order Company')}{/case}
                                       {default /}{:lang('Order Person')}
                                   {/switch}
                                   </td>
                                   <td>{$vo.uid ? $vo.consumer.username : '-'}</td>
                                   <td>{$vo.uid ? $vo.consumer.M_Code : '-'}</td>
                                   <td>
                                       {switch name="vo.status"}
                                       {case $Think.SHOP_STATUS_OPEN}{:lang('Open')}{/case}
                                       {default /}{:lang('Close')}
                                       {/switch}
                                   </td>
                                   <td>{$vo.create_time}</td>
                                   <td><button class="btn btn-success" onclick="editShop('{$vo.id}')">{:lang('Edit')}</button></td>
                                   <td><button class="btn btn-link" onclick="production('{$vo.id}')">{:lang('Check Production')}</button></td>
                                </tr>
                            {/volist}
                            </tbody>
                        </table></div>
                        <div>
                            {$shops->render()}
                        </div>
                        <!--换表信息-->
                        <hr style="height:1px;border:none;border-top:1px dashed #0066CC;" />
                        <div class="form-group" style="color:red">
                            <label  class="col-sm-2 control-label">{:lang('Operation hints')}:</label>
                            <div class="col-sm-10">
                                <p class="form-control" style="border: none">{:lang('Please in the search box enter the query query, return the result')}</p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{:lang('Save Shop')}</h4>
            </div>
            <div class="modal-body form-horizontal">
                <input style="display: none" name="id" value="" id="id" />
                <div class="form-group">
                    <label for="shopname" class="col-md-2 control-label">{:lang('Shop Name')}</label>
                    <div class="col-md-10">
                        <input class="form-control" name="shopname" id="edit_shopname">
                    </div>
                </div>
                <div class="form-group">
                    <label for="edit_status" class="col-md-2 control-label">{:lang('Shop Status')}</label>
                    <div class="col-md-10">
                        <select name="edit_status" id="edit_status" class="form-control">
                            <option value="{$Think.SHOP_STATUS_OPEN}">{:lang('Open')}</option>
                            <option value="{$Think.SHOP_STATUS_CLOSE}">{:lang('Close')}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sdl_preference" class="col-md-2 control-label">{:lang('Deli Preference')}</label>
                    <div class="col-md-10">
                        <select name="sdl_preference" id="sdl_preference" class="form-control">
                            <option value="1">{:lang('Open')}</option>
                            <option value="0">{:lang('Close')}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="health_auth" class="col-md-2 control-label">{:lang('Health Authentication')}</label>
                    <div class="col-md-10">
                        <select name="health_auth" id="health_auth" class="form-control">
                            <option value="1">{:lang('Open')}</option>
                            <option value="0">{:lang('Close')}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sdl_auth" class="col-md-2 control-label">{:lang('Deli Authentication')}</label>
                    <div class="col-md-10">
                        <select name="sdl_auth" id="sdl_auth" class="form-control">
                            <option value="1">{:lang('Open')}</option>
                            <option value="0">{:lang('Close')}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="productsCount" class="col-md-2 control-label">{:lang('Shop Number')}</label>
                    <div class="col-md-10">
                        <input class="form-control" readonly name="productsCount" id="productsCount">
                    </div>
                </div>
                <div class="form-group">
                    <label for="edit_create_time" class="col-md-2 control-label">{:lang('Create Time')}</label>
                    <div class="col-md-10">
                        <input class="form-control" readonly name="create_time" id="edit_create_time">
                    </div>
                </div>
                <div class="form-group">
                    <label for="edit_update_time" class="col-md-2 control-label">{:lang('Update Time')}</label>
                    <div class="col-md-10">
                        <input class="form-control" readonly name="update_time" id="edit_update_time">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{:lang('Cancel')}</button>
                <button type="button" class="btn btn-primary" onclick="sub();">{:lang('Save')}</button>
            </div>
        </div>
    </div>
</div>
<script>
    $("#start_datetimepicker").datetimepicker({
        language:"zh-CN",
        format: "yyyy-mm-dd",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left",
        minuteStep: 1,
        bootcssVer:3,
        minView: "month",
//        startDate: new Date()
    }).on('hide', function(event) { //防止时间选择完毕后造成modal取消的问题
        event.preventDefault();
        event.stopPropagation();
    });
    $("#end_datetimepicker").datetimepicker({
        language:"zh-CN",
        format: "yyyy-mm-dd",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left",
        minuteStep: 1,
        bootcssVer:3,
        minView: "month"
//        startDate: new Date()
    }).on('hide', function(event) { //防止时间选择完毕后造成modal取消的问题
        event.preventDefault();
        event.stopPropagation();
    });
    function production(id){
        location.href="{:url('manage/shop/productions')}?id="+id;
    }
    function editShop(shop_id){
        $.ajax({
            url:"{:url('manage/shop/getShopInfoById')}",
            method:'post',
            dataType:'json',
            data: {id: shop_id},
            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
            success: function(res){
                if(res.code != 200){
                    alertMsg(res.msg);
                }else{
                    fillModal(res.data);
                    $('#myModal').modal('show')
                }
            },
            error:function(){
                alertMsg("{:lang('Operation fail')}");
            }
        })
    }

    function fillModal(data){
        $('#id').val(data.id);
        $('#edit_shopname').val(data.name);
        $('#edit_create_time').val(data.create_time);
        $('#edit_update_time').val(data.update_time);
        $('#productsCount').val(data.productsCount);
        if(data.sdl_preference == 1){
            $('#sdl_preference').find('option[value="1"]').prop("selected",true);
        }else{
            $('#sdl_preference').find('option[value="0"]').prop("selected",true);
        }
        if(data.health_auth == 1){
            $('#health_auth').find('option[value="1"]').prop("selected",true);
        }else{
            $('#health_auth').find('option[value="0"]').prop("selected",true);
        }
        if(data.sdl_auth == 1){
            $('#sdl_auth').find('option[value="1"]').prop("selected",true);
        }else{
            $('#sdl_auth').find('option[value="0"]').prop("selected",true);
        }
        $('#edit_status').find('option[value='+data.status+']').prop("selected",true);
    }

    function sub(){
        var id = $('#id').val();
        var name = $('#edit_shopname').val();
        var status = $('#edit_status').val();
        var sdl_preference = $('#sdl_preference').val();
        var health_auth = $('#health_auth').val();
        var sdl_auth = $('#sdl_auth').val();
        if( name == '' || name == 'undefined' || name == null ){
            alertMsg("{:lang('Production Name Require')}");
            return false;
        }
        var data = {id: id, name: name, status: status , sdl_preference: sdl_preference, health_auth: health_auth,sdl_auth: sdl_auth};
        $.ajax({
            url:"{:url('manage/shop/saveShop')}",
            method:'post',
            dataType:'json',
            data: {data: JSON.stringify(data)},
            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
            success: function(res){
                if(res.code != 200){
                    alertMsg(res.msg);
                }else{
                    alertMsg(res.msg);
                    window.location.href = '';
                }
            },
            error:function(){
                alertMsg("{:lang('Operation fail')}");
            }
        })
    }
</script>

                   
