{js href="__JS__/bootstrap-datetimepicker.min.js" /}
{js href="__JS__/bootstrap-datetimepicker.zh-CN.js" /}
{css href="__CSS__/bootstrap-datetimepicker.min.css" /}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class=" table-responsive">
            <div class="ibox float-e-margins" style="background: white;padding: 10px">
                <!-- 表单内容 -->
                <div class="ibox-title">
                    <h5>{:lang('Shop List')}</h5>
                </div>
                <div class="ibox-content">
                    <!-- 表格数据 -->
                    <form  method="" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-lg-6" style="float: left">
                                <div class="form-group">
                                    <label for="M_Code" class="col-sm-2 control-label">{:lang('M_Code')}:</label>
                                    <div class="col-sm-6">
                                        <input name="M_Code" id="M_Code" type="text" class="form-control" placeholder="{:lang('Please enter M_Code')}" value="{$M_Code ?? ''}">
                                    </div>
                                </div>
                            </div><!-- /.col-lg-6 -->
                            <div class="col-lg-6" style="float: right">
                                <div class="form-group">
                                    <label for="status" class="col-sm-2 control-label">{:lang('Shop Status')}:</label>
                                    <div class="col-sm-6">
                                        <select name="status" id="status" class="form-control">
                                            <option value="all">{:lang('Search All')}</option>
                                            <option value="{$Think.SHOP_STATUS_CLOSE}" {if condition="$status === strval($Think.SHOP_STATUS_CLOSE) "}selected{/if}>{:lang('Close')}</option>
                                            <option value="{$Think.SHOP_STATUS_OPEN}" {if condition="$status === strval($Think.SHOP_STATUS_OPEN) "}selected{/if}>{:lang('Open')}</option>
                                        </select>
                                    </div>
                                </div><!-- /form-group -->
                            </div><!-- /.col-lg-6 -->
                        </div>
                        <div class="form-group">
                             <div class="col-lg-6" style="float: left">
                                <div class="form-group">
                                    <label for="username" class="col-sm-2 control-label">{:lang('Username')}:</label>
                                    <div class="col-sm-6">
                                        <input name="username" id="username" type="text" class="form-control" placeholder="{:lang('Please enter')}{:lang('Username')}..." value="{$username ?? ''}">
                                    </div>
                                </div>
                             </div>
                             <div class="col-lg-6" style="float: right">
                                <div class="form-group">
                                    <label for="shopname" class="col-sm-2 control-label">{:lang('Shop Name')}:</label>
                                    <div class="col-sm-6">
                                        <input name="shopname" id="shopname" type="text" class="form-control" placeholder="{:lang('Please enter')}{:lang('Shop Name')}..." value="{$shopname ?? ''}">
                                    </div>
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-6 -->
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6" style="float: left">
                                <div class="form-group">
                                    <label for="type" class="col-sm-2 control-label">{:lang('Shop Type')}:</label>
                                    <div class="col-sm-6">
                                        <select name="type" id="type" class="form-control">
                                            <option value="all">{:lang('Search All')}</option>
                                            <option value="{$Think.PERSONAL_ELE_BUSINESS}" {if condition="$type === strval($Think.PERSONAL_ELE_BUSINESS) "}selected{/if}>{:lang('Order Person')}</option>
                                            <option value="{$Think.COMPANY_ELE_BUSINESS}" {if condition="$type === strval($Think.COMPANY_ELE_BUSINESS) "}selected{/if}>{:lang('Order Company')}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6" style="float: left">
                                <div class="form-group">
                                    <label for="search_category" class="col-sm-2 control-label">{:lang('Production Dict')}:</label>
                                    <div class="col-sm-6">
                                        <select name="search_category" id="search_category" class="form-control">
                                            <option value="" >{:lang('Search All')}</option>
                                            {foreach $dictlist as $dict}
                                            <option value="{$dict.id}" {if condition="$search_category eq $dict.id"}selected{/if}>{$dict.desc}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div><!-- /form-group -->
                            </div><!-- /.col-lg-6 -->
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6" style="float: left">
                                <div class="form-group">
                                    <label for="start_datetimepicker" class="col-sm-2 control-label">{:lang('Create time')}{:lang('From')}</label>
                                    <div class="col-sm-6">
                                        <input id="start_datetimepicker" name="starttime" value="{$starttime ?? ''}" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6" style="float: left">
                                <div class="form-group">
                                    <label for="end_datetimepicker" class="col-sm-2 control-label">{:lang('To')}:</label>
                                    <div class="col-sm-6">
                                        <input id="end_datetimepicker" name="endtime" value="{$endtime ?? ''}" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <button style="float: right" class="btn btn-success" type="submit"  >{:lang('Search')}</button>
                            </div>
                        </div>
                    </form>
                        <hr style="height:1px;border:none;border-top:1px solid #555555;" />
                        <div><table class="table table-hover" style="table-layout:fixed" class="table table-condensed table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                   <th>{:lang('Shop Name')}</th>
                                   <th>{:lang('Shop Type')}</th>
                                   <th>{:lang('Production Dict')}</th>
                                   <th>{:lang('Username')}</th>
                                   <th>{:lang('M_Code')}</th>
                                   <th>{:lang('Shop Status')}</th>
                                   <th>{:lang('Production Number')}</th>
                                   <th>{:lang('Operate')}</th>
                                   <th>{:lang('Operate')}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {volist name='shops' id='vo'}
                                <tr>
                                   <td>{$vo.name}</td>
                                   <td>
                                   {switch name="vo.type"}
                                       {case $Think.COMPANY_ELE_BUSINESS}{:lang('Order Company')}{/case}
                                       {default /}{:lang('Order Person')}
                                   {/switch}
                                   </td>
                                   <td>{$vo.category ? $vo.dict.desc : '-'}</td>
                                   <td>{$vo.uid ? $vo.consumer.username : '-'}</td>
                                   <td>{$vo.uid ? $vo.consumer.M_Code : '-'}</td>
                                   <td>
                                       {switch name="vo.status"}
                                       {case $Think.SHOP_STATUS_OPEN}{:lang('Open')}{/case}
                                       {default /}{:lang('Close')}
                                       {/switch}
                                   </td>
                                   <td>{$vo.productsCount ?? ''}</td>
                                   <td>{switch name="vo.type"}
                                       {case $Think.COMPANY_ELE_BUSINESS}<button class="btn btn-success" onclick="editQyshop('{$vo.id}')">{:lang('Edit')}</button>{/case}
                                       {default /}<button class="btn btn-success" onclick="editGrshop('{$vo.id}')">{:lang('Edit')}</button>
                                       {/switch}

                                   </td>
                                   <td><button class="btn btn-link" onclick="production('{$vo.id}')">{:lang('Check Production')}</button></td>
                                </tr>
                            {/volist}
                            </tbody>
                        </table></div>
                        <div>
                            {$shops->render()}
                        </div>
                        <hr style="height:1px;border:none;border-top:1px dashed #0066CC;" />
                        <div class="form-group" style="color:red">
                            <label  class="col-sm-2 control-label">{:lang('Operation hints')}:</label>
                            <div class="col-sm-10">
                                <p class="form-control" style="border: none">{:lang('Please in the search box enter the query query, return the result')}</p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--个人电商弹出框-->
<div class="modal fade" id="myModal_gr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel_ge">{:lang('Save Shop')}</h4>
            </div>
            <div class="modal-body form-horizontal">
                <input style="display: none" name="id" value="" id="id_gr" />
                <div class="form-group">
                    <label for="edit_shopname_gr" class="col-md-2 control-label">{:lang('Shop Name')}</label>
                    <div class="col-md-10">
                        <input class="form-control" name="shopname" id="edit_shopname_gr">
                    </div>
                </div>
                <div class="form-group">
                    <label for="preview" class="col-md-2 control-label">{:lang('Shop Preview')}</label>
                    <div id="preview" class="col-md-10"><img src="" alt=""/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="edit_status_gr" class="col-md-2 control-label">{:lang('Shop Status')}</label>
                    <div class="col-md-10">
                        <select name="edit_status" id="edit_status_gr" class="form-control">
                            <option value="{$Think.SHOP_STATUS_OPEN}">{:lang('Open')}</option>
                            <option value="{$Think.SHOP_STATUS_CLOSE}">{:lang('Close')}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sdl_preference_gr" class="col-md-2 control-label">{:lang('Deli Preference')}</label>
                    <div class="col-md-10">
                        <select name="sdl_preference" id="sdl_preference_gr" class="form-control">
                            <option value="0">{:lang('Close')}</option>
                            <option value="1">{:lang('Open')}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="health_auth_gr" class="col-md-2 control-label">{:lang('Health Authentication')}</label>
                    <div class="col-md-10">
                        <select name="health_auth" id="health_auth_gr" class="form-control">
                            <option value="0">{:lang('Close')}</option>
                            <option value="1">{:lang('Open')}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sdl_auth_gr" class="col-md-2 control-label">{:lang('Deli Authentication')}</label>
                    <div class="col-md-10">
                        <select name="sdl_auth" id="sdl_auth_gr" class="form-control">
                            <option value="0">{:lang('Close')}</option>
                            <option value="1">{:lang('Open')}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="edit_create_time" class="col-md-2 control-label">{:lang('Create Time')}</label>
                    <div class="col-md-10">
                        <input class="form-control" readonly name="create_time" id="edit_create_time">
                    </div>
                </div>
                <div class="form-group">
                    <label for="edit_update_time" class="col-md-2 control-label">{:lang('Update Time')}</label>
                    <div class="col-md-10">
                        <input class="form-control" readonly name="update_time" id="edit_update_time">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{:lang('Cancel')}</button>
                <button type="button" class="btn btn-primary" onclick="sub();">{:lang('Save')}</button>
            </div>
        </div>
    </div>
</div>

<!--企业电商弹出框-->
<div class="modal fade" id="myModal_qy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{:lang('Save Shop')}</h4>
            </div>
            <div class="modal-body form-horizontal" id="add">
                <input type="hidden" id="id_qy" />
                <div class="form-group">
                    <label for="name_qy" class="col-md-2 control-label">{:lang('Shop Name')}</label>
                    <div class="col-md-10">
                        <input class="form-control" name="name" id="name_qy">
                    </div>
                </div>
                <div class="form-group">
                    <label for="desc_qy" class="col-md-2 control-label">{:lang('Shop Desc')}</label>
                    <div class="col-md-10">
                        <input class="form-control" name="desc" id="desc_qy">
                    </div>
                </div>
                <div class="form-group">
                    <label for="category" class="col-sm-2 control-label">{:lang('Production Dict')}:</label>
                    <div class="col-sm-10">
                        <select name="category" id="category" class="form-control">
                            {foreach $dictlist as $dict}
                            <option value="{$dict.id}">{$dict.desc}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="notify_qy" class="col-md-2 control-label">{:lang('Shop Notify')}</label>
                    <div class="col-md-10">
                        <input class="form-control" name="notify" id="notify_qy">
                    </div>
                </div>
                <div class="form-group">
                    <label for="preview_qy" class="col-md-2 control-label">{:lang('Shop Preview')}</label>
                    <div id="preview_qy" class="col-md-10">
                    </div>
                </div>
                <div class="form-group">
                    <label for="img_qy" class="col-md-2 control-label">{:lang('Shop Img')}</label>
                    <div class="col-md-10">
                        <input class="form-control" type="file"  accept=".png,.jpg" name="img_qy" id="img_qy" />
                        <span style="color:red">(支持格式：jpg、png，图片大小：10M)</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="personName_qy" class="col-md-2 control-label">{:lang('Shop personName')}</label>
                    <div class="col-md-10">
                        <input class="form-control" name="personName" id="personName_qy">
                    </div>
                </div>
                <div class="form-group">
                    <label for="bank_qy" class="col-md-2 control-label">{:lang('Shop Bank')}</label>
                    <div class="col-md-10">
                        <input class="form-control" name="bank" id="bank_qy">
                    </div>
                </div>
                <div class="form-group">
                    <label for="cardNumber_qy" class="col-md-2 control-label">{:lang('Shop cardNumber')}</label>
                    <div class="col-md-10">
                        <input class="form-control" name="cardNumber" id="cardNumber_qy">
                    </div>
                </div>
                <div class="form-group">
                    <label for="status_qy" class="col-md-2 control-label">{:lang('Shop Status')}</label>
                    <div class="col-md-10">
                        <select name="status" id="status_qy" class="form-control">
                            <option value={$Think.const.SHOP_STATUS_OPEN}>{:lang('Open')}</option>
                            <option value={$Think.const.SHOP_STATUS_CLOSE}>{:lang('Close')}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sdl_preference_qy" class="col-md-2 control-label">{:lang('Deli Preference')}</label>
                    <div class="col-md-10">
                        <select name="sdl_preference" id="sdl_preference_qy" class="form-control">
                            <option value="0">{:lang('Close')}</option>
                            <option value="1">{:lang('Open')}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="health_auth_qy" class="col-md-2 control-label">{:lang('Health Authentication')}</label>
                    <div class="col-md-10">
                        <select name="health_auth" id="health_auth_qy" class="form-control">
                            <option value="0">{:lang('Close')}</option>
                            <option value="1">{:lang('Open')}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sdl_auth_qy" class="col-md-2 control-label">{:lang('Deli Authentication')}</label>
                    <div class="col-md-10">
                        <select name="sdl_auth" id="sdl_auth_qy" class="form-control">
                            <option value="0">{:lang('Close')}</option>
                            <option value="1">{:lang('Open')}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{:lang('Cancel')}</button>
                <button id='sub' type="button" class="btn btn-primary" onclick="sub_qy();">{:lang('Save')}</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#start_datetimepicker").datetimepicker({
        language:"zh-CN",
        format: "yyyy-mm-dd",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left",
        minuteStep: 1,
        bootcssVer:3,
        minView: "month",
//        startDate: new Date()
    }).on('hide', function(event) { //防止时间选择完毕后造成modal取消的问题
        event.preventDefault();
        event.stopPropagation();
    });
    $("#end_datetimepicker").datetimepicker({
        language:"zh-CN",
        format: "yyyy-mm-dd",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left",
        minuteStep: 1,
        bootcssVer:3,
        minView: "month"
//        startDate: new Date()
    }).on('hide', function(event) { //防止时间选择完毕后造成modal取消的问题
        event.preventDefault();
        event.stopPropagation();
    });
    function production(id){
        location.href="{:url('manage/shop/productions')}?id="+id;
    }

    //个人电商的编辑
    function editGrshop(shop_id){
        $.ajax({
            url:"{:url('manage/shop/getShopInfoById')}",
            method:'post',
            dataType:'json',
            data: {id: shop_id},
            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
            success: function(res){
                if(res.code != 200){
                    alertMsg(res.msg);
                }else{
                    fillModal_gr(res.data);
                    $('#myModal_gr').modal('show')
                }
            },
            error:function(){
                alertMsg("{:lang('Operation fail')}");
            }
        })
    }

    function fillModal_gr(data){
        $('#id_gr').val(data.id);
        $('#edit_shopname_gr').val(data.name);
        $('#edit_create_time').val(data.create_time);
        $('#edit_update_time').val(data.update_time);
        $('#preview').html("<img src="+"{$Think.config.grImgPath}"+data.img+" />");
        $('#sdl_preference_gr').find("option[value="+data.sdl_preference+"]").prop("selected",true);
        $('#health_auth_gr').find("option[value="+data.health_auth+"]").prop("selected",true);
        $('#sdl_auth_gr').find("option[value="+data.sdl_auth+"]").prop("selected",true);
        $('#edit_status_gr').find('option[value='+data.status+']').prop("selected",true);
    }

    function sub(){
        var id = $('#id_gr').val();
        var name = $('#edit_shopname_gr').val();
        var status = $('#edit_status_gr').val();
        var sdl_preference = $('#sdl_preference_gr').val();
        var health_auth = $('#health_auth_gr').val();
        var sdl_auth = $('#sdl_auth_gr').val();
        if( name == '' || name == 'undefined' || name == null ){
            alertMsg("{:lang('Production Name Require')}");
            return false;
        }
        var data = {id: id, name: name, status: status , sdl_preference: sdl_preference, health_auth: health_auth,sdl_auth: sdl_auth};
        $.ajax({
            url:"{:url('manage/shop/saveGrshop')}",
            method:'post',
            dataType:'json',
            data: {data: JSON.stringify(data)},
            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
            success: function(res){
                if(res.code != 200){
                    alertMsg(res.msg);
                }else{
                    alertMsg(res.msg);
                    window.location.href = '';
                }
            },
            error:function(){
                alertMsg("{:lang('Operation fail')}");
            }
        })
    }

    //企业电商的编辑
    function editQyshop(shop_id){
        $.ajax({
            url:"{:url('manage/shop/getShopInfoById')}",
            method:'post',
            dataType:'json',
            data: {id: shop_id},
            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
            success: function(res){
                if(res.code != 200){
                    alertMsg(res.msg);
                }else{
                    fillModal_qy(res.data);
                    $('#myModal_qy').modal('show')
                }
            },
            error:function(){
                alertMsg("{:lang('Operation fail')}");
            }
        })
    }

    function fillModal_qy(data){
        $('#id_qy').val(data.id);
        $('#name_qy').val(data.name);
        $('#desc_qy').val(data.desc);
        $('#notify_qy').val(data.notify);
        $('#preview_qy').html("<img src="+data.img+" />");
        $('#personName_qy').val(data.personName);
        $('#bank_qy').val(data.bank);
        $('#cardNumber_qy').val(data.cardNumber);
        $('#sdl_preference_qy').find("option[value="+data.sdl_preference+"]").prop("selected",true);
        $('#health_auth_qy').find("option[value="+data.health_auth+"]").prop("selected",true);
        $('#sdl_auth_qy').find("option[value="+data.sdl_auth+"]").prop("selected",true);
        $('#status_qy').find('option[value='+data.status+']').prop("selected",true);
        $('#category').find('option[value='+data.category+']').prop("selected",true);
    }

    function sub_qy(){
        $('#sub').prop('disabled',true);
        var id = $('#id_qy').val();
        var name = $('#name_qy').val();
        var img = document.getElementById("img_qy").files[0];
        var desc =$('#desc_qy').val();
        var notify =$('#notify_qy').val();
        var personName =$('#personName_qy').val();
        var bank =$('#bank_qy').val();
        var category =$('#category').val();
        var status =$('#status_qy').val();
        var cardNumber =$('#cardNumber_qy').val();
        var sdl_preference =$('#sdl_preference_qy').val();
        var health_auth =$('#health_auth_qy').val();
        var sdl_auth =$('#sdl_auth_qy').val();
        if(name == ''|| name =='undefined'||name==null){
            alertMsg('{:lang("Shop Name Require")}',2);
            $('#sub').prop('disabled',false);
            return false;
        }
        if(desc == ''|| desc =='undefined'||desc==null){
            alertMsg('{:lang("Shop Desc Require")}',2);
            $('#sub').prop('disabled',false);
            return false;
        }
        if($('#img').val()==""){
            alertMsg('{:lang("Shop Img Require")}');
            $('#sub').prop('disabled',false);
            return false;
        }
        if(personName == ''|| personName =='undefined'||personName==null){
            alertMsg('{:lang("Shop PersonName Require")}',2);
            $('#sub').prop('disabled',false);
            return false;
        }
        if(bank == ''|| bank =='undefined'||bank==null){
            alertMsg('{:lang("Shop Bank Require")}',2);
            $('#sub').prop('disabled',false);
            return false;
        }
        if(cardNumber == ''|| cardNumber =='undefined'||cardNumber==null){
            alertMsg('{:lang("Shop cardNumber Require")}',2);
            $('#sub').prop('disabled',false);
            return false;
        }
        var formData = new FormData();
        formData.append('id',id);
        formData.append('name',name);
        formData.append('desc',desc);
        formData.append('notify',notify);
        formData.append('personName',personName);
        formData.append('bank',bank);
        formData.append('category',category);
        formData.append('cardNumber',cardNumber);
        formData.append('status',status);
        formData.append('sdl_preference',sdl_preference);
        formData.append('health_auth',health_auth);
        formData.append('sdl_auth',sdl_auth);
        formData.append('img',img);
        $.ajax({
            url: "{:url('manage/shop/saveQyshop')}",
            type: "POST",
            dataType:"json",
            data: formData,
            contentType: false,
            processData: false,
            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
            success:function (res) {
                if(res.code==200){
                    alertMsg(res.msg,3);
                    setTimeout(function(){ window.location.href = ''},2000);
                }else{
                    alertMsg(res.msg,3);
                    $('#sub').prop('disabled',false);
                }
            },
            error: function () {
                alertMsg("{:lang('Operation fail')}");
                $('#sub').prop('disabled',false);
            }
        });
    }
</script>
<script>
    window.onload = function(){
        var img = $('#img_qy');
        if ( typeof(FileReader) === 'undefined' ){
            alert("抱歉，你的浏览器不支持 FileReader，请使用现代浏览器操作！");
            img.setAttribute( 'disabled','disabled' );
        }
    }

    $('#img_qy').change(function(){
        var file = this.files[0];
        //这里我们判断下类型如果不是图片就返回 去掉就可以上传任意文件
        if(!/image\/\w+/.test(file.type)){
            alert("请确保文件为图像类型");
            return false;
        }
        $('#preview_qy').empty();
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function(e){
            createCanvas(this.result);
        }
    })

    function createCanvas(src){
        var canvas = document.createElement('CANVAS');
        var cxt = canvas.getContext('2d');
        var img = new Image();
        img.src = src;
        img.onload = function() {
            var maxHeight = 200;
            var maxWidth=  200;
            if(img.height > img.width){
                if(img.height > maxHeight){
                    img.width *= maxHeight/img.height;
                    img.height = maxHeight;
                }
            }else{
                if(img.width > maxWidth){
                    img.height *= maxWidth/img.width;
                    img.width = maxWidth;
                }
            }
            canvas.width = img.width;
            canvas.height = img.height;
            cxt.drawImage(img,0,0,img.width,img.height);
            var base64 = canvas.toDataURL("image/jpeg");
            var preview = $('<img />');
            preview.attr('src',base64);
            $('#preview_qy').append(preview);
        }
    }
</script>

                   
