
<div id="content" style="opacity: 1; background-color: #e6e6e6; border: 1px #cccccc solid; margin-bottom: 40px;">
    <section id="widget-grid">
        <div class="row">
            <div class=" table-responsive">
                <div class="ibox float-e-margins" style="padding: 10px">
                    <!-- 表单内容 -->
                    <div class="ibox-title" style="background-color: #2377AF; color: #ffffff;">
                        <h5>虚拟币列表</h5>
                    </div>
                    <div class="ibox-content form-horizontal">
                        <div class="form-group">
                            <div  class="col-sm-2">
                                <button style="float: left;" onclick="slide_add()" class="btn btn-primary" type="button"  >{:lang('Add')}</button>
                            </div>

                        </div>
                        <div>
                            <table class="table table-bordered" data-striped="true" data-toolbar="#toolbar" data-show-columns="true" data-page-size="10" data-page-list="" data-unique-id="id" data-pagination="true" data-side-pagination="server" data-click-to-select="false">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>虚拟币名称</th>
                                    <th>虚拟币价格</th>
                                    <th>虚拟币标识</th>
                                    <th>{:lang('Operate')}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name='coin_list' id='vo' key='k'}
                                <tr>
                                    <td>{$k}</td>
                                    <td>{$vo.name ?? '-'}</td>
                                    <td>{$vo.price ?? '-'}</td>
                                    <td>{$vo.code ?? '-'}</td>
                                    <td><button class="btn btn-primary" onclick="register_edit('{$vo.id}')">{:lang('Edit')}</button> &nbsp;<button class="btn btn-danger" onclick="deleteSlide('{$vo.id}')">{:lang('Delete')}</button></td>
                                </tr>
                                {/volist}
                                </tbody>
                            </table></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">修改/添加虚拟币</h4>
            </div>

            <div class="modal-body form-horizontal">
                <input type="hidden" id="id" name="id" />
                <div class="form-group">
                    <label for="name" class="col-md-2 control-label">虚拟币名称</label>
                    <div class="col-md-10">
                        <input id="name" name="name" class="form-control" type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="price" class="col-md-2 control-label">虚拟币价格</label>
                    <div class="col-md-10">
                        <input id="price" name="price" class="form-control" type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="code" class="col-md-2 control-label">虚拟币标识</label>
                    <div class="col-md-10">
                        <input id="code" name="code" class="form-control" type="text"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{:lang('Cancel')}</button>
                <button type="button" id="sub" class="btn btn-primary" onclick="sub();">{:lang('Save')}</button>
            </div>

        </div>
    </div>
</div>
<script>
    function slide_add(){
        clearModal();
        $('#myModal').modal('show');
    }

    function clearModal(){
        $('#id').val('');
        $('#desc').val('');
    }

    function register_edit(id){
        $.ajax({
            url:"{:url('admin/coin/getCoinInfoById')}",
            method:'post',
            dataType:'json',
            data: {id: id},
            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
            success: function(res){
                if(res.code != 200){
                    alertMsg(res.msg);
                }else{
                    clearModal();
                    fillModal(res.data);
                    $('#myModal').modal('show')
                }
            },
            error:function(){
                alertMsg("{:lang('Operation fail')}");
            }
        })
    }

    function fillModal(data){
        $('#id').val(data.id);
        $('#name').val(data.name);
        $('#price').val(data.price);
        $('#code').val(data.code);
    }

    function sub(){
        $('#sub').prop('disabled',true);
        var id = $('#id').val();
        var name = $('#name').val();
        var price = $('#price').val();
        var code = $('#code').val();
        var formData = new FormData();
        if(!name){
            alertMsg("虚拟币名称不能为空！");
            $('#sub').prop('disabled',false);
            return;
        }
        formData.append('id',id);
        formData.append('name',name);
        formData.append('price',price);
        formData.append('code',code);
        $.ajax({
            url: "{:url('admin/coin/saveCoin')}",
            type: "POST",
            dataType:"json",
            data: formData,
            contentType: false,
            processData: false,
            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
            success:function (res) {
                if(res.code != 200){
                    alertMsg(res.msg);
                }else{
                    alertMsg(res.msg);
                    setTimeout(function(){window.location.href=''},2000)
                }
            },
            error: function () {
                alertMsg("操作失败");
                $('#submitBtn').prop('disabled',false);
            }
        });
    }

    function deleteSlide(id){
        alertConfirm('确定删除？',function(){
            $.ajax({
                url:"{:url('admin/coin/deleteCoinById')}",
                method:'post',
                dataType:'json',
                data: {id: id},
                beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
                success: function(res){
                    if(res.code != 200){
                        alertMsg(res.msg,2);
                    }else{
                        alertMsg(res.msg,2);
                        setTimeout(function(){window.location.href=''},3000)
                    }
                },
                error:function(){
                    alertMsg("{:lang('Operation fail')}");
                }
            })
        })
    }
</script>


