{__NOLAYOUT__}
<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>社區簡介</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="alternate icon" type="image/png" href="__front__/assets/i/favicon.png">
  <link rel="stylesheet" href="__front__/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="__front__/assets/css/yuan.css"/>
  <style>
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
  </style>
</head>
<body>
	<!--页头-->
	<header class="am-header"  style="background-color:#6275F8;background-size: cover;">
	  <h1 class="am-header-title" style="color:white;font-size:18px;margin:0;">
			<a  class="am-icon-angle-left" href="{:url('front/user/about')}" style="color:white;float:left;"></a>
			社區簡介    
	  </h1>
  </header>
	<!--页头结束-->

	<div class="about_container">
		<h6 style="margin-top:40px;">舍得社區服務</h6>
		<p>久久舍得社區， 是壹家專註於區塊鏈技術，實體產品與數字資產交流的技術及應用孵化， 目標是為用戶提供更加安全、便捷的區塊鏈資產服務，優質的平臺。</p>
			
		<h6>社區的特點</h6>
		<p>1.安全穩定：無論是用戶資產還是支付記錄都有妥善的管理和監控。</p>
    <p>2.多語言支持：目前提供繁體中文，未來會提供世界範圍內多種主流語言支持。</p>
    <p>3.多方面：幣礦鏈全產業鏈旗下不僅擁社區錢包，另有實體產品，後續也會開發微信商城等各種商業服務模式，力爭打造數字資產的全生態環境。</p>
      
    <h6>我們的優勢</h6>  
    <p>陸空皆有：線上錢包資產，線下實體產品，用心打造打造堅實的數字資產皆優質產品孵化服務業平臺。</p>  
	


	</div>

</body>
</html>

