<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <title>Hello Amaze UI</title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="icon" type="image/png" href="__front__/assets/i/favicon.png">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="__front__/assets/i/app-icon72x72@2x.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="__front__/assets/i/app-icon72x72@2x.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">

  <link rel="stylesheet" href="__front__/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="__front__/assets/css/app.css">
  <link type="text/css" href="__front__/css/jq22.css" rel="stylesheet" />
  <!--font-->
	<link rel="stylesheet" type="text/css" href="__front__/font/iconfont.css">
	<script src="__front__/font/iconfont.js"></script>
  
  <script src="https://cdn.bootcss.com/jquery/3.3.0/jquery.min.js"></script>
  <script type="text/javascript" src="__front__/js/jq22.js"></script>
</head>
<body>
	<!--页头-->
	<div class="user-header">

      <h1 class="">
          		我的賬戶
      </h1>
            {if condition="session('users')"}
                <div class="loginBtn"><a href="{:url('front/user/myprofile')}" class="am-btn am-round">欢迎,{$Think.session.users.tel}</a>
                </div>
            {else /}
                <div class="loginBtn">
                    <a href="{:url('front/user/login')}" class="am-btn am-round">登錄</a>
                </div>
            {/if}
  </div>
    <input type="hidden" id="nav" value="nav4"/>
	<!--页头结束-->
<div class="am-g">
  <div class="am-u-sm-6"><a href="{:url('front/pay/wallet_address')}"><span style="padding-right:7px;"><i class="icon iconfont icon-qianbao"></i></span><span>錢包地址</span></div></a>
  <div class="am-u-sm-6"><a href="{:url('front/pay/key')}"><span style="padding-right:7px;"><i class="icon iconfont icon-3"></i></span><span>錢包密鑰</span></div></a>
</div>
	<div class="row" style="margin-top: 20px;padding:0 16px;height: 44px;line-height: 44px;background: white;border-bottom: 1px solid #E2E1E1;">
		<a href="{:url('front/pay/myasset')}"><span style="padding-right:7px;"><i class="icon iconfont icon-zichan" style="vertical-align: middle;"></i></span><span>我的資產</span></a>
	</div>
	<div class="row" style="padding:0 16px;height: 44px;line-height: 44px;background: white;">
		<a href="{:url('front/pay/bill')}"><span style="padding-right:7px;"><i class="icon iconfont icon-zhangdan-" style="vertical-align: middle;"></i></span><span>賬單</span></a>
	</div>
	<div onclick="toSetup()" class="row" style="margin-top: 20px;padding:0 16px;height: 44px;line-height: 44px;background: white;">
		<a href="#"><span style="padding-right:7px;"><i class="icon iconfont icon-shezhi01" style="vertical-align: middle;"></i></span><span>設置</span></a>
	</div>


<!--在这里编写你的代码-->

<!--[if (gte IE 9)|!(IE)]><!-->
<!--<script src="assets/js/jquery.min.js"></script>-->
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="__front__/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="__front__/assets/js/amazeui.min.js"></script>
</body>
</html>
<script>
    function toSetup(){
        location.href="{:url('front/user/setUp')}";
    }

</script>
