{__NOLAYOUT__}
<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Login</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="alternate icon" type="image/png" href="__front__/assets/i/favicon.png">
  <link rel="stylesheet" href="__front__/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="__front__/assets/css/yuan.css"/>

  <!--font-->
	<link rel="stylesheet" type="text/css" href="__front__/font/iconfont.css">
	<script src="__front__/font/iconfont.js"></script>
	<script src="__front__/js/jquery-1.10.1.min.js"></script>
</head>
<body>
	<!--页头-->
	<header class="am-header" style="background-image:url(img/header1.jpg) ;background-size: cover;">
	  <h1 class="am-header-title" style="color:white;font-size:18px;margin:0;">
			<a href="login.html" style="color:white;float:left;"><i class="icon iconfont icon-huida"></i></a>	
			註冊     
	  </h1>
  </header>
	<!--页头结束-->

	<div class="register_container">
			<div class="reg_inner">
				<span>邀請碼</span>
				<input class="notNull" placeholder="輸入邀請碼" style="margin-left:36px;" />
			</div>
			<div class="reg_inner">
				<span>手機號</span>
				<input class="notNull" placeholder="輸入手機號" style="margin-left:36px;"/>
			</div>
			<div class="reg_inner">
				<span>驗證碼</span>
				<input class="notNull"  placeholder="短信驗證碼" style="margin-left:36px;width: 30%;"/>
				<div class="get_code">獲取短信驗證碼</button>
			</div>
			<div class="reg_inner">
				<span>密碼</span>
				<input class="notNull"  placeholder="建議不少於8位,包含字母數字" style="margin-left:52px;width: 65%;"/>
			</div>
			<div class="reg_inner">
				<span>確認密碼</span>
				<input class="notNull"  placeholder="建議不少於8位,包含字母數字" style="margin-left:19px;width: 65%;"/>
			</div>
			
			<div class="reg_btn" onclick="sub()">
				註冊
			</div>
			<p class="remark">*點擊註冊,即表示同意使用<a href="{:url('front/user/userAgreement')}">《久久捨得社區平台使用協議》</a></p>
	</div>
  <footer class="reg_footer">
  	已有賬戶,<a href="login.html">現在登錄</a>
  </footer>

</body>
</html>
<script>
       function sub(){
           $
       }
</script>
