{__NOLAYOUT__}
<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>用戶協議</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="alternate icon" type="image/png" href="__front__/assets/i/favicon.png">
  <link rel="stylesheet" href="__front__/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="__front__/assets/css/yuan.css"/>
  <!--font-->
	<link rel="stylesheet" type="text/css" href="__front__/font/iconfont.css">
	<script src="__front__/font/iconfont.js"></script>
  <style>
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
  </style>
</head>
<body>
	<!--页头-->
	<header class="am-header"  style="background-color:#6275F8;background-size: cover;">
	  <h1 class="am-header-title" style="color:white;font-size:18px;margin:0;">
			<a  href="register.html" style="color:white;float:left;"><i class="icon iconfont icon-huida"></i></a>	
			用戶協議    
	  </h1>
  </header>
	<!--页头结束-->

	<div class="user_agreement_container">
	<h6>久久捨得社區區塊鏈錢包《風險提示公告》</h6>

	<p style="text-align:center;">尊敬的全球用戶您好，歡迎您使用加入久久捨得社區。</p>
	<p>久久捨得社區運用區塊鏈技術推出的公有鏈平臺，數位專用轉換資產錢包。用戶選擇在久久捨得社區註冊成正式用戶時，即視為仔細閱讀過本風險提示公告，並自願承擔市場風險，風險內容如下：</p>
	<p>一、市場風險</p>
	<p>在社區錢包資產免費領取時，由於標的可能會產生收益，也可能沒有價值，久久捨得社區不承擔任何責任。</p>
	<p>二、自然風險</p>
	<p>由於標的的發行方出現不可抗拒因素、運營的平臺發生重大變化或其它原因（諸如地震、颱風、火災、水災、戰爭等）導致系統停運，久久捨得社區將不承擔用戶引發的經濟和法律責任。</p>
	<p>三、交易風險</p>
	<p>在久久捨得社區在資產免費贈送出時，由於市場的需求原因在久久捨得社區領取資產，在國際數位資產交易平臺或場外擔保交易平臺，交易時價格漲跌幅巨變，對註冊的用戶產生收益或者虧損，交易完全屬於使用者自願行為，久久捨得社區不承擔任何責任。</p>
	<p>四、平臺的初心</p>
	<p>目的是推動全球區塊鏈技術發展及應用領域，並通過開展特定的活動建立區塊鏈行業技術及應用的相關標準及區塊鏈應用大資料，促進區塊鏈技術的理性及健康成長。久久捨得社區嚴格遵守各國家法律法規，堅持以創新的思維，公益的文化、開放的平臺進入全球領域。久久捨得社區未來既有傳承久遠、包容天下的和諧精神，為更多的區塊鏈使用者打造出數字金融財富。</p>

	</div>

</body>
</html>

