{__NOLAYOUT__}

<form data-method="post" data-action="{:url('admin/area/saveData')}" data-submit="ajax" data-validate="true" class="form-horizontal">
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">{$data['id']?lang('Edit'):lang('Add')}{:lang('Area')}</h3>
                </div>
                <input type="hidden" name="id" value="{$data.id ?? ''}">
                <div class="modal-body">
                    <div class="modal-body-content">
                        <div class="form-group must">
                            <label class="col-sm-3 control-label">{:lang('Area Name')}</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="name" maxlength="50"  placeholder="{:lang('Up_characters',['langth' =>50])}" required value="{$data.name ?? ''}">
                            </div>
                        </div>
                    </div>
                    <div class="modal-body-content">
                        <div class="form-group must">
                            <label class="col-sm-3 control-label">{:lang('Area Belong')}</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="belong"  required value="{$data.belong ?? ''}">
                            </div>
                        </div>

                    </div>
                    <div class="modal-body-content">
                        <div class="form-group must">
                            <label class="col-sm-3 control-label">{:lang('Area Desc')}</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="desc"  value="{$data.desc ?? ''}">
                                <input type="hidden" id="province" name="province" value="{$data.province?? ''}" />
                                <input type="hidden" id="city" name="city" value="{$data.city?? ''}" />
                                <input type="hidden" id="district" name="district" value="{$data.district?? ''}" />
                                <input type="hidden" id="point_lng" name="point_lng" value="{$data.point_lng?? ''}" />
                                <input type="hidden" id="point_lat" name="point_lat" value="{$data.point_lat?? ''}" />
                            </div>
                        </div>

                    </div>
                    <div class="modal-body-content">
                        <div class="form-group must">
                            <label class="col-sm-3 control-label">{:lang('Area Address')}</label>
                            <div class="col-sm-7">
                                <input type="text" readonly id="address" class="form-control" name="address" required value="{$data.address??''}">
                            </div>
                        </div>

                    </div>
                    <div id="check_map" style="display:none;" >
                        <hr/>
                        请输入：<input type="text" id="suggestId"  style="width:250px">
                        <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
                        <div id="l-map"></div>
                    </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{:lang('Cancel')}</button>
                    <button type="submit" class="btn btn-primary">{:lang('Save')}</button>
                </div>
            </div>
            </div>
        </div>
    </div>
</form>
<script>
     $('#address').click(function(){
        $('#check_map').show();
    })
</script>
<script type="text/javascript">
    // 百度地图API功能
    function G(id) {
        return document.getElementById(id);
    }

    var map = new BMap.Map("l-map");
    map.centerAndZoom("北京",12);                   // 初始化地图,设置城市和地图级别。
    function theLocation(){
        var city = document.getElementById("cityName").value;
        if(city != ""){
            map.centerAndZoom(city,11);      // 用城市名设置地图中心点
        }
    }
    map.enableScrollWheelZoom();   //启用滚轮放大缩小，默认禁用
    map.enableContinuousZoom();    //启用地图惯性拖拽，默认禁用
    var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
            {"input" : "suggestId"
                ,"location" : map
            });

    ac.addEventListener("onhighlight", function(e) {  //鼠标放在下拉列表上的事件
        var str = "";
        var _value = e.fromitem.value;
        var value = "";
        if (e.fromitem.index > -1) {
            value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
        }
        str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

        value = "";
        if (e.toitem.index > -1) {
            _value = e.toitem.value;
            value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
        }
        str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
        G("searchResultPanel").innerHTML = str;
    });

    var myValue;
    ac.addEventListener("onconfirm", function(e) {    //鼠标点击下拉列表后的事件
        var _value = e.item.value;
        myValue = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
        G("searchResultPanel").innerHTML ="onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;
        setPlace();
        setTimeout(function(){
            //  根据PP  获取当前省市区
            var point = new BMap.Point(map.getCenter().lng,map.getCenter().lat);
            var geoc = new BMap.Geocoder();
            geoc.getLocation(point, function(rs){
                var addComp = rs.addressComponents;
                $('#address').val(addComp.province  + addComp.city  + addComp.district + addComp.street  + addComp.streetNumber);
                $('#province').val(addComp.province);
                $('#city').val(addComp.city);
                $('#district').val(addComp.district);
                $('#point_lng').val(rs.point.lng);
                $('#point_lat').val(rs.point.lat);
            });
        },500);
    })

    function setPlace(){
        map.clearOverlays();    //清除地图上所有覆盖物
        function myFun(){
            var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
            map.centerAndZoom(pp, 18);
            map.addOverlay(new BMap.Marker(pp));    //添加标注
        }

        var local = new BMap.LocalSearch(map, { //智能搜索
            onSearchComplete: myFun
        });
        local.search(myValue);
    }


    var overlays = [];
    var overlaycomplete = function(e){
        map.removeOverlay(overlays[overlays.length-1]);
        overlays.push(e.overlay);
    };
    var styleOptions = {
        strokeColor:"red",    //边线颜色。
        fillColor:"red",      //填充颜色。当参数为空时，圆形将没有填充效果。
        strokeWeight: 3,       //边线的宽度，以像素为单位。
        strokeOpacity: 0.8,	   //边线透明度，取值范围0 - 1。
        fillOpacity: 0.6,      //填充的透明度，取值范围0 - 1。
        strokeStyle: 'solid' //边线的样式，solid或dashed。
    }
    //实例化鼠标绘制工具
    var drawingManager = new BMapLib.DrawingManager(map, {
        isOpen: true, //是否开启绘制模式
        enableDrawingTool: false, //是否显示工具栏
        drawingToolOptions: {
            anchor: BMAP_ANCHOR_TOP_RIGHT, //位置
            offset: new BMap.Size(5, 5) //偏离值
        },
        circleOptions: styleOptions, //圆的样式
        polylineOptions: styleOptions, //线的样式
        polygonOptions: styleOptions, //多边形的样式
        rectangleOptions: styleOptions //矩形的样式
    });
    //添加鼠标绘制工具监听事件，用于获取绘制结果
    drawingManager.addEventListener('overlaycomplete', overlaycomplete);
    function clearAll() {
        for(var i = 0; i < overlays.length; i++){
            map.removeOverlay(overlays[i]);
        }
        overlays.length = 0
    }

    var geoc = new BMap.Geocoder();
    map.addEventListener("click", function(e){
        var pt = e.point;
        geoc.getLocation(pt, function(rs){
            var addComp = rs.addressComponents;
            $('#address').val(addComp.province  + addComp.city  + addComp.district + addComp.street  + addComp.streetNumber);
            $('#province').val(addComp.province);
            $('#city').val(addComp.city);
            $('#district').val(addComp.district);
            $('#point_lng').val(e.point.lng);
            $('#point_lat').val(e.point.lat);
        });
    });
</script>
