{__NOLAYOUT__}

<form data-method="post" data-action="{:url('admin/area/saveData')}" data-submit="ajax" data-validate="true" class="form-horizontal">
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">{$data['id']?lang('Edit'):lang('Add')}{:lang('Area')}</h3>
                </div>
                <input type="hidden" name="id" value="{$data.id ?? ''}">
                <div class="modal-body">
                    <div class="modal-body-content">
                        <div class="form-group must">
                            <label class="col-sm-3 control-label">{:lang('Area Name')}</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="name" maxlength="50"  placeholder="{:lang('Up_characters',['langth' =>50])}" required value="{$data.name ?? ''}">
                            </div>
                        </div>
                    </div>
                    <div class="modal-body-content">
                        <div class="form-group must">
                            <label class="col-sm-3 control-label">{:lang('Area Belong')}</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="belong"  required value="{$data.belong ?? ''}">
                            </div>
                        </div>

                    </div>
                    <div class="modal-body-content">
                        <div class="form-group must">
                            <label class="col-sm-3 control-label">{:lang('Area Desc')}</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="desc"  value="{$data.desc ?? ''}">
                                <input type="hidden" id="province" name="province" value="{$data.province?? ''}" />
                                <input type="hidden" id="city" name="city" value="{$data.city?? ''}" />
                                <input type="hidden" id="district" name="district" value="{$data.district?? ''}" />
                                <input type="hidden" id="point_lng" name="point_lng" value="{$data.point_lng?? ''}" />
                                <input type="hidden" id="point_lat" name="point_lat" value="{$data.point_lat?? ''}" />
                            </div>
                        </div>

                    </div>
                    <div class="modal-body-content">
                        <div class="form-group must">
                            <label class="col-sm-3 control-label">{:lang('Area Address')}</label>
                            <div class="col-sm-7">
                                <input type="text" readonly id="address" class="form-control" name="address" required value="{$data.address??''}">
                            </div>
                        </div>

                    </div>
                    <div id="check_map" style="display:none;" >
                        <hr/>
                        请输入：<input type="text" id="suggestId"  style="width:250px">
                        <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
                        <div id="l-map"></div>
                    </div>

                <div class="modal-footer">
                    <button type="button" onclick="removemap()" class="btn btn-default" data-dismiss="modal">{:lang('Cancel')}</button>
                    <button type="submit" class="btn btn-primary">{:lang('Save')}</button>
                </div>
            </div>
            </div>
        </div>
    </div>
</form>
<script>
     $('#address').click(function(){
        $('#check_map').show();
         InitialMap();
    })
</script>
