<!-- Data Tables -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
        body, html{width: 100%;height: 100%;margin:0;font-family:"微软雅黑";font-size:14px;}
        #l-map{height:500px;width:100%;}
        #r-result{width:100%;}
        .tangram-suggestion-main{
            z-index: 3560;
        }
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Ol3k1b7wmneq1hNvlvWcnIEftNwOrMj1"></script>
    <!--加载鼠标绘制工具-->
    <script type="text/javascript" src="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.js"></script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.css" />
    <!--加载检索信息窗口-->
    <script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.4/src/SearchInfoWindow_min.js"></script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.4/src/SearchInfoWindow_min.css" />
</head>
<div id="content" style="opacity: 1; background-color: #e6e6e6; border: 1px #cccccc solid; margin-bottom: 40px;">
    <section id="widget-grid">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins" style="background: white">
                    <!-- 表单标题概要 -->
                    <div class="ibox-title" style="background-color: #2377AF; color: #ffffff;">
                        <h5>{:lang('Area Manage')}</h5>
                    </div>
                    <!-- 表单内容 -->
                    <div class="ibox-content">
                        <!-- 用户控件（操作） -->
                        {toolbar id="toolbar"}

                        {/toolbar}
                        <!-- 表格数据 -->
                        <div class="table-responsive">
                            <table id="table" data-toggle="gridview" class="table table-bordered" data-url="{:url('admin/area/getList')}" data-striped="true" data-toolbar="#toolbar" data-show-columns="true" data-page-size="10" data-page-list="" data-unique-id="id" data-pagination="true" data-side-pagination="server" data-click-to-select="false">
                                <thead>
                                <tr>
                                    <th data-width="10" data-align="center" data-checkbox="true"></th>
                                    <th data-width="50" data-field="name" >{:lang('Area name')}</th>
                                    <th data-width="80" data-field="belong" data-align="center">{:lang('Area Belong')}</th>
                                    <th data-width="50" data-field="desc" >{:lang('Area Desc')}</th>
                                    <th data-width="50" data-field="address">{:lang('Area Address')}</th>
                                    <th data-width="80" data-field="operate"   data-align="center" data-formatter="operateFormatter" data-events="operateEvents">{:lang('Operate')}</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">

    window.deleteAreaFlag = true;

    function operateFormatter(value, row, index) {
        return [
            '<a class="btn btn-xs edit" href="javascript:void(0)" title="{$Think.lang.Edit}">',
            '<i class="fa fa-edit"></i>',
            '</a>  ',
            '<a class="btn btn-xs delete" href="javascript:void(0)" title="{$Think.lang.Delete}">',
            '<i class="fa fa-trash"></i>',
            '</a>'
        ].join('');
    }

    var operateEvents = {
        'click .edit': function (e, value, row, index) {
            var param = {
                url: "{:url('admin/area/edit');}",
                data: {id: row.id}
            }
            $("#table").gridView('loadModal', param.url,param.data)
        },
        'click .delete': function (e, value, row, index) {
            $("#table").gridView('deleteModal', 'delete', row)

        }
    };
</script>


