<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class=" table-responsive">
            <div class="ibox float-e-margins" style="background: white;padding: 10px">
                <div class="ibox-content">
                    <form id="commentForm" class="form-horizontal">
                        <div class="form-group">
                            <label for="oldpasswd" class="col-sm-2 control-label">{:lang('Old Password')}:</label>
                            <div class="col-sm-6">
                                <input class="form-control" name="oldpasswd" id="oldpasswd"  >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="newpasswd" class="col-sm-2 control-label">{:lang('New Password')}:</label>
                            <div class="col-sm-6">
                                <input class="form-control" name="newpasswd" id="newpasswd"  >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="surepasswd" class="col-sm-2 control-label">{:lang('Sure Password')}:</label>
                            <div class="col-sm-6">
                                <input class="form-control"  name="surepasswd" id="surepasswd" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label"></label>
                            <div class="col-sm-7">
                                <button style="float: right" class="btn btn-primary col-sm-2" type="button" onclick="saveData()" >{:lang('Button')}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $().ready(function(){
        $("#commentForm").validate({
            onsubmit:true,
            rules:{
                oldpasswd:{
                    required:true,
                    minlength:6,
                    maxlength:16
                },
                newpasswd:{
                    required:true,
                    minlength:6,
                    maxlength:16
                },
                surepasswd:{
                    required:true,
                    minlength:6,
                    maxlength:16,
                    equalTo:"#newpasswd"
                }
            },
            messages:{
                oldpasswd:{
                    required:"旧密码不能为空",
                    minlength:"最小长度为6位",
                    maxlength:"最大长度为16位"
                },
                newpasswd:{
                    required:"新密码不能为空",
                    minlength:"最小长度为6位",
                    maxlength:"最大长度为16位"
                },
                surepasswd:{
                    required:"确认密码不能为空",
                    minlength:"最小长度为6位",
                    maxlength:"最大长度为16位",
                    equalTo:"两次输入的密码不一致"
                }
            }
        });
    })
    function saveData(){
        var flag = $("#commentForm").valid();
        if(!flag){
            return false;
        }
        var oldpasswd = $('#oldpasswd').val();
        var newpasswd = $('#newpasswd').val();
        var surepasswd = $('#surepasswd').val();
        var meter = {oldpasswd:oldpasswd, newpasswd: newpasswd, surepasswd:surepasswd};
        $.ajax({
            url:"{:url('admin/user/changepasswd')}",
            method:'post',
            dataType:'json',
            data:meter,
            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
            success: function(res){
                alertMsg(res.msg);
                if( res.code == 200 ){
                    setTimeout(function(){window.location.href = ''},1500);
                }
            },
            error:function(){
                alertMsg("{:lang('Operation fail')}");
            }
        })
    }
</script>
                       
