<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class=" table-responsive">
            <div class="ibox float-e-margins" style="background: white;padding: 10px">
                <div class="ibox-content">
                    <form id="commentForm" class="form-horizontal">
                        <div class="form-group">
                            <label for="oldpasswd" class="col-sm-2 control-label">旧密码:</label>
                            <div class="col-sm-6">
                                <input class="form-control" name="oldpasswd" id="oldpasswd"  >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="newpasswd" class="col-sm-2 control-label">新密码:</label>
                            <div class="col-sm-6">
                                <input class="form-control" name="newpasswd" id="newpasswd"  >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="surepasswd" class="col-sm-2 control-label">确认新密码:</label>
                            <div class="col-sm-6">
                                <input class="form-control"  name="surepasswd" id="surepasswd" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label"></label>
                            <div class="col-sm-7">
                                <button style="float: right" class="btn btn-success" type="button" onclick="saveData()" >提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $().ready(function(){
        $("#commentForm").validate({
            onsubmit:true,
            rules:{
                oldpasswd:{
                    minlength:6,
                    maxlength:16
                },
                newpasswd:{
                    minlength:6,
                    maxlength:16
                },
                surepasswd:{
                    minlength:6,
                    maxlength:16
                }
            },
            messages:{
                oldpasswd:{
                    minlength:"最小长度为6位",
                    maxlength:"最大长度为16位"
                },
                newpasswd:{
                    minlength:"最小长度为6位",
                    maxlength:"最大长度为16位"
                },
                surepasswd:{
                    minlength:"最小长度为6位",
                    maxlength:"最大长度为16位"
                }
            }
        });
    })


    function saveData(){
        var flag = $("#commentForm").valid();
        if(!flag){
            return false;
        }
        var oldpasswd = $('#oldpasswd').val();
        var newpasswd = $('#newpasswd').val();
        var surepasswd = $('#surepasswd').val();
        var meter = {oldpasswd:oldpasswd, newpasswd: newpasswd, surepasswd:surepasswd};

//        if( !check(meter) ){
//             return false;
//        }
        $.ajax({
            url:"{:url('admin/user/changepasswd')}",
            method:'post',
            dataType:'json',
            data:meter,
            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
            success: function(res){
                alertMsg(res.msg);
                if( res.code == 200 ){
                    setTimeout(function(){window.location.href = ''},1500);
                }
            },
            error:function(){
                alertMsg("操作失败！");
            }
        })
    }
//    function check(meter){
//        if( meter.oldpasswd == "" || meter.oldpasswd == null || meter.oldpasswd == "undefined"){
//            alertMsg("请先填写旧的密码");
//            return false;
//        }
//        if( meter.newpasswd == "" || meter.newpasswd == null || meter.newpasswd == "undefined"){
//            alertMsg("请先填写新密码");
//            return false;
//        }
//        if(!same(meter)){
//            alertMsg("两次输入的密码不一致");
//            return false;
//        }
//        return true;
//    }
//    function same(meter){
//        if(meter.newpasswd==meter.surepasswd){
//            return true;
//        }
//        return false;
//    }
</script>
                       
