{__NOLAYOUT__}
<form data-method="post" data-action="{:url('admin/MeterParam/saveData')}" data-submit="ajax" data-validate="true" class="form-horizontal">
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">{$data['id']?"修改":"添加"}</h3>
                </div>
                <input type="hidden" name="id" value="{$data.id ?? ''}">
                <div class="modal-body">
                    <div class="modal-body-content">
                        <div class="form-group must">
                            <label class="col-sm-3 control-label">{:lang('Pulse Constant(imp/m³)')}</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="pulseRatio" maxlength="20"  placeholder="{:lang('Up_characters',['langth' =>20])}" required value="{$data.pulseRatio ?? ''}">
                            </div>
                        </div>
                        <div class="form-group must">
                            <label class="col-sm-3 control-label">{:lang('Low Residual Alarm (yuan)')}</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="lowLimit"  required value="{$data.lowLimit ?? ''}">
                            </div>
                        </div>
                        <div class="form-group must">
                            <label class="col-sm-3 control-label">{:lang('Limit Of Overdrawn Account(YUAN)')}</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="overdraftLimit" required value="{$data.overdraftLimit ?? ''}">
                            </div>
                        </div>
                        <div class="form-group must">
                            <label class="col-sm-3 control-label">{:lang('Overdraft Limit Time(day)')}</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="overdraftTime" required value="{$data.overdraftTime ?? ''}">
                            </div>
                        </div>
                        <div class="form-group must">
                            <label class="col-sm-3 control-label">{:lang('Freezetime (day)')}</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="freezeTime" required value="{$data.freezeTime ?? ''}">
                            </div>
                        </div>
                        <div class="form-group must">
                            <label class="col-sm-3 control-label">{:lang('Automatic Reporting Time (Hour)')}</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="uploadTime"  required value="{$data.uploadTime ?? ''}">
                            </div>
                        </div>
                        <div class="form-group must">
                            <label class="col-sm-3 control-label">{:lang('SMS Platform Number')}</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="SMSCode"  required value="{$data.SMSCode ?? ''}">
                            </div>
                        </div>
                        <div class="form-group must">
                            <label class="col-sm-3 control-label">{:lang('Boot Pulse Number')}</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="transformerRatio"  required value="{$data.transformerRatio ?? ''}">
                            </div>
                        </div>
                        <div class="form-group must">
                            <label class="col-sm-3 control-label">{:lang('Upper limit of flow (ton / hour)')}</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="overFlimit" required value="{$data.overFlimit ?? ''}">
                            </div>
                        </div>
                        <div class="form-group must">
                            <label class="col-sm-3 control-label">{:lang('Reserve Field')}</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="tag" required value="{$data.tag ?? ''}">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{:lang('Cancel')}</button>
                            <button type="submit" class="btn btn-primary">{:lang('Save')}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>