<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins" style="background: white;padding: 10px">
                <!-- 表单标题概要 -->
                <div class="ibox-title">
                    <h5>{:lang('MeterParam')}</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
					<table class="table">
						<thead>
							<tr>
								<th>{:lang('MeterParam Name')}</th>
								<th>{:lang('Low Residual Alarm (yuan)')}</th>
								<th>{:lang('Limit Of Overdrawn Account(YUAN)')}</th>
								<th>{:lang('Boot Pulse Number')}</th>
							</tr>
						</thead>
						<tbody>
						{volist name="meter_param" id="val"}
							<tr>
								<td>{$val.tag}</td>
								<td>{$val.lowLimit}</td>
								<td>{$val.overdraftLimit}</td>
								<td>{$val.transformerRatio}</td>
							</tr>
						{/volist}	
						</tbody>
					</table>
			    </div>
			    <div style="float: right">
			 {$meter_param->render()}
			    </div>
            </div>
        </div>
    </div>
</div>