{js href="__JS__/bootstrap-datetimepicker.min.js" /}
{js href="__JS__/bootstrap-datetimepicker.zh-CN.js" /}
{css href="__CSS__/bootstrap-datetimepicker.min.css" /}
<div id="content" style="opacity: 1; background-color: #e6e6e6; border: 1px #cccccc solid; margin-bottom: 40px;">
    <section id="widget-grid">
        <div class="row">
            <div class="col-lg-12" style="float: left; width: 100%;">
                <div class="ibox float-e-margins" style="background: white; float:left; width: 100%;">
                    <!-- 表单标题概要 -->
                    <div class="ibox-title" style="background-color: #2377AF; color: #ffffff;">
                        <h5>{:lang('Remote Valve Control')}</h5>
                    </div>
                    <!-- 表单内容 -->
                    <div class="ibox-content">
                        <form id="save" method="post" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="valve_type" class="col-sm-2 control-label">{:lang('Method Search')}</label>
                                <div class="col-sm-10" id="valve_type" >
                                    <label class="radio radio-inline">
                                        <input type="radio" class="radiobox" checked name="valve_type" value=1>
                                        <span>{:lang('The specified user control')}</span>
                                    </label>
                                    <label class="radio radio-inline">
                                        <input type="radio" class="radiobox" name="valve_type" value=2>
                                        <span>{:lang('The user control area')}</span>
                                    </label>
                                </div>
                            </div>
                            <div id="content_M" style="margin-top: 2vw">
                                <div class="form-group">
                                    <label for="M_Codes" class="col-sm-2 control-label">{:lang('M_Code')}</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control"  name="M_Codes" id="M_Codes" rows=3  placeholder="{:lang("Please enter the user's table number, use ；separation")}" ></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{:lang('Operate')}</label>
                                <div class="col-sm-10">
                                    <label class="radio radio-inline">
                                        <input type="radio" class="radiobox" checked name="option"  value=1>
                                        <span>{:lang('Close Valve')}</span>
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" class="radiobox" name="option"  value=2>
                                        <span>{:lang('Open Valve')}</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" style="margin-top: 2vw">
                                <label class="col-sm-2 control-label">{:lang('Completion Time')}</label>
                                <div class="col-sm-10">
                                    <div class="input-append date">
                                        <input id="datetimepicker" size="20" name="exectime" type="text" class="form-control" required>
                                        <span class="add-on"><i class="icon-th"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <button style="float: right" class="btn btn-success" type="button" onclick="saveData()" >{:lang('Button')}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">
    $("#datetimepicker").datetimepicker({
        language:"zh-CN",
        format: "yyyy-mm-dd hh:ii:ss",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "top-right",
        minuteStep: 1,
        bootcssVer:3,
        startDate: new Date()
    }).on('hide', function(event) { //防止时间选择完毕后造成modal取消的问题
        event.preventDefault();
        event.stopPropagation();
    });

    var html_type_1 = '<div class="form-group">' +
                            '<label for="M_Codes" class="col-sm-2 control-label">表号</label>' +
                            '<div class="col-sm-10">' +
                                '<textarea class="form-control"  name="M_Codes" id="M_Codes" rows=3  placeholder="请输入用户表号,用;号分隔" ></textarea>' +
                            '</div>' +
                    '</div>';
    var html_type_2 = '<div class="form-group"> ' +
                        '<label for="M_Code" class="col-sm-2 control-label">选择地区</label>' +
                        '<div class="col-sm-10">' +
                            '<select class="form-control" id="area" name="area">' +
                                '<option value="">请选择区域</option>' +
                                {foreach $areas as $area}
                                    '<option value="{$area.id}">{$area.name}</option>'+
                                {/foreach}
                            '</select>' +
                            '</div></div>';
    $('input:radio[name="valve_type"]').click(function(){
        var checkval = $('input:radio[name="valve_type"]:checked').val();
        switch(checkval){
            case "1":
                $('#content_M').empty();
                $('#content_M').append(html_type_1);
                break;
            case "2":
                $('#content_M').empty();
                $('#content_M').append(html_type_2);
                break;
        }
    })

    function saveData(){
        var valve_type = $('input:radio[name="valve_type"]:checked').val();
        var option = $('input:radio[name="option"]:checked').val();
        var exectime = $('input[name="exectime"]').val();
        if( !checkExectime(exectime) ){
            return false;
        }
        if( valve_type == "1" ){
            var M_Codes = $('#M_Codes').val();
            if( M_Codes == '' || M_Codes == null || M_Codes == 'undefined' ){
                alertMsg("{:lang('Please fill in the form M_Code first')}");
                return false;
            }
            if( M_Codes.indexOf('；') > 0 ){
                alertMsg('请使用英文;对表号进行分隔');
                return false;
            }
            var data = {valve_type: valve_type, M_Codes: M_Codes, option: option, exectime: exectime};
        }else{
            var area = $('#area').val();
            if( area == '' || area == null || area == 'undefined' ){
                alertMsg("{:lang('Please Search area first')}");
                return false;
            }
            var data = {valve_type: valve_type, area: area, option: option, exectime: exectime};
        }
        $.ajax({
            url:"{:url('admin/valve/saveData')}",
            method:'post',
            dataType:'json',
            data:{data: JSON.stringify(data)},
            beforeSend:function(){}, //覆盖main.js中的方法,否则不能正常使用
            success: function(res){
                alertMsg(res.msg);
                if( res.code == 200 ){
                    setTimeout(function(){window.location.href = ''},1500);
                }
            },
            error:function(){
                alertMsg("{:lang('Operation fail')}");
            }
        })
    }


    function checkExectime(strTime){
        var exectime = eval('new Date(' + strTime.replace(/\d+(?=-[^-]+$)/,function (a) { return parseInt(a, 10) - 1; }).match(/\d+/g) + ')');
        var currentTime = new Date();
        if( exectime <=  currentTime ){
            alertMsg("{:lang('Execution time can not be earlier than current time')}");
            return false;
        }
        return true;
    }
</script>