<div id="content" style="opacity: 1; background-color: #e6e6e6; border: 1px #cccccc solid; margin-bottom: 40px;">
	<section id="widget-grid">
		<div class="row">
			<div class="col-lg-12 table-responsive">
				<div class="ibox float-e-margins" style="background: white">
					<div class="ibox-title" style="background-color: #2377AF; color: #ffffff;">
						<h5>{:lang('price')}{:lang('search')}</h5>
					</div>
					<div class="ibox-content">
						<table class="table table-bordered">
							<thead>
							<tr>
								<th>{:lang('Price Name')}</th>
								<th>{:lang('Price Type')}</th>
								<th>{:lang('Price Period')}</th>
								<th>{:lang('Price First Price')}</th>
								<th>{:lang('Price First Value')}</th>
								<th>{:lang('Price Second Price')}</th>
								<th>{:lang('Price Second Value')}</th>
								<th>{:lang('Price Third Price')}</th>
								<th>{:lang('Price Third Value')}</th>
								<th>{:lang('Price Fourth Price')}</th>
							</tr>
							</thead>
							<tbody>
							{volist name="price" id="val"}
							<tr>
								<td>{$val.name}</td>
								<td>{$val.type}</td>
								<td>{$val.period}</td>
								<td>{$val.first_price}</td>
								<td>{$val.first_val}</td>
								<td>{$val.second_price}</td>
								<td>{$val.second_val}</td>
								<td>{$val.third_price}</td>
								<td>{$val.third_val}</td>
								<td>{$val.fourth_price}</td>
							</tr>
							{/volist}
							</tbody>
						</table>
					</div>
					<div style="float: right">
						{$price->render()}
					</div>
				</div>
			</div>
		</div>
	</section>
</div>